<div class="row add-to-cart">
  <div class="row">
    <div class="col-40 small-button">
      <div class="row">
        <div class="col-50">
          <button class="button" ng-click="addGoodsFavorite()">收藏</button>
        </div>
        <div class="col-50">
          <button class="button" ng-click="tabStateGo(tabIndex.home, 'tab.seller_detail', {sellerId: product.seller_id})">进店</button>
        </div>
      </div>
    </div>
    <div class="col-60">
      <div class="row">
        <div class="col-50">
          <button class="button button-energized" ng-click="addToCart()">{{'product_cart' | translate}}</button>
        </div>
        <div class="col-50">
          <button class="button button-positive" ng-click="goToCart()">立即购买</button>
        </div>
      </div>
    </div>
  </div>
</div>
