<div class="row add-to-cart">
  <div class="row">
    <div class="col-40 small-button">
      <div class="row">
        <div class="col-50">
          <button class="button" ng-disabled="product.good_has_fav" ng-click="addGoodsFavorite()">{{product.favTitle}}</button>
        </div>
        <div class="col-50">
          <button class="button" ui-sref="seller-detail({sellerId: product.seller_id})">进店</button>
        </div>
      </div>
    </div>
    <div class="col-60">
      <div class="row">
        <div class="col-50">
          <button class="button" ng-class="{'bar-stable handle': product.store === 0,'button-energized': product.store !== 0}" ng-disabled="product.store === 0"  ng-click="addToCart()" style="font-weight: 700;">{{'product_cart' | translate}}</button>
        </div>
        <div class="col-50">
          <button class="button" ng-class="{'bar-stable handle': product.store === 0,'button-positive': product.store !== 0}" ng-disabled="product.store === 0" ng-click="goToCart()" style="font-weight: 700;">立即购买</button>
        </div>
      </div>
    </div>
  </div>
</div>
