<ion-view view-title="{{'cart'|translate}}">
  <ion-content>
    <ion-list>
      <div ng-repeat="(channelKey, channel) in cart.natureCart">
        <ion-item class="item item-divider" ng-if="!$first"></ion-item>
        <ion-item class="item">
          <h2>{{channelKey|translate}}</h2>
        </ion-item>

        <div ng-repeat="seller in channel.aSelCart">
          <ion-item class="item item-checkbox item-icon-right item-complex">
            <label class="checkbox" style="width: 50px;">
              <input type="checkbox" ng-model="seller.selected" ng-change="toggleSeller(seller)">
            </label>
            <a class="item-content" href="#/tab/seller/{{seller.seller_info.seller_id}}">{{seller.seller_info.seller_name}}<i class="icon ion-chevron-right icon-accessory"></i></a>
          </ion-item>
          <ion-item class="item" ng-repeat="good in seller.goods_list">
            <div class="item-checkbox">
              <label class="checkbox" style="width: 50px;">
                <input type="checkbox" ng-model="good.selected" ng-change="toggleGood(good)">
              </label>
              <div>
                <div>
                  <a class="item-thumbnail-left" href="#/tab/products/{{good.product_id}}">
                    <img style="margin-left:60px;" ng-src="{{good.thumbnail}}">
                  </a>
                </div>
                <div style="padding-left:120px;">
                  <h2>{{good.name}}</h2>
                  <div class="row">
                    <div class="col">{{good.spec}}</div>
                  </div>
                  <div class="row">
                    <div class="col assertive">{{good.buy_price|currency:'￥'}}</div>
                    <quantity-input class="col-60" ng-model="good.quantity" ng-change="updateGoodQuantity(good)"></quantity-input>
                  </div>
                </div>
              </div>
            </div>
            <ion-option-button class="button-assertive"
                               ng-click="removeGood(good)">
              {{'remove' | translate}}
            </ion-option-button>
          </ion-item>
        </div>
        <ion-item class="item item-button-right">
          <div class="assertive">共计: {{channel.total_item_amount |currency:'￥'}} (不含税 不含运费)</div>
          <button class="button button-energized">{{'submit_order'|translate}}</button>
        </ion-item>
      </div>
    </ion-list>
  </ion-content>
</ion-view>