<ion-view class="cart" view-title="{{'cart'|translate}}">
  <ion-content>
    <div class="text-center padding" ng-if="cartLoaded && !cart"><img style="width:80%;" src="img/no-cart.jpg"></div>
    <ion-list ng-if="!!cart">
      <div class="nature-{{natureKey}}" ng-repeat="(natureKey, nature) in cart.natureCart">
        <ion-item class="item item-divider" ng-if="!$first"></ion-item>
        <ion-item class="nature item">
          <div class="item-checkbox">
            <label class="checkbox">
              <input type="checkbox" ng-model="nature.selected" ng-change="toggleNature(nature)">
            </label>

            <div class="item-name">{{natureKey|translate}}
              <span style="font-size: 10px;padding-left: 0.5em;"
                    ng-if="natureKey === 'bond'">{{'bond_place'|translate}}</span></div>
          </div>

          <ion-option-button class="button-assertive" ng-click="removeNature(nature)">
            {{'remove' | translate}}
          </ion-option-button>
        </ion-item>

        <div ng-repeat="seller in nature.aSelCart">
          <ion-item class="seller item">
            <div class="item-checkbox">
              <label class="checkbox">
                <input type="checkbox" ng-model="seller.seller_info.selected" ng-change="toggleSeller(seller)">
              </label>
              <!--             <a class="item-content" href="#/tab/seller/{{seller.seller_info.seller_id}}">{{seller.seller_info.seller_name}}<i class="icon ion-chevron-right icon-accessory"></i></a> -->
              <div style="color: #4a4a4a;">{{seller.seller_info.seller_name}}</div>
            </div>
            <ion-option-button class="button-assertive"
                               ng-click="removeSeller(seller)">
              {{'remove' | translate}}
            </ion-option-button>

          </ion-item>
          <ion-item class="good item" ng-repeat="good in seller.goods_list">
            <div class="item-checkbox">
              <label class="checkbox">
                <input type="checkbox" class="selt-prdt" ng-model="good.selected" ng-change="toggleGood(good)">
              </label>

              <div class="row row-no-padding">
                <a class="good-thumbnail-test" ui-sref="product({productId: good.product_id})">
                  <img class="vertical-align-middle" ng-src="{{good.thumbnail}}">
                  <!-- <div class="vertical-align-middle" style="border:solid 1px; width:80px;height:80px;">test</div> -->
                </a>

                <div class="good-info col">
                  <h2 style="color:#4a4a4a;font-size:14px;">{{good.name}}</h2>

                  <span>{{good.spec}}</span>

                  <p class="price">{{good.buy_price|currency:'￥'}}</p>

                  <p style="padding: 0; font-size: 12px;">适用税率：{{good.taxRate || 0}}%</p>
                  <quantity-input ng-model="good.quantity" ng-change="updateGoodQuantity(good)"></quantity-input>
                </div>
              </div>
            </div>
            <ion-option-button class="button-assertive" ng-click="removeGood(good)">
              {{'remove' | translate}}
            </ion-option-button>
          </ion-item>
        </div>
        <ion-item class="item checkout-warning" ng-show="nature.lock_btn">
          <div class="item-content">
            <h2 class="text-left positive warning-text">抱歉，您已超过海关限额{{nature.exceed_limit}}元，请选择部分商品进行结算</h2>

            <div class="detail">
              <p>海关规定</p>

              <p>① 消费者购买进口商品，以“个人自用，合理数量”为原则，每单最大购买金额不得超过{{nature.exceed_limit}}元人民币（不含关税）。</p>

              <p>② 如有优惠活动，则{{nature.exceed_limit}}元限值适用于订单优惠后的金额。</p>

              <p>③ 如果订单只含单件不可分割商品，则可以超过{{nature.exceed_limit}}元限值。</p>
            </div>
          </div>
        </ion-item>
        <ion-item class="item item-complex">
          <div class="row row-no-padding">
            <div class="col car-tol-price">
              <div class="item-content car-cont">
                <span>货款总计: {{nature.item_amount |currency:'￥'}}</span>
                <span>税费总计: {{nature.total_taxation_amount |currency:'￥'}}</span>
                <span style="margin-top: 2px;">共计: {{nature.total_item_amount |currency:'￥'}} (不含运费)</span>
              </div>
            </div>
            <button class="col-30 button button-full button-positive" style="margin:0;"
                    ui-sref="tab.cart-checkout({nature: natureKey})"
                    ng-disabled="nature.item_amount<0.01 || nature.lock_btn">
              {{'cart_checkout'|translate}}
            </button>
          </div>
        </ion-item>
      </div>
    </ion-list>
  </ion-content>
</ion-view>
