<ion-view class="cart-payment" view-title="{{'cart_payment'|translate}}" hide-tabs="true">
  <ion-content>
    <ion-list>
      <ion-item class="item-remove-animate item-icon-left item-icon-right" href="#" ng-repeat="payment in cart.payments" ng-click="cart.def_payment = payment; pay(payment);">
        <img class="icon" ng-src="{{payment.image}}">
        <h2>{{payment.payment_name}}</h2>
        <i class="icon ion-chevron-right icon-accessory"></i>
      </ion-item>

      <ion-item class="item-remove-animate item-icon-left item-icon-right" ng-click="tabStateGo(tabIndex.cart, 'tab.iframe')">
        <img class="icon" ng-src="{{payment.image}}">
        <h2>工行测试</h2>
        <i class="icon ion-chevron-right icon-accessory"></i>
      </ion-item>
      
    </ion-list>
  </ion-content>
</ion-view>