<ion-view class="cart-checkout" view-title="{{'cart_order_confirm'|translate}}" hide-tabs="true">
  <ion-content>
    <ion-list>
      <a class="item item-icon-right" address-select="cart.addrlist" ng-model="cart.def_addr" ng-change="checkout()">
        <h2 class="row"><div class="col">收件人: {{cart.def_addr.name}}</div><div class="col">电话: {{cart.def_addr.mobile}}</div></h2>
        <div class="row"><div class="col"><p>收货地址: {{cart.def_addr.area}} {{cart.def_addr.addr}}</p></div></div>
        <i class="icon ion-chevron-right"></i>
      </a>

      <a class="item item-icon-right" idcard-select="cart.cardlist" ng-model="cart.def_cardlist" ng-change="checkout()">
        <h2 class="row"><div class="col">姓名: {{cart.def_cardlist.full_name}}</div></h2>
        <div class="row"><div class="col"><p>身份证号: {{cart.def_cardlist.number}}</p></div></div>
        <i class="icon ion-chevron-right"></i>
      </a>

      <div class="item item-divider">
      </div>
      <div ng-repeat="seller in cart.aSelCart">
        <ion-item class="item item-complex">
          <div class="item-content item-button-right">
            <h2>{{seller.seller_info.seller_name}}</h2>
            <a class="button button-clear button-small button-assertive" shipping-select="seller.shipping_list" ng-model="seller.def_shipping" ng-change="checkout()">{{seller.def_shipping.name}} <i class="icon ion-chevron-right"></i></a>
          </div>
        </ion-item>
        <ion-item class="item item-thumbnail-left" ng-repeat="good in seller.goods_list">
          <img ng-src="{{good.thumbnail}}">
          <h2>{{good.name}}</h2>
          <div class="row">
            <div class="col">{{good.spec}}</div>
          </div>
          <div class="row">
            <div class="col">{{good.buy_price|currency:'￥'}}</div>
            <div class="col text-right">x{{good.quantity}}</div>
          </div>
        </ion-item>
        <ion-item class="item">
          <div class="row">
            <div class="col"><span>运费: </span><span class="assertive">{{seller.def_shipping.price |currency:'￥'}}</span></div>
            <div class="col-40 assertive" style="float:right;">共计: {{seller.total_amount |currency:'￥'}}</div>
          </div>
          <div class="row item-input">
            <label class="item-input-wrapper text-stable">
              <input type="text" ng-model="seller.memo" placeholder="留言">
            </label>
          </div>
        </ion-item>
      </div>
      <div class="item item-divider">
      </div>
      <ion-item class="item item-complex summary" style="padding:10px 30px;">
        <div>货款总计: {{cart.total_item_amount |currency:'￥'}}</div>
        <div>税费总计: {{cart.total_taxation_amount |currency:'￥'}}</div>
        <div class="row row-no-padding">
          <div class="col"><div>运费总计: {{cart.total_freight |currency:'￥'}}</div></div>
          <div class="col"><div style="overflow:visible">订单总计: <div class="assertive total-amount" style="line-height:0;font-weight:200;">{{cart.total_amount |currency:'￥'}}</div></div></div>
        </div>
      </ion-item>
    </ion-list>
  </ion-content>
  <ion-footer-bar align-title="center" class="bar-stable" style="padding: 0px;">
    <div class="button-bar">
      <button class="button button-energized" ng-disabled="!cart.def_addr" ng-click="confirm()">{{'pay_now' | translate}}</button>
    </div>
  </ion-footer-bar>
</ion-view>
