<ion-view class="cart" view-title="{{'cart'|translate}}">
  <ion-content>
    <div class="text-center padding" ng-if="cartLoaded && !cart">{{'cart_empty'|translate}}</div>
    <ion-list ng-if="!!cart">
      <div ng-repeat="(natureKey, nature) in cart.natureCart">
        <ion-item class="item item-divider" ng-if="!$first"></ion-item>
        <ion-item class="item">
          <h2>{{natureKey|translate}}</h2>
        </ion-item>

        <div ng-repeat="seller in nature.aSelCart">
          <ion-item class="seller item item-checkbox item-icon-right item-complex">
            <label class="checkbox">
              <input type="checkbox" ng-model="seller.selected" ng-change="toggleSeller(seller)">
            </label>
            <a class="item-content" href="#/tab/seller/{{seller.seller_info.seller_id}}">{{seller.seller_info.seller_name}}<i class="icon ion-chevron-right icon-accessory"></i></a>
          </ion-item>
          <ion-item class="good item" ng-repeat="good in seller.goods_list">
            <div class="item-checkbox">
              <label class="checkbox">
                <input type="checkbox" ng-model="good.selected" ng-change="toggleGood(good)">
              </label>
              <div class="row row-no-padding">
                <a class="good-thumbnail vertical-align-middle-container" ng-click="tabStateGo(tabIndex.shop, 'tab.product', {productId: good.product_id})">
                  <img class="vertical-align-middle" ng-src="{{good.thumbnail}}">
                  <!-- <div class="vertical-align-middle" style="border:solid 1px; width:80px;height:80px;">test</div> -->
                </a>

                <div class="good-info col">
                  <h2>{{good.name}}</h2>
                  <p>{{good.spec}}</p>

                  <div class="good-price row">
                    <div class="col price assertive">{{good.buy_price|currency:'￥'}}</div>
                    <quantity-input class="col-60" ng-model="good.quantity" ng-change="updateGoodQuantity(good)"></quantity-input>
                  </div>
                </div>
              </div>
            </div>
            <ion-option-button class="button-assertive"
                               ng-click="removeGood(good)">
              {{'remove' | translate}}
            </ion-option-button>
          </ion-item>
        </div>
        <ion-item class="item item-button-right">
          <div class="assertive">共计: {{nature.total_item_amount |currency:'￥'}} (不含税 不含运费)</div>
          <button class="button button-energized" ng-disabled="!canCheckout(nature)" ui-sref="tab.cart-checkout({nature: natureKey})">{{'cart_checkout'|translate}}</button>
        </ion-item>
      </div>
    </ion-list>
  </ion-content>
</ion-view>