<ion-view class="cart" view-title="{{ isFailed ? 'order_payed_failed' : 'order_payed'|translate}}" hide-tabs="true" hide-back-button="true">
  <ion-nav-buttons side="right">
    <div class="row row-center" style="padding: 0px;margin-right: 10px;">
      <div class="col col-center" style="padding: 0px;">
        <button class="button button-clear icon ion-ios-home" ui-sref="tab.home">
        </button>
      </div>
    </div>
  </ion-nav-buttons>
  <ion-content>
    <ion-list>
      <ion-item class="item" ng-repeat="item in orders">
        <div>订单号: {{item.order_title.order_id}}</div>
        <div>商品数量: {{item.products | sum: 'num'}}个</div>
        <div>金额: <span class="assertive">{{item.order_info.final_amount | currency:'￥'}}</span></div>
      </ion-item>
      <div class="text-center padding">
        感谢惠顾，我们将竭诚为您服务哦～
      </div>
    </ion-list>

    <div class="button-bar">
      <div class="row">
        <div class="col col-50" ng-if="isFailed" ng-click="goOrder('nopay')">
          <button class="button button-full button-positive" style="font-size:16px;">
            待付款订单
          </button>
        </div>
        <div class="col col-50" ng-if="!isFailed" ng-click="goOrder('all')">
          <button class="button button-full button-positive" style="font-size:16px;">
            全部订单
          </button>
        </div>
        <div class="col col-50" ui-sref="tab.cart">
          <button class="button button-full button-positive" style="font-size:16px;">
            返回购物车
          </button>
        </div>
      </div>
    </div>

    <!--猜你喜欢-->
    <div class="row nav-bar-title" style="padding: 0;margin: 0;" ng-if="!!goodsInfo.length">
      <div class="col col-30 col-center nav-title-left">
        <div
          style="background-image: url('img/nav-bar-last.png');background-repeat: no-repeat;background-size: contain;height: 30px;width: 95%;">
          <span class="bar-name-mid">猜你喜欢</span>
        </div>
      </div>
      <div class="col col-70 col-center nav-title-right">
        <a ui-sref="tab.categories">更多<span>>></span></a>
        </span>
      </div>
    </div>

    <div class="index-prdt-cont" ng-if="!!goodsInfo.length">
      <div class="row" style="padding: 0;" ng-repeat="product in goodsInfo" ng-if="$index % 2 === 0">
        <div class="col col-50 col-center pad-5" ng-if="$index < goodsInfo.length">
          <div class="new-prdt">
            <a ui-sref="product({productId: goodsInfo[$index].product_id})">
              <img ng-src="{{goodsInfo[$index].image}}">

              <div class="prdt-descb">{{goodsInfo[$index].name}}</div>
              <div class="row" style="padding: 0;">
                <span class="col col-center pri-pri" style="color: #bd252c;font-size: 12px;text-align: center;">
                  {{goodsInfo[$index].price | currency: '￥'}}
                </span>
              </div>
            </a>
          </div>
        </div>

        <div class="col col-50 col-center pad-5" ng-if="$index+1 < goodsInfo.length">
          <div class="new-prdt">
            <a ui-sref="product({productId: goodsInfo[$index+1].product_id})">
              <img ng-src="{{goodsInfo[$index+1].image}}">

              <div class="prdt-descb">{{goodsInfo[$index+1].name}}</div>
              <div class="row" style="padding: 0;">
                <span class="col col-center pri-pri" style="color: #bd252c;font-size: 12px;text-align: center;">
                  {{goodsInfo[$index+1].price | currency: '￥'}}
                </span>
              </div>
            </a>
          </div>
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>
