<ion-view view-title="">

  <script id="shopPopover.html" type="text/ng-template">
    <ion-popover-view style="width: 80px; height: 100px;background:#ad1222; opacity: 1; top: 44px;">
      <ion-content>
          <div class="row row-center" style="padding: 0px;">
            <div class="col col-center" style="padding: 0px;text-align:center;">
              <a class="button button-clear" style="color:#fff;" ng-click="changeSearchKind(0)">商品</a>
            </div>
          </div>
          <div class="row row-center" style="padding: 0px;">
            <div class="col col-center" style="padding: 0px;text-align:center;">
              <a class="button button-clear" style="color:#fff;" ng-click="changeSearchKind(1)">商户</a>
            </div>
          </div>
      </ion-content>
    </ion-popover-view>
  </script>

  <ion-nav-buttons side="left">
    <a class="button button-icon ion-ios-barcode-outline" ng-click="scan()"></a>
  </ion-nav-buttons>
  <ion-nav-title>
    <form ng-submit="search()">
      <div class="item item-input" style="margin: 7px 0;padding: 0 0 0 6px;border-radius: 7px;border: none;">
        <div style="height: 28px; line-height: 28px">
          <span ng-click="openPopover()">{{!kind ? '商品' : '商户'}}</span>
          <i class="icon ion-arrow-down-b"></i>
        </div>
        <input type="search" placeholder="Search" ng-model="keywords.value" style="height: 28px;">
      </div>
      <i class="clear-search icon ion-ios-close-empty placeholder-icon" ng-click="clearSearch($event)"></i>
    </form>
  </ion-nav-title>
  <ion-nav-buttons side="right">
    <div class="row row-center" style="padding: 0px;margin-right: 10px;">
      <div class="col col-center" style="padding: 0px;">
        <button class="button button-clear" ng-click="openBtns()">
          发现
        </button>
      </div>
    </div>
  </ion-nav-buttons>

  <ion-content style="background-color: #fff;">
    <!--发现-线下功能-->
    <div class="row find-nav-bar" ng-show="showBtns">
      <div class="col col-20 col-center find-item">
        <a>
          <img src="img/home/icon1.png"/>
          <span>逛商场</span>
        </a>
      </div>
      <div class="col col-20 col-center find-item">
        <a>
          <img src="img/home/icon2.png"/>
          <span>签个到</span>
        </a>
      </div>
      <div class="col col-20 col-center find-item">
        <a>
          <img src="img/home/icon3.png"/>
          <span>摇一摇</span>
        </a>
      </div>
      <div class="col col-20 col-center find-item">
        <a>
          <img src="img/home/icon4.png"/>
          <span>一键上网</span>
        </a>
      </div>
      <div class="col col-20 col-center find-item">
        <a>
          <img src="img/home/icon5.png"/>
          <span>交通</span>
        </a>
      </div>
    </div>

    <!--广告轮播图-->
    <div class="row" style="padding: 0px;margin: 0;width: 100%; height: 200px">
      <div class="col col-center" style="padding: 0px; width: 100%; height: 100%">
        <ion-slide-box on-slide-changed="slideHasChanged($index)" class="slidebox" style="width: 100%; height: 100%" auto-play="true" slide-interval="4000" delegate-handle="slideimgs" does-continue="true">
          <ion-slide ng-repeat="item in slideimgs" style="width: 100%; height: 100%" ng-click="openItem(item)">
            <a href="#">
              <img style="width:100%; height:100%" ng-src="{{item.image}}">
            </a>
          </ion-slide>
        </ion-slide-box>
      </div>
    </div>

    <!--热门分类-->
    <div class="row prdt-hot-sort" style="margin: 0;">
      <div class="col col-20 col-center prdt-item" ng-repeat="category in homeInfo.cat_info" ng-click="tabStateGo(tabIndex.shop, 'tab.products', {categoryId: category.cat_id})">
        <a>
          <img ng-src="{{category.image}}">
          <span>{{category.cat_name}}</span>
        </a>
      </div>
    </div>

    <div class="row new-prdt-title" style="padding: 0;margin: 0;">
      <div class="col col-30 col-center camp-title-left">
        <img src="img/newproduct.jpg" style="height: 27px;">
      </div>
      <div class="col col-70 col-center camp-title-right">
        <span>距活动结束还有</span>
        <span class="end-time">{{activityInfo.diff_time}}</span>
      </span>
      </div>
    </div>

    <div class="index-prdt-cont">
      <ion-scroll direction="x">
        <div class="row" style="padding: 0;">
          <div class="col col-50 col-center pad-5" ng-click="tabStateGo(tabIndex.shop, 'tab.product', {productId: activityInfo.product_info[0].product_id})">
            <div class="new-prdt">
            <a>
              <img ng-src="{{activityInfo.product_info[0].image}}">
              <div class="prdt-descb">{{activityInfo.product_info[0].name}}</div>
              <div class="row" style="padding: 0;">
                <span class="col col-50 col-center pri-pri">{{activityInfo.product_info[0].activity_price | currency: '￥'}}</span>
                <span class="col col-50 col-center pri-ori">{{activityInfo.product_info[0].price | currency: '￥'}}</span>
              </div>
            </a> 
            </div>    
          </div>

          <div class="col col-50 col-center pad-5" ng-click="tabStateGo(tabIndex.shop, 'tab.product', {productId: activityInfo.product_info[0].product_id})">
            <div class="new-prdt">
            <a>
              <img ng-src="{{activityInfo.product_info[0].image}}">
              <div class="prdt-descb">{{activityInfo.product_info[0].name}}</div>
              <div class="row" style="padding: 0;">
                <span class="col col-50 col-center pri-pri">{{activityInfo.product_info[0].activity_price | currency: '￥'}}</span>
                <span class="col col-50 col-center pri-ori">{{activityInfo.product_info[0].price | currency: '￥'}}</span>
              </div>
            </a> 
            </div>    
          </div>

          <div class="col col-50 col-center pad-5" ng-click="tabStateGo(tabIndex.shop, 'tab.product', {productId: activityInfo.product_info[0].product_id})">
            <div class="new-prdt">
            <a>
              <img ng-src="{{activityInfo.product_info[0].image}}">
              <div class="prdt-descb">{{activityInfo.product_info[0].name}}</div>
              <div class="row" style="padding: 0;">
                <span class="col col-50 col-center pri-pri">{{activityInfo.product_info[0].activity_price | currency: '￥'}}</span>
                <span class="col col-50 col-center pri-ori">{{activityInfo.product_info[0].price | currency: '￥'}}</span>
              </div>
            </a> 
            </div>    
          </div>

          <div class="col col-50 col-center pad-5" ng-click="tabStateGo(tabIndex.shop, 'tab.product', {productId: activityInfo.product_info[0].product_id})">
            <div class="new-prdt">
            <a>
              <img ng-src="{{activityInfo.product_info[0].image}}">
              <div class="prdt-descb">{{activityInfo.product_info[0].name}}</div>
              <div class="row" style="padding: 0;">
                <span class="col col-50 col-center pri-pri">{{activityInfo.product_info[0].activity_price | currency: '￥'}}</span>
                <span class="col col-50 col-center pri-ori">{{activityInfo.product_info[0].price | currency: '￥'}}</span>
              </div>
            </a> 
            </div>    
          </div>
        </div>
      </ion-scroll>
    </div>

    <!--商户-->
    <div class="row nav-bar-title" style="padding: 0;margin: 0;">
      <div class="col col-30 col-center nav-title-left">
        <img src="img/hotseller.jpg" style="height: 27px;">
      </div>
      <div class="col col-70 col-center nav-title-right">
        <a href="#/tab/sellers">更多<span>>></span></a>
      </span>
      </div>
    </div>

    <!-- 商标logo -->
    <div class="row button-bar" style="padding: 8px 0;">
      <a class="button" style="border-bottom: none;background-color: #fff;padding:0;"
         ng-href="#/tab/seller/{{sellerInfo.items[0].seller_id}}">
        <img style="width:100%; height:100%;" ng-src="{{sellerInfo.items[0].image}}">
      </a>

      <a class="button" style="border-bottom: none;background-color: #fff;padding: 0;"
         ng-href="#/tab/seller/{{sellerInfos.items[1].seller_id}}">
        <img style="width:100%; height:50px;" ng-src="{{sellerInfo.items[1].image}}">
      </a>

      <a class="button" style="border-bottom: none;background-color: #fff;padding: 0;"
         ng-href="#/tab/seller/{{sellerInfo.items[2].seller_id}}">
        <img style="hwidth:100%; height:50px;" ng-src="{{sellerInfo.items[2].image}}">
      </a>

      <a class="button" style="border-bottom: none;background-color: #fff;padding: 0;"
         ng-href="#/tab/seller/{{sellerInfo.items[3].seller_id}}">
        <img style="width:100%; height:50px;" ng-src="{{sellerInfo.items[3].image}}">
      </a>
    </div>
    <div class="row button-bar" style="background-color: #fff;padding: 0 0 10px 0;">
      <a class="button" style="background-color: #fff;padding:0;"
         ng-href="#/tab/seller/{{sellerInfo.items[4].seller_id}}">
        <img style="width:100%; height:50px;" ng-src="{{sellerInfo.items[4].image}}">
      </a>

      <a class="button" style="background-color: #fff;padding:0;"
         ng-href="#/tab/seller/{{sellerInfo.items[5].seller_id}}">
        <img style="width:100%; height:50px" ng-src="{{sellerInfo.items[5].image}}">
      </a>

      <a class="button" style="background-color: #fff;padding:0;"
         ng-href="#/tab/seller/{{sellerInfo.items[6].seller_id}}">
        <img style="width:100%; height:50px" ng-src="{{sellerInfo.items[6].image}}">
      </a>

      <a class="button" style="background-color: #fff;padding:0;"
         ng-href="#/tab/seller/{{sellerInfo.items[7].seller_id}}">
        <img style="width:100%; height:50px" ng-src="{{sellerInfo.items[7].image}}">
      </a>
    </div>

    <!--分类商品-->
    <div ng-repeat="floor in homeInfo.floor">

      <div class="row nav-bar-title" style="padding: 0;margin: 0;">
        <div class="col col-30 col-center nav-title-left">
          <img src="img/hotproduct.jpg" style="height: 27px;">
        </div>
        <div class="col col-70 col-center nav-title-right">
          <a ng-click="tabStateGo(tabIndex.shop, 'tab.products', {categoryId: category.cat_id})">更多<span>>></span></a>
        </span>
        </div>
      </div>

      <div class="index-prdt-cont">
        <div class="row" style="padding: 0;">
          <div class="col col-50 col-center pad-5" ng-repeat="product in floor.product_info" ng-if="$index % 2 === 0">
            <div class="new-prdt">
              <a ng-click="tabStateGo(tabIndex.shop, 'tab.product', {productId: floor.product_info[$index].product_id})">
                <img ng-src="{{floor.product_info[$index].image}}">
                <div class="prdt-descb">{{floor.product_info[$index].name}}</div>
                <div class="row" style="padding: 0;">
                  <span class="col col-center pri-pri" style="color: #666c70;font-size: 12px;text-align: center;">优惠价：{{floor.product_info[$index].price | currency: '￥'}}</span>
                </div>
              </a>
            </div>
          </div>

          <div class="col col-50 col-center pad-5">
            <div class="new-prdt">
              <a ng-click="tabStateGo(tabIndex.shop, 'tab.product', {productId: floor.product_info[$index+1].product_id})">
                <img ng-src="{{floor.product_info[$index+1].image}}">
                <div class="prdt-descb">{{floor.product_info[$index+1].name}}</div>
                <div class="row" style="padding: 0;">
                  <span class="col col-center pri-pri">优惠价：{{floor.product_info[$index+1].price | currency: '￥'}}</span>
                </div>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!--猜你喜欢-->
    <div class="row nav-bar-title" style="padding: 0;margin: 0;">
      <div class="col col-30 col-center nav-title-left">
        <img src="img/hotproduct.jpg" style="height: 27px;">
      </div>
      <div class="col col-70 col-center nav-title-right">
        <a ng-click="tabStateGo(tabIndex.shop, 'tab.categories', {})">更多<span>>></span></a>
      </span>
      </div>
    </div>



    <div style="padding: 0 0 0 6px;background-color: #fff;">
      <div class="row" ng-repeat="product in homeInfo.goods_gallery" ng-if="$index % 2 === 0">
        <div class="col col-50" style="padding: 0px;border: 1px solid #eee;margin: 0 4px 0 0;">
          <a class="button button-light button-full" style="padding: 0px;margin: 0;border: none;"
             ng-click="tabStateGo(tabIndex.shop, 'tab.product', {productId: homeInfo.goods_gallery[$index].product_id})">
            <img style="width:90px; height:60%;" ng-src="{{homeInfo.goods_gallery[$index].image}}">
          </a>

          <p style="text-align: center;margin-bottom: 0;color: #c9000b; height: 20%">
            {{homeInfo.goods_gallery[$index].name}}
          </p>
        </div>

        <div class="col col-50" style="padding: 0px;border: 1px solid #eee;margin: 0 4px 0 0;">
          <a class="button button-light button-full" style="padding: 0px;margin: 0;border: none;"
             ng-click="tabStateGo(tabIndex.shop, 'tab.product', {productId: homeInfo.goods_gallery[$index+1].product_id})">
            <img style="width:90px; height:60%;" ng-src="{{homeInfo.goods_gallery[$index+1].image}}">
          </a>

          <p style="text-align: center;margin-bottom: 0;color: #c9000b; height: 20%">
            {{homeInfo.goods_gallery[$index+1].name}}
          </p>

        </div>
      </div>
    </div>
  </ion-content>
</ion-view>
