<ion-view view-title="">

  <script id="shopPopover.html" type="text/ng-template">
    <ion-popover-view style="width: 80px; height: 100px;background:#ad1222; opacity: 1; top: 44px;">
      <ion-content>
          <div class="row row-center" style="padding: 0px;">
            <div class="col col-center" style="padding: 0px;text-align:center;">
              <a class="button button-clear" style="color:#fff;" ng-click="changeSearchKind(0)">商品</a>
            </div>
          </div>
          <div class="row row-center" style="padding: 0px;">
            <div class="col col-center" style="padding: 0px;text-align:center;">
              <a class="button button-clear" style="color:#fff;" ng-click="changeSearchKind(1)">商户</a>
            </div>
          </div>
      </ion-content>
    </ion-popover-view>
  </script>

  <ion-nav-buttons side="left">
    <a class="button button-icon ion-ios-barcode-outline" ng-click="scan()"></a>
  </ion-nav-buttons>
  <ion-nav-title>
    <form ng-submit="search()">
      <div class="item item-input" style="margin: 7px 0;padding: 0 0 0 6px;border-radius: 7px;border: none;">
        <div style="height: 28px; line-height: 28px">
          <span ng-click="openPopover()">{{!kind ? '商品' : '商户'}}</span>
          <i class="icon ion-arrow-down-b"></i>
        </div>
        <input type="search" placeholder="Search" ng-model="keywords.value" style="height: 28px;">
      </div>
      <i class="clear-search icon ion-ios-close-empty placeholder-icon" ng-click="clearSearch($event)"></i>
    </form>
  </ion-nav-title>
  <ion-nav-buttons side="right">
    <div class="row row-center" style="padding: 0px;margin-right: 10px;">
      <div class="col col-center" style="padding: 0px;">
        <button class="button button-clear" ng-click="openBtns()">
          发现
        </button>
      </div>
    </div>
  </ion-nav-buttons>

  <ion-content style="background-color: #eee;">
    <!--发现-线下功能-->
    <div class="row" style="padding: 0;margin: 6px 0;background-color: #fff;" ng-show="showBtns">
      <div class="col col-20 col-center" style="padding: 0px;height: 90px;">
        <a class="button button-clear" style="padding: 1px;">
          <img style="width: 80%;" src="img/home/icon1.png">
        </a>

        <p style="text-align: center;margin-bottom: 0;color: #c9000b;">
          逛商场
        </p>
      </div>
      <div class="col col-20 col-center" style="padding: 0px;height: 90px;">
        <a class="button button-clear" style="padding: 1px;">
          <img style="width: 80%;" src="img/home/icon2.png">
        </a>

        <p style="text-align: center;margin-bottom: 0;color: #c9000b;">
          签个到
        </p>
      </div>
      <div class="col col-20 col-center" style="padding: 0px;height: 90px;">
        <a class="button button-clear" style="padding: 1px;">
          <img style="width: 80%;" src="img/home/icon3.png">
        </a>

        <p style="text-align: center;margin-bottom: 0;color: #c9000b;">
          摇一摇
        </p>
      </div>
      <div class="col col-20 col-center" style="padding: 0px;height: 90px;">
        <a class="button button-clear" style="padding: 1px;">
          <img style="width: 80%;" src="img/home/icon4.png">
        </a>

        <p style="text-align: center;margin-bottom: 0;color: #c9000b;">
          一键上网
        </p>
      </div>
      <div class="col col-20 col-center" style="padding: 0px;height: 90px;">
        <a class="button button-clear" style="padding: 1px;">
          <img style="width: 80%;" src="img/home/icon5.png">
        </a>

        <p style="text-align: center;margin-bottom: 0;color: #c9000b;">
          交通
        </p>
      </div>
    </div>

    <!--广告轮播图-->
    <div class="row" style="padding: 0px;margin-bottom: 6px;width: 100%; height: 200px">
      <div class="col col-center" style="padding: 0px; width: 100%; height: 100%">
        <ion-slide-box on-slide-changed="slideHasChanged($index)" class="slidebox" style="width: 100%; height: 100%"
                       auto-play="true" slide-interval="4000" delegate-handle="slideimgs" does-continue="true">
          <ion-slide ng-repeat="item in slideimgs" style="width: 100%; height: 100%" ng-click="openItem(item)">
            <a href="#">
              <img style="width:100%; height:100%" ng-src="{{item.image}}">
            </a>
          </ion-slide>
        </ion-slide-box>
      </div>
    </div>

    <!--热门分类-->
    <div class="row" style="padding: 0;margin: 6px 0;background-color: #fff;">
      <div class="col col-20 col-center" style="padding: 0px;height: 90px;"
           ng-repeat="category in homeInfo.cat_info"
           ng-click="tabStateGo(tabIndex.shop, 'tab.products', {categoryId: category.cat_id})">
        <a class="button button-clear" style="padding: 1px;">
          <img style="width: 80%;" ng-src="{{category.image}}">
        </a>

        <p style="text-align: center;margin-bottom: 0;color: #c9000b;">
          {{category.cat_name}}
        </p>
      </div>
    </div>

    <!--活动-->
    <div class="row" style="padding: 0;margin: 6px 0 0;background-color: #fff;">
      <div class="col col-80 col-center" style="padding: 0px;margin: 0 0 5px 0;max-width:50%;">
        <img src="img/newproduct.jpg" style="height: 30px;">
      </div>
      <span style="margin-top:7px;">距活动结束还有
        <div style="color: #FF0000; align: right">{{activityInfo.diff_time}}</div>
      </span>
    </div>
    <div style="padding: 0 0 0 6px;background-color: #fff;">
      <ion-scroll direction="x">
        <div class="row">
          <div class="col col-33" style="padding: 0px; border: 1px solid #eee;margin: 0 4px 0 0;"
               ng-click="tabStateGo(tabIndex.shop, 'tab.product', {productId: activityInfo.product_info[0].product_id})">
            <a class="button button-light button-full" style="padding: 0px;margin: 0;border: none;">
              <img style="width:90px;" ng-src="{{activityInfo.product_info[0].image}}">
            </a>

            <p style="text-align: center;margin-bottom: 0;color: #c9000b;">
              {{activityInfo.product_info[0].name}}
            </p>

            <p style="text-align: center;margin-bottom: 0;color: #c9000b;">
              {{activityInfo.product_info[0].activity_price | currency: '￥'}}
            </p>

            <p
              style="align: right; text-align: center; margin-bottom: 0;font-size: 12px;text-decoration: line-through;color: #666c70;">
              {{activityInfo.product_info[0].price | currency: '￥'}}
            </p>
          </div>

          <div class="col col-33" style="padding: 0px; border: 1px solid #eee;"
               ng-click="tabStateGo(tabIndex.shop, 'tab.product', {productId: activityInfo.product_info[0].product_id})">
            <a class="button button-light button-full" style="padding: 0px;margin: 0;border: none;">
              <img style="width:90px;" ng-src="{{activityInfo.product_info[0].image}}">
            </a>

            <p style="text-align: center;margin-bottom: 0;color: #c9000b;">
              {{activityInfo.product_info[0].name}}
            </p>

            <p style="text-align: center;margin-bottom: 0;color: #c9000b;">
              {{activityInfo.product_info[0].activity_price | currency: '￥'}}
            </p>

            <p
              style="align: right; text-align: center; margin-bottom: 0;font-size: 12px;text-decoration: line-through;color: #666c70;">
              {{activityInfo.product_info[0].price | currency: '￥'}}
            </p>
          </div>

          <div class="col col-33" style="padding: 0px; border: 1px solid #eee;"
               ng-click="tabStateGo(tabIndex.shop, 'tab.product', {productId: activityInfo.product_info[0].product_id})">
            <a class="button button-light button-full" style="padding: 0px;margin: 0;border: none;">
              <img style="width:90px;" ng-src="{{activityInfo.product_info[0].image}}">
            </a>

            <p style="text-align: center;margin-bottom: 0;color: #c9000b;">
              {{activityInfo.product_info[0].name}}
            </p>

            <p style="text-align: center;margin-bottom: 0;color: #c9000b;">
              {{activityInfo.product_info[0].activity_price | currency: '￥'}}
            </p>

            <p
              style="align: right; text-align: center; margin-bottom: 0;font-size: 12px;text-decoration: line-through;color: #666c70;">
              {{activityInfo.product_info[0].price | currency: '￥'}}
            </p>
          </div>

          <div class="col col-33" style="padding: 0px; border: 1px solid #eee;"
               ng-click="tabStateGo(tabIndex.shop, 'tab.product', {productId: activityInfo.product_info[0].product_id})">
            <a class="button button-light button-full" style="padding: 0px;margin: 0;border: none;">
              <img style="width:90px;" ng-src="{{activityInfo.product_info[1].image}}">
            </a>

            <p style="text-align: center;margin-bottom: 0;color: #c9000b;">
              {{activityInfo.product_info[0].name}}
            </p>

            <p style="text-align: center;margin-bottom: 0;color: #c9000b;">
              {{activityInfo.product_info[0].activity_price | currency: '￥'}}
            </p>

            <p
              style="align: right; text-align: center; margin-bottom: 0;font-size: 12px;text-decoration: line-through;color: #666c70;">
              {{activityInfo.product_info[0].price | currency: '￥'}}
            </p>
          </div>
        </div>
      </ion-scroll>
    </div>

    <!--商户-->
    <div class="row" style="padding: 0;margin: 6px 0 0;background-color: #fff;">
      <div class="col col-50 col-center" style="padding: 0px;margin:0 0 10px 0;">
        <img src="img/hotseller.jpg" style="height: 30px;">
      </div>
      <div class="col col-50 col-center" style="padding: 0px;margin: 10px 5px;" align="right">
        <a href="#/tab/sellers" style="margin-right: 25px;text-decoration: none;color: #666c70;">更多<span
          style="margin-left: 5px;">>></span></a>
      </div>
    </div>

    <div class="row button-bar" style="padding: 0;">
      <a class="button" style="border-bottom: none;background-color: #fff;padding:0;"
         ng-href="#/tab/seller/{{sellerInfo.items[0].seller_id}}">
        <img style="width:100%; height:100%;" ng-src="{{sellerInfo.items[0].image}}">
      </a>

      <a class="button" style="border-bottom: none;background-color: #fff;padding: 0;"
         ng-href="#/tab/seller/{{sellerInfos.items[1].seller_id}}">
        <img style="width:100%; height:50px;" ng-src="{{sellerInfo.items[1].image}}">
      </a>

      <a class="button" style="border-bottom: none;background-color: #fff;padding: 0;"
         ng-href="#/tab/seller/{{sellerInfo.items[2].seller_id}}">
        <img style="hwidth:100%; height:50px;" ng-src="{{sellerInfo.items[2].image}}">
      </a>

      <a class="button" style="border-bottom: none;background-color: #fff;padding: 0;"
         ng-href="#/tab/seller/{{sellerInfo.items[3].seller_id}}">
        <img style="width:100%; height:50px;" ng-src="{{sellerInfo.items[3].image}}">
      </a>
    </div>
    <div class="row button-bar" style="background-color: #fff;padding: 0 0 10px 0;">
      <a class="button" style="background-color: #fff;padding:0;"
         ng-href="#/tab/seller/{{sellerInfo.items[4].seller_id}}">
        <img style="width:100%; height:50px;" ng-src="{{sellerInfo.items[4].image}}">
      </a>

      <a class="button" style="background-color: #fff;padding:0;"
         ng-href="#/tab/seller/{{sellerInfo.items[5].seller_id}}">
        <img style="width:100%; height:50px" ng-src="{{sellerInfo.items[5].image}}">
      </a>

      <a class="button" style="background-color: #fff;padding:0;"
         ng-href="#/tab/seller/{{sellerInfo.items[6].seller_id}}">
        <img style="width:100%; height:50px" ng-src="{{sellerInfo.items[6].image}}">
      </a>

      <a class="button" style="background-color: #fff;padding:0;"
         ng-href="#/tab/seller/{{sellerInfo.items[7].seller_id}}">
        <img style="width:100%; height:50px" ng-src="{{sellerInfo.items[7].image}}">
      </a>
    </div>

    <!--分类商品-->
    <div ng-repeat="floor in homeInfo.floor">
      <div class="row" style="padding: 0;margin: 6px 0 0;background-color: #fff;">
        <div class="col col-50 col-center" style="padding: 0px;margin: 0 0 10px 0;">
          <img src="img/hotproduct.jpg" style="height: 30px;">
        </div>
        <div class="col col-50 col-center" style="padding: 0px;margin: 10px 5px;" align="right">
          <a style="margin-right: 25px;text-decoration: none;color: #666c70;"
             ng-click="tabStateGo(tabIndex.shop, 'tab.products', {categoryId: category.cat_id})"
            >更多<span style="margin-left: 5px;">>></span></a>
        </div>
      </div>
      <div style="padding: 0 0 0 6px;background-color: #fff;">
        <div class="row"
             ng-repeat="product in floor.product_info" ng-if="$index % 2 === 0">
          <div class="col col-50" style="padding: 0px;border: 1px solid #eee;margin: 0 4px 0 0;">
            <a class="button button-light button-full" style="padding: 0px;margin: 0;border: none;"
               ng-click="tabStateGo(tabIndex.shop, 'tab.product', {productId: floor.product_info[$index].product_id})">
              <img style="width:90px; height:60%;" ng-src="{{floor.product_info[$index].image}}">
            </a>

            <p style="text-align: center;margin-bottom: 0;color: #c9000b; height: 20%">
              {{floor.product_info[$index].name}}
            </p>

            <p style="text-align: center;margin-bottom: 0;font-size: 10px;color: #666c70; height: 20%">
              优惠价：{{floor.product_info[$index].price}}
            </p>
          </div>

          <div class="col col-50" style="padding: 0px;border: 1px solid #eee;margin: 0 4px 0 0;">
            <a class="button button-light button-full" style="padding: 0px;margin: 0;border: none;"
               ng-click="tabStateGo(tabIndex.shop, 'tab.product', {productId: floor.product_info[$index+1].product_id})">
              <img style="width:90px; height:60%;" ng-src="{{floor.product_info[$index+1].image}}">
            </a>

            <p style="text-align: center;margin-bottom: 0;color: #c9000b; height: 20%">
              {{floor.product_info[$index+1].name}}
            </p>

            <p style="text-align: center;margin-bottom: 0;font-size: 12px;color: #666c70; height: 20%">
              优惠价：{{floor.product_info[$index+1].price}}
            </p>
          </div>
        </div>
      </div>
    </div>

    <!--猜你喜欢-->
    <div class="row" style="padding: 0;margin: 6px 0 0;background-color: #fff;">
      <div class="col col-50 col-center" style="padding: 0px;margin: 0 0 10px 0;">
        <img src="img/hotproduct.jpg" style="height: 30px;">
      </div>
      <div class="col col-50 col-center" style="padding: 0px;margin: 10px 5px;" align="right">
        <a style="margin-right: 25px;text-decoration: none;color: #666c70;"
           ng-click="tabStateGo(tabIndex.shop, 'tab.categories', {})"
          >更多<span style="margin-left: 5px;">>></span></a>
      </div>
    </div>
    <div style="padding: 0 0 0 6px;background-color: #fff;">
      <div class="row"
           ng-repeat="product in homeInfo.goods_gallery" ng-if="$index % 2 === 0">
        <div class="col col-50" style="padding: 0px;border: 1px solid #eee;margin: 0 4px 0 0;">
          <a class="button button-light button-full" style="padding: 0px;margin: 0;border: none;"
             ng-click="tabStateGo(tabIndex.shop, 'tab.product', {productId: homeInfo.goods_gallery[$index].product_id})">
            <img style="width:90px; height:60%;" ng-src="{{homeInfo.goods_gallery[$index].image}}">
          </a>

          <p style="text-align: center;margin-bottom: 0;color: #c9000b; height: 20%">
            {{homeInfo.goods_gallery[$index].name}}
          </p>
        </div>

        <div class="col col-50" style="padding: 0px;border: 1px solid #eee;margin: 0 4px 0 0;">
          <a class="button button-light button-full" style="padding: 0px;margin: 0;border: none;"
             ng-click="tabStateGo(tabIndex.shop, 'tab.product', {productId: homeInfo.goods_gallery[$index+1].product_id})">
            <img style="width:90px; height:60%;" ng-src="{{homeInfo.goods_gallery[$index+1].image}}">
          </a>

          <p style="text-align: center;margin-bottom: 0;color: #c9000b; height: 20%">
            {{homeInfo.goods_gallery[$index+1].name}}
          </p>

        </div>
      </div>
    </div>
  </ion-content>
</ion-view>
