<ion-view view-title="">
  <ion-nav-buttons side="left">
    <div class="row-center">
      <a class="button button-light" href="#/sellers/index">
        商户
      </a>
    </div>
  </ion-nav-buttons>
  <ion-content class="padding">
    <ion-list>
      <ion-item>
        <div class="row">
          <div class="col">
            <ion-slide-box on-slide-changed="slideHasChanged($index)" class="slidebox"
                           auto-play="true" slide-interval="4000" delegate-handle="slideimgs" does-continue="true">
              <ion-slide ng-repeat="item in slideimgs">
                <a href="#">
                  <img style="width: 100%;height: 100%;" ng-src="{{item.image}}">
                </a>
              </ion-slide>
            </ion-slide-box>
          </div>
        </div>
      </ion-item>
    </ion-list>
    <div class="list card">
      <div class="item item-divider" style="padding-left: 5px" ng-click="goDetail(item)">
        <h2 style="float: left">商品分类</h2>
      </div>
      <div class="item item-body" style="padding-left: 5px">
        <div class="button-bar">
          <div style="padding: 0px" class="row">
            <div style="padding: 0px" class="col col-20" ng-repeat="category in homeInfo.third">
              <button style="padding: 1px">
                <img style="width: 100%;height: 80%;" ng-src="{{category.image}}">

                <p style="width: 100%;height: 20%;">{{category.name}}</p>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="list card">
      <div class="item item-divider" style="padding-left: 5px" ng-click="goDetail(item)">
        <h2 style="float: left">热门商品</h2>
      </div>
      <div class="item item-body" style="padding-left: 5px">
        <div class="row" ng-repeat="product in homeInfo.fourth" ng-if="$index % 2 === 0">
          <div class="col col-50">
            <button class="button-light button-full" style="height: 100%;">
              <img style="width: 100%;height: 70%;" ng-src="{{homeInfo.fourth[$index].image}}">

              <p style="width: 100%;">{{homeInfo.fourth[$index].name}}</p>
            </button>
          </div>
          <div class="col col-50">
            <button class="button-light button-full" style="height: 100%">
              <img style="width: 100%;height: 70%;" ng-src="{{homeInfo.fourth[$index+1].image}}">

              <p style="width: 100%;">{{homeInfo.fourth[$index+1].name}}</p>
            </button>
          </div>
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>
