<ion-view view-title="商户详情">
  <ion-nav-buttons side="left">
    <back-button></back-button>
  </ion-nav-buttons>
  <ion-content>
    <div class="row seller-header" style="padding: 0;position: relative;background-image: url('img/seller-index.jpg');">
      <div class="row" style="padding: 0;position: absolute;top:105px;left:0;z-index: 100;height: 65px;">
        <div class="col col-34 col-center sel-logo"
             style="padding:0;margin-left: 15px;height: 65px;background-color: #fff;overflow: hidden;max-width: 80px;background-image: url({{item.once.image}});background-size: 100% auto;background-repeat: no-repeat;background-position: 0 50%;">
        </div>
        <div class="col col-67 col-center" style="padding: 0;"></div>
      </div>
      <div class="sel-collect-wrap" ng-class="{'sel-stated': item.once.seller_has_fav === true}">
        <i class="icon ion-ios-star col-ion-start"></i>
        <span class="col-state" ng-click="addFavorite()">{{item.favTitle}}
        </span>
      </div>
    </div>
    <div class="row seller-nav" style="padding: 0;margin: 0;">
      <div class="col col-33 col-center sel-top" style="padding: 0;">
        <a ng-click="showAdvertise()"><span ng-class="{'selt': productType === 1}">商品展示</span></a>
      </div>
      <div class="col col-33 col-center sel-top" style="padding: 0px;">
        <a ng-click="showRecommend()"><span ng-class="{'selt': productType === 2}">热门促销</span></a>
      </div>
      <div class="col col-33 col-center sel-top" style="padding: 0px;">
        <a ng-click="showItem()"><span ng-class="{'selt': productType === 3}">热门商品</span></a>
      </div>
    </div>
    <!--banner-->
    <div class="row" ng-if="slideimgs.length" style="padding: 0px;margin: 0 auto;width: 100%;">
      <div class="col col-center" style="padding: 0px; width: 100%;;">
        <ion-slide-box on-slide-changed="slideHasChanged($index)" class="slidebox" style="width: 100%;"
                       ng-if="slideimgs.length"
                       auto-play="true" slide-interval="4000" delegate-handle="slideimgs" does-continue="true">
          <ion-slide ng-repeat="item in slideimgs" style="width: 100%;" ng-click="openItem(item)">
            <a href="#" style="display: block;text-align: center;width: 100%;">
              <img style="width: 100%;" ng-src="{{item.image}}">
            </a>
          </ion-slide>
        </ion-slide-box>
      </div>
    </div>

    <div>
      <hr style="margin: 0;height:1px;border:none;border-top:5px solid #e5e5e5;"/>
      <div class="list-prdt-cont">
        <div class="row" style="padding: 0;" ng-repeat="product in products" ng-if="$index % 2 === 0">
          <div class="col col-50 col-center pad-5" ng-if="$index < products.length">
            <div class="new-prdt">
              <a ui-sref="product({productId:products[$index].product_id})"> <img class="prdt-img" ng-src="{{products[$index].image}}">
                <!-- <div style="width: 150px;height: 150px;padding: 0;background-color: #fff;overflow: hidden;background-image: url({{products[$index].image}});background-size: 100% auto;background-repeat: no-repeat;background-position: 0 50%;"></div> -->
                <div class="bg-color">
                  <div class="prdt-descb">{{products[$index].name}}</div>
                  <div class="row" style="padding: 5px 0;">
                    <span class="col pri-pri" style="padding: 0;">{{products[$index].price | currency: '￥'}}</span>
                    <img class="sell-type" ng-if="products[$index].nature !== 'normal'"
                         ng-src="img/{{products[$index].nature}}.png">
                  </div>
                </div>
              </a>
            </div>
          </div>
          <div class="col col-50 col-center pad-5" ng-if="$index+1 < products.length">
            <div class="new-prdt">
              <a ui-sref="product({productId:products[$index+1].product_id})">
                <img class="prdt-img" ng-src="{{products[$index+1].image}}">
                <!-- <div style="width: 150px;height: 150px;padding: 0;background-color: #fff;overflow: hidden;background-image: url({{products[$index+1].image}});background-size: 100% auto;background-repeat: no-repeat;background-position: 0 50%;"></div> -->
                <div class="bg-color">
                  <div class="prdt-descb">{{products[$index+1].name}}</div>
                  <div class="row" style="padding: 5px 0;">
                    <span class="col pri-pri" style="padding: 0;">{{products[$index+1].price | currency: '￥'}}</span>
                    <img class="sell-type" ng-if="products[$index+1].nature !== 'normal'" ng-src="img/{{products[$index+1].nature}}.png">
                  </div>
                </div>
              </a>
            </div>
          </div>
        </div>
      </div>
      <ion-infinite-scroll
        ng-if="hasMore"
        on-infinite="loadMore()"
        distance="5%">
      </ion-infinite-scroll>
    </div>
  </ion-content>
</ion-view>
