<ion-view view-title="商户详情">
  <ion-nav-buttons side="left"><back-button></back-button></ion-nav-buttons>
  <ion-content>
    <div class="row seller-header" style="padding: 0;background-image: url('img/seller-index.jpg');">
      <div class="row" style="padding: 0;position: absolute;top: 90px;left:10px;">
        <div class="col col-34 col-center sel-logo" style="padding: 0 0 0 10px;">
          <img ng-src="{{item.once.image}}">
          <!--<span style="width:4em;margin-left: 5px;word-break: break-all;top: 20px;left: 77px;">{{item.once.name}}</span>-->
        </div>
        <div class="col col-33 col-center" style="padding: 0;">
          <button class="button button-assertive" style="min-width: 90px;min-height: 33px;line-height: 33px;"
                  ng-click="addFavorite()">收藏店铺
          </button>
        </div>
        <div class="col col-33 col-center" style="padding: 0;">
          <button class="button button-assertive" style="min-width: 90px;min-height: 33px;line-height: 33px;">带我去
          </button>
        </div>
      </div>
    </div>
    <div class="row seller-nav" style="padding: 0;margin: 0;">
      <div class="col col-33 col-center sel-top" style="padding: 0;">
        <a ng-click="showAdvertise()"><span ng-class="{'selt': productType === 1}">商品展示</span></a>
      </div>
      <div class="col col-33 col-center sel-top" style="padding: 0px;">
        <a ng-click="showRecommend()"><span ng-class="{'selt': productType === 2}">热门促销</span></a>
      </div>
      <div class="col col-33 col-center sel-top" style="padding: 0px;">
        <a ng-click="showItem()"><span ng-class="{'selt': productType === 3}">热门商品</span></a>
      </div>
    </div>
    <div>
      <hr style="margin: 0;height:1px;border:none;border-top:5px solid #e5e5e5;"/>
      <div class="index-prdt-cont">
        <div class="row" style="padding: 0;" ng-repeat="product in products" ng-if="$index % 2 === 0">
          <div class="col col-50 col-center pad-5" ng-if="$index < products.length">
            <div class="new-prdt">
              <a ui-sref="product({productId: products[$index].product_id})">
                <img ng-src="{{products[$index].image}}">

                <div class="prdt-descb">{{products[$index].name}}</div>
              </a>
            </div>
          </div>
          <div class="col col-50 col-center pad-5" ng-if="$index+1 < products.length">
            <div class="new-prdt">
              <a ui-sref="product({productId: floor.product_info[$index+1].product_id})">
                <img ng-src="{{products[$index+1].image}}">
                <div class="prdt-descb">{{products[$index+1].name}}</div>
              </a>
            </div>
          </div>
        </div>
      </div>
      <ion-infinite-scroll
        ng-if="hasMore"
        on-infinite="loadMore()"
        distance="5%">
      </ion-infinite-scroll>
    </div>
  </ion-content>
</ion-view>
