<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
    xmlns:android="http://schemas.android.com/apk/res/android"
    id="com.cloudnapps.plugins.beacon.shake"
    version="1.0.0">
    <name>Shake</name>
    
    <js-module src="www/shake.js" name="shake">
        <clobbers target="shake" />
    </js-module>
  
  <dependency id="com.cloudnapps.plugins.beacon.monitor"
              url="."
              subdir="plugins/cordova-beacon-monitor"></dependency>
    
    <!-- android -->
    <platform name="android">
      <config-file target="config.xml" parent="/*">
        <feature name="Shake">
          <param name="android-package" value="com.cloudnapps.plugins.Shake" />
        </feature>
      </config-file>
      
      <config-file target="AndroidManifest.xml" parent="/manifest/application">
        <activity android:name="com.cloudnapps.plugins.ShakeActivity"
                  android:screenOrientation="sensorPortrait"
                  android:parentActivityName=".MainActivity">
          <meta-data
            android:name="android.support.PARENT_ACTIVITY"
            android:value=".MainActivity" />
        </activity>
      </config-file>
      
      <config-file target="res/values/strings.xml" parent="/resources">
        <string name="shaking">摇一摇</string>
      </config-file>
      
      <source-file src="src/android/Shake.java" target-dir="src/com/cloudnapps/plugins"></source-file>
      <source-file src="src/android/ShakeActivity.java" target-dir="src/com/cloudnapps/plugins"></source-file>
      <source-file src="src/android/ShakeDetectingFragment.java" target-dir="src/com/cloudnapps/plugins"></source-file>      
      
      <source-file src="src/android/res/layout/activity_shake.xml" target-dir="res/layout"></source-file>
      <source-file src="src/android/res/layout/fragment_shake.xml" target-dir="res/layout"></source-file>
      <source-file src="src/android/res/drawable/animation_shaking.xml" target-dir="res/drawable"></source-file>
      <source-file src="src/android/res/drawable/shaking_1.png" target-dir="res/drawable-hdpi"></source-file>
      <source-file src="src/android/res/drawable/shaking_2.png" target-dir="res/drawable-hdpi"></source-file>
      <source-file src="src/android/res/raw/shaking.m4a" target-dir="res/raw"></source-file>      
    </platform>
    
    <!-- ios -->
    <platform name="ios">
        <config-file target="*-Info.plist" parent="NSLocationAlwaysUsageDescription">
            <string>始终利用位置服务检测周边的iBeacon，提醒用户关心的内容。</string>
        </config-file>
        <config-file target="*-Info.plist" parent="NSAppTransportSecurity">
            <dict>
                <key>NSAllowsArbitraryLoads</key>
                <true/>
            </dict>
        </config-file>
        
        <config-file target="config.xml" parent="/*">
            <feature name="Shake">
                <param name="ios-package" value="CDVShake" />
                <param name="onload" value="true" />
            </feature>
        </config-file>
        
        <header-file src="src/ios/CDVShake.h" />
        <source-file src="src/ios/CDVShake.m" />
        <header-file src="src/ios/svGifView.h" />
        <source-file src="src/ios/svGifView.m" />
        <header-file src="src/ios/WebViewController.h" />
        <source-file src="src/ios/WebViewController.m" />
        <resource-file src="src/ios/shaking.gif" />
        <resource-file src="src/ios/shaking.wav" />
        
        <framework src="libs/ios/CAProximityKit.framework" custom="true" />
        <framework src="CoreMotion.framework" />
        <framework src="libsqlite3.0.tbd" />
        <framework src="libz.tbd" />
        <framework src="ImageIO.framework" />
    </platform>
</plugin>
