<ion-modal-view class="startup-modal">	
	<ion-slide-box on-slide-changed="" class="startup-slidebox" 
	delegate-handle="slideimgs" does-continue="false">
      <ion-slide>
      	<div style="background:#33cd5f"></div> 
      </ion-slide>
      <ion-slide>
        <div style="background:#BD252C"></div>
      </ion-slide>
      <ion-slide>
        <div style="background:#11c1f3"></div>
      </ion-slide>
      <ion-slide>
        <div style="background:#886aea;padding:10px 0;">
        	<button class="button button-full button-positive" style="bottom:40px;position:absolute" ng-click="hideStartup()">Full Width Block Button</button>
        </div>
      </ion-slide>
    </ion-slide-box>
</ion-modal-view>