<ion-modal-view class="shipping-select">
  <ion-header-bar class="bar bar-header bar-positive">
    <h1 class="title">选择身份证</h1>
  </ion-header-bar>
  <ion-content>
    <ion-list>
      <label class="item item-radio radio" ng-repeat="item in items">
        <input type="radio" name="group" ng-click="hideModal();" ng-change="updateModel();" ng-model="model.selected" ng-value="item">
        <div class="item-content">
          <h2 class="row"><div class="col">姓名: {{item.full_name}}</div></h2>
          <div class="row"><div class="col"><p>身份证号: {{item.number}}</p></div></div>
        </div>
        <i class="radio-icon ion-checkmark"></i>
      </label>
      <ion-item class="item-icon-left" ui-sref="tab.cart-idcard-change" ng-click="hideModal();bridge.popupOnBack=true;">
        <i class="icon ion-plus"></i>
        <h2>添加身份证</h2>
      </ion-item>
    </ion-list>
  </ion-content>
  <ion-footer-bar align-title="center" class="bar-stable" style="padding: 0px;">
    <div class="button-bar">
      <button class="button button-dark" ng-click="hideModal();bridge.popupOnBack=false;">关闭</button>
    </div>
  </ion-footer-bar>
</ion-modal-view>
