<ion-view view-title="{{'register_title'|translate}}">
  <ion-nav-buttons side="left"><back-button></back-button></ion-nav-buttons>
  <ion-content>
    <div class="list">
      <!-- 手机号 -->
      <label class="item item-input">
        <span class="input-label" style="max-width: 5em;color: #333;">手机号码：</span>
        <input type="text" ng-model="userInfo.mobile" placeholder="请输入手机号码">
      </label>
      <!-- 验证码 -->
      <div class="item item-input" style="padding: 0 0 0 16px;position: relative;">
        <span class="input-label" style="max-width: 4em;color: #333;padding: 13px 10px 12px 0;">验证码：</span>
        <input type="number" ng-model="userInfo.signCode" style="padding-right: 112px;">
        <button style="font-size:14px;position: absolute;right: 0;width: 100px;height: 45px;background-color: #bd252c;border: 1px solid #bd252c;color: #fff;font-weight: 500;" ng-click="getSignCode()">{{reSendCodeTime <= 0 ? '获取验证码' : ('重新发送(' + reSendCodeTime + ')')}}</button>
      </div>
      <!-- 密码 -->
      <label class="item item-input">
        <span class="input-label" style="max-width: 5em;color: #333;">输入密码：</span>
        <input type="password" ng-model="userInfo.password">
      </label>
      <!-- 确认密码 -->
      <label class="item item-input">
        <span class="input-label" style="max-width: 5em;color: #333;">确认密码：</span>
        <input type="password" ng-model="userInfo.confirmPwd">
      </label>
      <!-- 注册条款 -->
      <label class="item item-input">
        <label class="toggle">
          <input type="checkbox" ng-model="userInfo.license">
          <div class="track">
            <div class="handle"></div>
          </div>
        </label>
        <label style="position: relative;color: #333;margin-left: 5px;font-size: 14px;"> 同意<a href="" style="text-decoration: none;margin-left: 2px;color: #bd252c;">注册条款</a></label>
      </label>
    </div>

    <div class="button-bar">
      <a class="button button-full button-positive" style="font-size:18px;" ng-click="submitUser()" ng-disabled="!userInfo.license">确定</a>
    </div>
  </ion-content>
</ion-view>
