<ion-view view-title="{{'login_title'|translate}}">
  <ion-content class="padding">

    <div class="list card">

      <div class="item item-body">
        <img src="img/ionic.png" align="center">


        <div class="list">
          <label class="item item-input">
            <span class="input-label">账号：</span>
            <input type="text" ng-model="userInfo.name" placeholder="请输入用户名（手机号）">
          </label>
          <label class="item item-input">
            <span class="input-label">密码：</span>
            <input type="password" ng-model="userInfo.password" placeholder="请输入密码">
          </label>

          <div class="row">
            <div class="col col-100">
              <div class="button-bar">
                <button class="button button-full" ng-click="login()">
                  登录
                </button>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col col-50" align="right">
              <p><a>忘记密码</a></p>
              </p><a href="#/register">新用户注册</a></p>
            </div>
          </div>

        </div>

      </div>

  </ion-content>
</ion-view>

