<ion-view view-title="{{'retrieve_password'|translate}}" hide-tabs="true">
  <ion-nav-buttons side="left">
    <back-button></back-button>
  </ion-nav-buttons>
  <ion-content class="user-retrive-password">
    <div class="list" ng-show="!verified">
      <label class="item item-input form-item">
        <span class="input-label form-label">手机号码：</span>
        <input type="tel" class="form-tip" ng-model="userInfo.mobile" placeholder="请输入您注册时的手机号码"/>
      </label>
      <!-- 验证码 -->
      <div class="row" style="padding: 0;">
        <div class="col form-item" style="display: inherit;">
          <span class="form-label">验证码：</span>
          <input type="number" class="form-tip" placeholder="验证码" ng-model="userInfo.signCode"/>
        </div>
        <div class="send-code">
          <button class="code-num" ng-disabled="reSendCodeTime > 0" ng-click="reSendCodeTime > 0 || sendCode()">{{reSendCodeTime <= 0 ? '发送验证码' : ('重新发送(' + reSendCodeTime + ')')}}
          </button>
        </div>
      </div>

      <div class="row" style="padding: 0;margin-top:100px;">
        <div class="col col-100 col-center" style="padding: 0;">
          <button class="button button-full button-positive" style="font-size:16px;" ng-click="mobileValide()">下一步
          </button>
        </div>
      </div>
    </div>
    <div class="list" ng-show="verified">
      <div style="padding:0px;">
        <div class="list">
          <label class="item item-input form-item">
            <span class="input-label form-label">输入密码：</span>
            <input type="password" class="form-tip" placeholder="密码不少于6位" ng-model="userInfo.password"/>
          </label>
          <label class="item item-input form-item">
            <span class="input-label form-label">确认密码：</span>
            <input type="password" class="form-tip" ng-model="userInfo.confirmPwd" placeholder="请再次输入密码" />
          </label>

          <div class="row" style="padding:0px" ;>
            <div class="col" style="padding:0px;">
              <div class="button-bar" style="margin-top:100px;">
                <button class="button button-positive" ng-click="lostPasswd()">
                  修改密码
                </button>
              </div>
              <div style="text-align:center;font-size:12px;">修改后请重新登录</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>
