<ion-view view-title="{{'register_title'|translate}}">
  <ion-nav-buttons side="left">
    <back-button></back-button>
  </ion-nav-buttons>
  <ion-content>
    <div class="list user-register">
      <!-- 手机号 -->
      <label class="item item-input form-item">
        <span class="input-label form-label">手机号码：</span>
        <input type="tel" class="form-tip" ng-model="userInfo.mobile" placeholder="请输入手机号码">
      </label>
      <!-- 验证码 -->
      <div class="row" style="padding: 0;">
        <div class="col form-item" style="display: inherit;">
          <span class="form-label">验证码：</span>
          <input type="number" class="form-tip" placeholder="验证码" ng-model="userInfo.signCode"/>
        </div>
        <div class="send-code">
          <button class="code-num" ng-disabled="reSendCodeTime > 0" ng-click="reSendCodeTime > 0 || getSignCode()">
            {{reSendCodeTime <= 0 ? '获取验证码' : ('重新发送(' + reSendCodeTime + ')')}}
          </button>
        </div>
      </div>
      <!-- 密码 -->
      <label class="item item-input form-item">
        <span class="input-label form-label">输入密码：</span>
        <input type="password" class="form-tip" ng-model="userInfo.password" placeholder="密码不少于6位">
      </label>
      <!-- 确认密码 -->
      <label class="item item-input form-item">
        <span class="input-label form-label">确认密码：</span>
        <input type="password" class="form-tip" ng-model="userInfo.confirmPwd" placeholder="请再次输入密码">
      </label>
      <!-- 注册条款 -->
      <div class="item item-input" style="padding-left: 10px;">
        <label class="toggle">
          <input type="checkbox" ng-model="userInfo.license">

          <div class="track">
            <div class="handle"></div>
          </div>
        </label>

        <div class="cp-item">同意<a ui-sref="usercopyright">用户注册协议</a></div>
      </div>
    </div>
    <div class="button-bar">
      <button class="button button-positive" style="font-size: 18px;"
              ng-click="clicked || submitUser()"
              ng-disabled="!userInfo.license || clicked">
        确定
      </button>
    </div>
  </ion-content>
</ion-view>
