
<ion-view view-title="{{'retrieve_password'|translate}}" hide-tabs="true">
  <ion-content class="padding" style="padding:0px;">
    <div class="list" ng-show="!verified">
      <div class="item item-input">
        <span style="width:19%;" class="input-label">手机号：</span>
        <input type="text" ng-model="userInfo.mobile" placeholder="请输入您注册时的手机号码"></input>
      </div>
      <div class="item item-input" style="padding:0px;">
        <span style="padding-left:17px;" class="input-label col-20">验证码：</span>
        <input class="col-50" type="text" ng-model="userInfo.signCode"></input>
        <input ng-click="sendCode()" class="button col-30" type="button" value="发送验证码" style="background:rgba(104,159,188,1);text-align:center;color:white; height: 34px;"></input>
      </div>
      <div class="row" style="padding:0px;">
        <div class="col" style="padding:0px;">
          <div class="button-bar" style="margin-top:100px;">
            <input type="button" value="下一步" ng-click="mobileValide()" style="width:100%;height:49px;background:rgba(104,159,188,1);color:white;" class="button">
          </div>
        </div>
      </div>
    </div>
    <div class="list" ng-show="verified">
      <div style="padding:0px;">
        <div class="list">
          <label class="item item-input">
            <span class="input-label">输入密码：</span>
            <input type="password" ng-model="userInfo.password">
          </label>
          <label class="item item-input">
            <span class="input-label">确认密码：</span>
            <input type="password" ng-model="userInfo.confirmPwd">
          </label>
          <div class="row" style="padding:0px" ;>
            <div class="col" style="padding:0px;">
              <div class="button-bar" style="margin-top:100px;">
                <button class="button " ng-click="lostPasswd()" style="background:rgba(104,159,188,1);color:white;">
                  修改密码
                </button>
              </div>
              <div style="text-align:center;font-size:12px;">修改后请重新登录</div>
            </div>
          </div>
        </div>
      </div>
  </ion-content>
</ion-view>
