<ion-view view-title="{{'comment_title'|translate}}" hide-tabs="true">
  <ion-nav-buttons side="left">
    <back-button></back-button>
  </ion-nav-buttons>
  <ion-content>
    <div class="order-comment">
      <div class="com-item" ng-repeat="product in item" ng-if="$index > 0">
        <div class="row com-prdt" style="margin:0;padding: 10px;">
          <div class="col col-25" style="padding: 0;">
            <img ng-src="{{product.image}}">
          </div>
          <div class="col col-75" style="padding: 0 0 0 10px;">
            <p class="prdt-name">{{product.name}}</p>
          </div>
        </div>
        <hr class="com-hr"/>
        <div class="row ord-prdt-comt" style="padding: 10px;">
          <div class="col col-33">
            <a ng-click="commentInfo.comment[$index-1].point[0].type_id = '1'">
              <span ng-class="{'ch-comt': commentInfo.comment[$index-1].point[0].type_id === '1'}">好评</span>
            </a>
          </div>
          <div class="col col-33">
            <a ng-click="commentInfo.comment[$index-1].point[0].type_id = '2'">
              <span ng-class="{'ch-comt': commentInfo.comment[$index-1].point[0].type_id === '2'}">中评</span>
            </a>
          </div>
          <div class="col col-33">
            <a ng-click="commentInfo.comment[$index-1].point[0].type_id = '3'">
              <span ng-class="{'ch-comt': commentInfo.comment[$index-1].point[0].type_id === '3'}">差评</span>
            </a>
          </div>
        </div>
        <hr class="com-hr"/>
        <div class="row" style="padding: 5px 10px;">
          <textarea rows="4" placeholder="您的评论对其他人很有帮助哦" style="width: 100%"
                    ng-model="commentInfo.comment[$index-1].goods_comment"></textarea>
        </div>
      </div>
      <hr class="com-hr"/>
    </div>
    <div ng-class="list">
      <div style="padding: 10px 0;">
        <div class="row">
          <div class="col col-100">
            <p style="margin: 0;font-size: 16px;">店铺评分:</p>
          </div>
        </div>
        <div class="row" style="margin: 0;padding: 5px;" ng-repeat="rate in item[0].rate">
          <p class="comment_star">{{rate.name}}:
            <span class="comment_starlevel">
              <a class="s1" ng-click="start_level_{{$index}}(1)" ng-class="{'active': item_{{$index}}_level === 1}"></a>
              <a class="s2" ng-click="start_level_{{$index}}(2)" ng-class="{'active': item_{{$index}}_level === 2}"></a>
              <a class="s3" ng-click="start_level_{{$index}}(3)" ng-class="{'active': item_{{$index}}_level === 3}"></a>
              <a class="s4" ng-click="start_level_{{$index}}(4)" ng-class="{'active': item_{{$index}}_level === 4}"></a>
              <a class="s5" ng-click="start_level_{{$index}}(5)" ng-class="{'active': item_{{$index}}_level === 5}"></a>
            </span>
          </p>
        </div>
      </div>
    </div>
    <div class="row" style="padding: 0;">
      <div class="col col-100 col-center" style="padding: 0;">
        <button class="button button-full" style="font-size:18px;background-color: #bd252c;color: #fff;"
                ng-click="clicked || submitRequest()"
                ng-disabled="clicked">
          {{'submit_comment'|translate}}
        </button>
      </div>
    </div>
  </ion-content>
</ion-view>
