<ion-view view-title="{{'complaint_title'|translate}}">
  <ion-nav-buttons side="left"><back-button></back-button></ion-nav-buttons>
  <ion-nav-buttons side="right">
    <div class="row-center">
      <a class="button button-light" href="#/complaints/list">
        我的投诉
      </a>
    </div>
  </ion-nav-buttons>
  <ion-content>
    <div class="list card">
      <div class="item item-body" style="padding-left: 5px">
        <div class="row">
          <div class="col col-33">
            标题：
          </div>
          <div class="col col-70">
            <input type="text" placeholder="请输入标题" ng-model="complaintInfo.title">
          </div>
        </div>
        <div class="row">
          <div class="col col-33">
            内容：
          </div>
          <div class="col col-70">
            <textarea placeholder="请输入内容" ng-model="complaintInfo.content"></textarea>
          </div>
        </div>
        <div class="row">
          <div class="col col-33">
            联系方式：
          </div>
          <div class="col col-70">
            <input type="text" placeholder="请输入联系方式" ng-model="complaintInfo.contact">
          </div>
        </div>
      </div>

      <div class="row" ng-repeat="item in orderInfo.product">
        <div class="col col-10">
          <input type="radio" name="good" ng-model="item.selected">
        </div>
        <div class="col col-80">
          <p>{{item.name}}</p>

          <p>数量:{{item.num}}</p>
        </div>
        <div class="col col-10">
          <input type="text" placeholder="{{item.num}}" ng-model="item.requestNum">
        </div>
      </div>
    </div>
  </ion-content>
  <ion-footer-bar align-title="center" class="bar-stable" style="padding: 0px;">
    <div class="button-bar">
      <button class="button button-positive" style="font-size: 18px;"
              ng-click="submitRequest()">
        {{'return_addbtn'|translate}}
      </button>
    </div>
  </ion-footer-bar>
</ion-view>
