<ion-view view-title="投诉与建议" hide-tabs="true">
  <ion-content>
    <div style="height: 44px">
    </div>
    <div class="list card" style="margin: 0;box-shadow: none;">
      <div class="item item-body">
        <p style="margin: 10px 0;color: #4c4b4d;">投诉时间：{{item.time}}</p>

        <p style="margin: 10px 0;color: #4c4b4d;">投诉关于：{{item.complaints_type}}</p>

        <p style="margin: 10px 0 0;color: #4c4b4d;">订单号：{{item.order_id}}</p>

        <div class="row" style="padding: 0;">
          <p style="min-width: 5em;margin: 10px 0;color: #4c4b4d;">投诉说明：</p>

          <p style="margin: 10px 0;color: #4c4b4d;">{{item.content}}</p>
        </div>
      </div>

      <div class="item item-body" style="border-bottom: 1px solid #ddd;">
        <p style="margin: 0;color: #4c4b4d;">客服解释</p>

        <p style="color: #4c4b4d;">实在抱歉，对您提出的问题表示感谢，我们会严格规范发货流程减少此类事情的发生，抱歉给你带来不必要的麻烦</p>
      </div>
    </div>
  </ion-content>
</ion-view>
