<ion-view view-title="订单评论">
  <ion-content class="padding">
    <div class="list card">
      <div class="item item-divider">
        <p>{{items[0].name}}</p>
        <ion-list>
          <ion-item class="item-remove-animate item-avatar item-icon-right" ng-repeat="rate in item.rate"
                    type="item-text-wrap">
            <p>{{rate.name}} - {{rate.type_id}}</p>
          </ion-item>
        </ion-list>
      </div>
      <div class="item item-body">
        <ion-list>
          <ion-item class="item-remove-animate item-avatar item-icon-right" ng-repeat="item in items"
                    type="item-text-wrap">
            <div ng-hide="$index === 0">
              <h2>{{item.name}}</h2>
              <ion-item class="item-remove-animate item-avatar item-icon-right" ng-repeat="rate in item.rate"
                        type="item-text-wrap">
                <p>{{rate.name}} - {{rate.type_id}}</p>
              </ion-item>
            </div>
          </ion-item>
        </ion-list>
      </div>
    </div>
  </ion-content>
</ion-view>
