<ion-view view-title="{{'fav_title'|translate}}">
  <ion-content class="padding">
    <div class="button-bar">
      <button class="button button-full button-light" style="font-size:16px;" ng-click="selectTab('goods')">
        {{'fav_goods' | translate}}
      </button>
      <button class="button button-full button-light" style="font-size:16px;" ng-click="selectTab('sellers')">
        {{'fav_sellers' | translate}}
      </button>
    </div>
    <div ng-show="selectType === 'goods'">
      <ion-list>
        <ion-item class="item-remove-animate item-avatar item-icon-right" ng-repeat="item in items" type="item-text-wrap">
          <img ng-src="{{item.image}}">

          <h2>{{item.name}}</h2>

          <p>{{item.price}}</p>

          <i class="icon ion-chevron-right icon-accessory"></i>

          <ion-option-button class="button-assertive" ng-click="remove(item)">
            删除
          </ion-option-button>
        </ion-item>
      </ion-list>
    </div>
    <div ng-show="selectType === 'sellers'">
      <ion-list>
        <ion-item class="item-remove-animate item-avatar item-icon-right" ng-repeat="item in items" type="item-text-wrap">
          <h2>{{item.name}}</h2>

          <i class="icon ion-chevron-right icon-accessory"></i>

          <ion-option-button class="button-assertive" ng-click="remove(item)">
            删除
          </ion-option-button>
        </ion-item>
      </ion-list>
    </div>
  </ion-content>
</ion-view>

