<ion-view view-title="{{'fav_title'|translate}}" hide-tabs="true">
  <ion-content>
    <div class="bar bar-header item-input-inset">
      <label class="item-input-wrapper">
        <i class="icon ion-ios-search placeholder-icon"></i>
        <input type="search" placeholder="Search">
      </label>
    </div>

    <ion-list>
      <ion-item class="item-remove-animate item-avatar item-icon-right" ng-repeat="item in items" type="item-text-wrap">
        <img style="border-radius: 0;" ng-src="{{item.image}}">

        <h2 style="color:#666c70;font-size: 14px;margin-bottom: 5px;">{{item.name}}</h2>

        <p style="color: #c9000b;">￥{{item.price}}</p>

        <!--<i class="icon ion-chevron-right icon-accessory"></i>-->

        <ion-option-button class="button-assertive" ng-click="remove(item)">
          删除
        </ion-option-button>
      </ion-item>
    </ion-list>
    <ion-infinite-scroll
      ng-if="hasMore"
      on-infinite="loadMore()"
      distance="1%">
    </ion-infinite-scroll>
  </ion-content>
</ion-view>
