<ion-nav-view name="tab-favorites">
  <div class="bar bar-subheader">
    <div class="button-bar">
      <button class="button button-light" ui-sref="tab.favorites.sellers">{{'fav_sellers' | translate}}</button>
      <button class="button button-light" ui-sref="tab.favorites.goods">{{'fav_goods'|translate}}</button>
    </div>
  </div>
  <ion-view>
    <div class="bar bar-subheader">
      <a title="{{'fav_sellers'|translate}}" href="#/tab/favorites/sellers"></a>
      <a title="{{'fav_goods'|translate}}" href="#/tab/favorites/goods"></a>
    </div>
    <ion-content class="has-subheader">
    </ion-content>
  </ion-view>
</ion-nav-view>
