<ion-view view-title="{{'fav_title'|translate}}" hide-tabs="true">
  <ion-nav-title>
    <form ng-submit="search()">
      <label class="item item-input" style="margin: 7px 0;padding: 0 0 0 6px;border-radius: 7px;border: none;">
        <i class="icon ion-search placeholder-icon"></i>
        <input type="search" placeholder="Search" ng-model="keywords.value" style="height: 28px;">
      </label>
      <i class="clear-search icon ion-ios-close-empty placeholder-icon" ng-click="clearSearch($event)"></i>
    </form>
  </ion-nav-title>

  <ion-content>
    <div style="height: 44px">
    </div>

    <ion-list>
      <ion-item class="item-remove-animate item-avatar item-icon-right" ng-repeat="item in items" type="item-text-wrap">
        <div class="col col-25 col-center" style="padding:0;">
          <img style="height: 75px;width: 75px;margin: 15px 10px 10px;padding: 5px;border: 1px solid #a9a9a9;"
               ng-src="{{item.image}}">
        </div>
        <div class="col col-75 col-center" style="padding-left: 15px;">
          <p style="margin: 0;color: #3b3a3a;font-size: 18px;font-weight: 400;">{{item.name}}</p>
        </div>

        <ion-option-button class="button-assertive" ng-click="remove(item)">
          删除
        </ion-option-button>
      </ion-item>
    </ion-list>
    <ion-infinite-scroll
      ng-if="hasMore"
      on-infinite="loadMore()"
      distance="1%">
    </ion-infinite-scroll>
  </ion-content>
</ion-view>
