<ion-nav-view name="tab-feedbacks">
  <div class="bar bar-subheader">
    <div class="tabs-striped tabs-color-assertive">
      <div class="tabs">
        <a class="tab-item" ui-sref="feedbacks-returns">
          {{'return_title' | translate}}
        </a>
        <a class="tab-item" ui-sref="feedbacks-complaints">
          {{'complaint_title'|translate}}
        </a>
      </div>
    </div>
  </div>
  <ion-view>
    <ion-nav-buttons side="left"><back-button></back-button></ion-nav-buttons>
    <div class="bar bar-subheader">
      <a title="{{'return_title' | translate}}" href="#/feedbacks/returns"></a>
      <a title="{{'complaint_title'|translate}}" href="#/feedbacks/complaints"></a>
    </div>
    <ion-content class="has-subheader">
    </ion-content>
  </ion-view>
</ion-nav-view>
