<ion-view view-title="{{'gold_title'|translate}}">
  <ion-content>

    <div class="row" style="padding:30px 20px 10px;">
      <div class="col col-center" style="padding: 0px;">
        <p style="font-size: 12px;margin: 0;">可用金币:</p>
      </div>
    </div>

    <div class="row" style="padding:0 20px 30px;">
      <div class="col col-center" style="padding: 0px;">
        <h1 class="title" style="color:#c11123;">{{goldInfo.total}}</h1>
      </div>
    </div>

    <div class="row" style="padding: 5px 20px;background-color: #c11123;">
      <div class="col col-90 col-center" style="padding: 0px;" >
        <a class="button button-clear" style="color: #fff;padding: 0;" href="#/tab/gold/list">金币账单</a>
      </div>
      <div class="col col-10 col-center" style="padding: 0px;color: #fff;text-align: right;">
        <i class="icon ion-chevron-right icon-accessory"></i>
      </div>
    </div>

  </ion-content>
</ion-view>
