<ion-view view-title="{{'gold_title'|translate}}" hide-tabs="true">
  <ion-nav-buttons side="left"><back-button></back-button></ion-nav-buttons>
  <ion-content>
    <div class="row" style="padding:30px 20px 10px;">
      <div class="col col-center" style="padding: 0px;">
        <p style="font-size: 16px;margin: 0;">可用金币:</p>
      </div>
    </div>

    <div class="row" style="padding:0 20px 30px;">
      <div class="col col-center" style="padding: 0px;">
        <h1 class="title" style="color:#bd252c;">{{goldInfo.total}}</h1>
      </div>
    </div>

    <div class="row" style="padding: 5px 20px;background-color: #bd252c;" ng-click="showHistory()">
      <div class="col col-90 col-center" style="padding: 0px;">
        <a class="button button-clear" style="color: #fff;padding: 0;font-size: 20px;">金币账单</a>
      </div>
      <div class="col col-10 col-center" style="padding: 0px;color: #fff;text-align: right;">
        <i class="icon ion-chevron-right icon-accessory" ng-show="!goldInfo.isShow"></i>
        <i class="icon ion-chevron-down icon-accessory" ng-show="goldInfo.isShow"></i>
      </div>
    </div>

    <ion-list ng-show="goldInfo.isShow">
      <ion-item class="item-remove-animate item-icon-right" ng-repeat="item in goldInfo.items" type="item-text-wrap" style="padding: 10px;">
        <div class="row">
          <div class="col col-67 col-center">
            <p style="font-size: 20px;margin-bottom: 10px;">{{item.behavior}}</p>
            <p style="font-size: 18px;font-weight: 300;">{{item.time}}</p>
          </div>
          <div class="col col-33 col-center" align="right">
            <span style="font-size: 28px;color: #bd252c;">+{{item.point}}</span>
          </div>
        </div>
      </ion-item>
    </ion-list>

  </ion-content>
</ion-view>
