<ion-view view-title="{{title}}" hide-tabs="true">
  <ion-nav-buttons side="left">
    <back-button></back-button>
  </ion-nav-buttons>
  <ion-content>
    <div class="list idcard-add">
      <label class="item item-input">
        <input type="text" placeholder="姓名" ng-model="idCardInfo.full_name" ng-disabled="idCardInfo.card_id" class="bg-color"/>
      </label>
      <label class="item item-input">
        <input type="text" placeholder="身份证号" ng-model="idCardInfo.number"/>
      </label>
      <label class="item item-toggle idcard-choose">
        设置为默认身份证
        <label class="toggle">
          <input type="checkbox" ng-model="idCardInfo.is_default">
          <div class="track">
            <div class="handle"></div>
          </div>
        </label>
      </label>
      <p class="idcard-comment">请确保姓名与身份证号码一致，否则无法通关发货</p>
    </div>

    <div class="button-bar">
      <button class="button button-positive" style="font-size: 18px;"
              ng-click="clicked || add()"
              ng-disabled="clicked">
        确定
      </button>
    </div>
  </ion-content>
</ion-view>
