<ion-view view-title="{{'idcard_title'|translate}}">
  <ion-content>
    <div class="row">
      <h2>默认身份证</h2>
    </div>

    <hr style="margin: 0;height:1px;border:none;border-top:1px solid #f1f1f1;"/>

    <ion-list>
      <ion-item class="item-remove-animate item-icon-right" ng-if="item.is_default" ng-repeat="item in items"
                type="item-text-wrap">
        <div class="row">
          <div class="col col-33">
            <h2>姓名：</h2>
          </div>
          <div class="col col-50">
            <h2>{{item.full_name}}</h2>
          </div>
        </div>
        <div class="row">
          <div class="col col-33">
            <h2>身份证：</h2>
          </div>
          <div class="col col-67">
            <h2>{{item.number}}</h2>
          </div>
        </div>
      </ion-item>
    </ion-list>

    <hr style="margin: 10px;height:1px;border:none;border-top:10px solid #f1f1f1;"/>

    <ion-list>
      <ion-item class="item-remove-animate item-icon-right" ng-if="!item.is_default" ng-repeat="item in items"
                type="item-text-wrap">
        <div class="row">
          <div class="col col-33">
            <h2>姓名：</h2>
          </div>
          <div class="col col-50">
            <h2>{{item.full_name}}</h2>
          </div>
        </div>
        <div class="row">
          <div class="col col-33">
            <h2>身份证：</h2>
          </div>
          <div class="col col-67">
            <h2>{{item.number}}</h2>
          </div>
        </div>
      </ion-item>
    </ion-list>
    <div class="button-bar">
      <a class="button button-full button-light" style="font-size:20px;" href="#/idcards/add">
        {{'idcard_addbtn'|translate}}
      </a>
    </div>
  </ion-content>
</ion-view>
