<ion-view view-title="{{title}}" hide-tabs="true">
  <ion-nav-buttons side="left">
    <back-button></back-button>
  </ion-nav-buttons>
  <ion-content>
    <div class="list">
      <label class="item item-input">
        <input type="text" placeholder="姓名" ng-model="idCardInfo.full_name" ng-disabled="idCardInfo.card_id" style="background-color: #fff">
      </label>
      <label class="item item-input">
        <input type="text" placeholder="身份证号" ng-model="idCardInfo.number" ng-disabled="idCardInfo.card_id" style="background-color: #fff">
      </label>
      <label class="item item-toggle" style="font-size: 14px;">
        设置为默认身份证
        <label class="toggle">
          <input type="checkbox" ng-model="idCardInfo.is_default">

          <div class="track">
            <div class="handle"></div>
          </div>
        </label>
      </label>

      <p style="padding: 10px 5px;text-align: center;font-size: 12px;margin: 0;color: #4a4a4a;">身份证填写后将无法进行更改或删除,
        请确认信息的正确</p>
    </div>
  </ion-content>
  <ion-footer-bar align-title="center" class="bar-stable" style="padding: 0px;">
    <div class="button-bar">
      <button class="button button-positive" style="font-size: 18px;"
              ng-click="clicked || add()"
              ng-disabled="clicked">
        确定
      </button>
    </div>
  </ion-footer-bar>
</ion-view>
