<ion-view view-title="{{'idcard_title'|translate}}" hide-tabs="true">
  <ion-nav-buttons side="left">
    <back-button></back-button>
  </ion-nav-buttons>
  <ion-content class="idcard-list">
    <div class="row">
      <div class="col col-center">
        <h4 class="def-card-tip">默认身份证号</h4>
      </div>
    </div>

    <ion-list>
      <ion-item class="item-remove-animate item-icon-right def-card-info" ng-repeat="item in items" ng-if="!!item && !!item.is_default" type="item-text-wrap" ng-click="setDefault(item)">
        <div class="row">
          <div class="col col-90">
            <h2 class="def-card-name">姓名：{{item.full_name}}</h2>
            <h2>身份证号：{{item.number}}</h2>
          </div>
          <div class="col col-10">
            <i class="icon ion-chevron-right icon-accessory"></i>
          </div>
        </div>
      </ion-item>
    </ion-list>

    <hr class="hr-line-f1-10" />

    <ion-list>
      <ion-item class="item-remove-animate item-icon-right idcard-all" ng-repeat="item in items" ng-if="!!item && !item.is_default" type="item-text-wrap" ng-click="setDefault(item)">
        <div class="row">
          <div class="col col-90">
            <h2>姓名：{{item.full_name}}</h2>
            <h2>身份证号：{{item.number}}</h2>
          </div>
          <div class="col col-10">
            <i class="icon ion-chevron-right icon-accessory"></i>
          </div>
        </div>
      </ion-item>
    </ion-list>
    <ion-infinite-scroll
      ng-if="hasMore"
      on-infinite="loadMore()"
      distance="1%">
    </ion-infinite-scroll>
  </ion-content>
  <ion-footer-bar align-title="center" class="bar-stable" style="padding: 0px;">
    <div class="button-bar">
      <button class="button button-positive" style="font-size: 18px;"
              ui-sref="idcard-change">
        {{'idcard_addbtn'|translate}}
      </button>
    </div>
  </ion-footer-bar>
</ion-view>
