<ion-view view-title="{{'my'|translate}}" hide-tabs="false">
  <ion-nav-buttons side="right">
    <div class="row row-center member-set" style="padding: 0px;margin-right: 10px;position: relative;">
      <div class="col col-center" style="padding: 0px;" ng-click="selt_set()">
        <a class="button button-clear">
          <i class="icon ion-gear-b"></i>
        </a>
      </div>
      <div ng-show="select_setting" style="position: absolute;right: -9px;top: 48px;background-color: #bd252c;color: #fff;width: 88px;border-radius: 16px;padding: 10px 0;z-index: 999">
        <div class="pop-arrow"></div>
        <div class="row row-center" style="padding: 0;margin: 5px 0 10px;">
          <div class="col col-center" style="font-size: 16px;text-align:center;">
            <a style="color:#fff;display: block;text-decoration: none;" ui-sref="setting_changepwd">修改密码</a>
          </div>
        </div>
        <div class="row row-center" style="padding: 0;margin: 5px 0;">
          <div class="col col-center" style="font-size: 16px;text-align:center;">
            <a style="color:#fff;display: block;text-decoration: none;" ng-click="logOut()">安全退出</a>
          </div>
        </div>
        <div>
          <input focus="select_setting" ng-blur="displayBlur($event)" style="width: 0; height: 0" type="text">
        </div>
      </div>
    </div>
  </ion-nav-buttons>

  <ion-content>
    <div class="row"
         style="padding: 0;background-color: #fff;background-image: url('img/me.jpg');background-position: 5% 50%;background-repeat: no-repeat;background-size: cover;background-origin:content-box;width: 100%;height:190px;position: relative;">
      <div class="row" style="padding: 0;position:absolute;top: 33px;padding-left: 16px;margin-top: 2px;"
           ui-sref="settings">
        <div class="col col-33 col-center" style="text-align: center;padding: 0;">
          <img ng-src="{{currentUser.image}}" style="height: 100px;width: 100px;border-radius: 50% 50%;">
        </div>
        <div class="col col-67 col-center" style="padding: 0;font-size: 14px;color: #333333;margin: 46px 0 0 14px;">
          <p>{{currentUser.login_name}}</p>

          <p>{{currentUser.lv_name}}</p>
        </div>
      </div>
      <div class="row" style="padding: 0px;margin-top: 145px;opacity: 0.7;">
        <div class="col col-50 col-center"
             style="padding: 0px;background-color: #bd252c;    text-align: center;border-right: 1px solid #fff;">
          <a class="button button-clear " style="font-size:16px;padding: 0;border: none;color: #fff;"
             ui-sref="favorites({type:'goods'})">收藏的商品</a>
        </div>
        <div class="col col-50 col-center" style="padding: 0px;background-color: #bd252c;text-align: center;">
          <a class="button button-clear " style="font-size:16px;padding: 0;border: none;color: #fff;"
             ui-sref="favorites({type:'sellers'})">收藏的店铺</a>
        </div>
      </div>
    </div>

    <hr style="margin: 0;height:1px;border:none;border-top:1px solid #a9a9a9;"/>

    <div class="row" style="padding: 0;height: 40px;line-height: 40px;">
      <div class="col col-20"
           style="padding: 0;text-align: center;height: 40px;font-size: 14px;"
           ui-sref="orders({type: 'nopay'})">
        <a class="" style="color: #333333;text-decoration: none;">待付款</a>
      </div>
      <div class="col" style="padding: 0;text-align: center;opacity: 0.4;">
        |
      </div>
      <div class="col col-20"
           style="padding: 0px;text-align: center;height: 40px;font-size: 14px;"
           ui-sref="orders({type: 'noship'})">
        <a class="" style="color: #333333;text-decoration: none;">待发货</a>
      </div>
      <div class="col" style="padding: 0;text-align: center;opacity: 0.4;">
        |
      </div>
      <div class="col col-20"
           style="padding: 0px;text-align: center;height: 40px;font-size: 14px;"
           ui-sref="orders({type: 'shipped'})">
        <a class="" style="color: #333333;text-decoration: none;">待收货</a>
      </div>
      <div class="col" style="padding: 0;text-align: center;opacity: 0.4;">
        |
      </div>
      <div class="col col-20"
           style="padding: 0px;text-align: center;height: 40px;font-size: 14px;"
           ui-sref="orders({type: 'commenting'})">
        <a class="" style="color: #333333;text-decoration: none;">待评论</a>
      </div>
      <div class="col" style="padding: 0;text-align: center;opacity: 0.4;">
        |
      </div>
      <div class="col col-20"
           style="padding: 0px;text-align: center;height: 40px;font-size: 14px;"
           ui-sref="returns">
        <a class="" style="color: #333333;text-decoration: none;">售后</a>
      </div>
    </div>

    <hr style="margin: 0;height:1px;border:none;border-top:1px solid #a9a9a9;"/>

    <div class="row"
         style="padding: 0 10px;height: 40px;line-height: 40px;"
         ui-sref="orders({type: 'all'})">
      <div class="col col-90 col-center" style="padding: 0px;height: 40px;font-size: 14px;">
        <a style="color: #333333;text-decoration: none;">全部订单</a>
      </div>
      <div class="col col-10 col-center" style="padding: 0px;height: 40px;text-align: right;">
        <i class="icon ion-chevron-right icon-accessory"></i>
      </div>
    </div>

    <hr style="margin: 0;height:10px;border:none;border-top:10px solid #f1f1f1;"/>

    <div class="row" style="padding: 0 10px;height: 40px;line-height: 40px;" ui-sref="points">
      <div class="col col-90 col-center" style="padding: 0px;height: 40px;font-size: 14px;">
        <a style="color: #333333;text-decoration: none;">我的积分</a>
      </div>
      <div class="col col-10 col-center" style="padding: 0px;height: 40px;text-align: right;">
        <i class="icon ion-chevron-right icon-accessory"></i>
      </div>
    </div>

    <hr style="margin: 0;height:1px;border:none;border-top:1px solid #f1f1f1;"/>

    <div class="row" style="padding: 0 10px;height: 40px;line-height: 40px;" ui-sref="golds">
      <div class="col col-90 col-center" style="padding: 0px;height: 40px;font-size: 14px;">
        <a style="color: #333333;text-decoration: none;">我的金币</a>
      </div>
      <div class="col col-10 col-center" style="padding: 0px;height: 40px;text-align: right;">
        <i class="icon ion-chevron-right icon-accessory"></i>
      </div>
    </div>

    <hr style="margin: 0;height:1px;border:none;border-top:1px solid #f1f1f1;"/>

    <div class="row" style="padding: 0 10px;height: 40px;line-height: 40px;" ui-sref="golds">
      <div class="col col-90 col-center" style="padding: 0px;height: 40px;font-size: 14px;">
        <a style="color: #333333;text-decoration: none;">我的优惠券</a>
      </div>
      <div class="col col-10 col-center" style="padding: 0px;height: 40px;text-align: right;">
        <i class="icon ion-chevron-right icon-accessory"></i>
      </div>
    </div>

    <hr style="margin: 0;height:10px;border:none;border-top:10px solid #f1f1f1;"/>

    <div class="row" style="padding: 0 10px;height: 40px;line-height: 40px;" ui-sref="receivers">
      <div class="col col-90 col-center" style="padding: 0px;height: 40px;font-size: 14px;">
        <a style="color: #333333;text-decoration: none;">收货地址管理</a>
      </div>
      <div class="col col-10 col-center" style="padding: 0px;height: 40px;text-align: right;">
        <i class="icon ion-chevron-right icon-accessory"></i>
      </div>
    </div>

    <hr style="margin: 0;height:1px;border:none;border-top:1px solid #f1f1f1;"/>

    <!-- 身份证管理 -->
    <div class="row" style="padding: 0 10px;height: 40px;line-height: 40px;"
         ui-sref="idcards">
      <div class="col col-90 col-center" style="padding: 0px;height: 40px;font-size: 14px;">
        <a style="color: #333333;text-decoration: none;">身份证管理</a>
      </div>
      <div class="col col-10 col-center" style="padding: 0px;height: 40px;text-align: right;">
        <i class="icon ion-chevron-right icon-accessory"></i>
      </div>
    </div>

    <!--    <hr style="margin: 0;height:10px;border:none;border-top:10px solid #f1f1f1;"/>

        <div class="row" style="padding: 0 20px;height: 40px;line-height: 40px;">
          <div class="col col-90 col-center" style="padding: 0px;height: 40px;font-size: 14px;">
            <a style="color: #333333;text-decoration: none;" href="#/tab/favorites?type=goods">我的收藏</a>
          </div>
          <div class="col col-10 col-center" style="padding: 0px;height: 40px;text-align: right;">
            <i class="icon ion-chevron-right icon-accessory"></i>
          </div>
        </div>-->

  </ion-content>
</ion-view>
