<ion-view view-title="{{'member_help'|translate}}">
  <ion-nav-buttons side="left">
    <back-button></back-button>
  </ion-nav-buttons>
  <ion-content class="member-help">
    <h4>退货流程</h4>
    <div>
      <img src="img/returnflow.png" style="width: 100%">
    </div>
    <h4>退货说明</h4>
    <p class="emsize"><strong>CTFHOKO支持“7天无忧退货”政策。自您收到商品之日起（以签收日期为准），可在7天内提出退货申请。</strong></p>

    <p>对于您在CTFHOKO上购买的商品，若符合以下情况，自客户收到商品7日内可以申请退货退款：</p>

    <p>1.商品在运输过程中造成的破损、液漏、性能故障，经售后人员核查情况属实</p>

    <p>2.商品丢件、漏发，经快递人员证明及售后人员核查情况属实</p>

    <p>3.收到商品与实际购买商品不符，经客户提供证明及售后人员核查情况属实</p>

    <p>4.收到的商品已过保质期，经售后人员核查情况属实</p>

    <p>5.若因过敏反应问题退货，需要提供医院的相关证明，售后人员核查情况属实</p>

    <p>6.自发货日起，用户超过15天未收到商品，售后人员核查情况属实，客户可申请退款</p>

    <p class="emsize"><strong>以下商品不适用退货政策：</strong></p>

    <p>1.任何非CTFHOKO出售的商品</p>

    <p>2.商品已使用影响二次销售，纸尿裤一经拆封将不支持退货</p>

    <p>3.超过受理时限（签收后7天内未提交申请将不能申请售后）</p>

    <p>4.由于运输过程中的不可抗拒因素，商品出现轻微破损，但不影响正常使用</p>

    <p>5.因涉及到食品安全问题，食品类商品（包括奶粉）不支持退货</p>

    <p>6.商品出售时，已在页面明示保质期将到</p>

    <p>7.任何因客户的非正常使用及保管，导致出现商品质量问题的</p>

    <p>8.礼包或者套装中的商品不可以部分退换货</p>

    <p>9.其他依法不办理退货的</p>

    <p class="emsize"><strong>温馨提示：</strong></p>

    <p>1.因拍摄灯光及不同显示器色差等问题可能造成商品图片与实物有色差，一切以实物为准</p>

    <p>2.商品签收时请与快递人员当面开箱验货，如果出现质量问题，您可以当面拒收</p>

    <p>3.建议妥善保管商品的外包装至少15天</p>

    <p>4.由于海关监管要求，CTFHOKO暂不支持换货服务，如有需要您可以重新购买</p>

    <p>5.退货地址为国内地址，请放心选购</p>

    <p class="emsize"><strong>客服热线: 400-139-8888</strong></p>
    <p class="emsize"><strong>每天10:00-20:00</strong></p>
  </ion-content>
</ion-view>
