<ion-view view-title="{{'my'|translate}}" hide-tabs="false">
  <ion-nav-buttons side="right">
    <div class="row row-center" style="padding: 0px;margin-right: 10px;" ng-click="openPopover($event)">
      <div class="col col-center" style="padding: 0px;">
        <a class="button button-clear">
          <i class="icon ion-settings"></i>
        </a>
      </div>
    </div>
    <script id="findPopover.html" type="text/ng-template">
      <ion-popover-view style="width: 80px; height: 100px;background:#ad1222;">
        <ion-content>
          <div class="row row-center" style="padding: 0px;">
            <div class="col col-center" style="padding: 0px;text-align:center;">
              <a class="button button-clear" style="color:#fff;" href="#/tab/setting/changepwd">修改密码</a>
            </div>
          </div>
          <div class="row row-center" style="padding: 0px;">
            <div class="col col-center" style="padding: 0px;text-align:center;">
              <a class="button button-clear" style="color:#fff;" ng-click="logOut()">退出登录</a>
            </div>
          </div>
        </ion-content>
      </ion-popover-view>
    </script>
  </ion-nav-buttons>

  <ion-content>
    <div class="row"
         style="padding: 0;background-color: #fff;background-image: url('img/me.jpg');background-position: 5% 50%;background-repeat: no-repeat;background-size: cover;background-origin:content-box;width: 100%;height:100px;position: relative;">
      <!-- <img src="img/me.jpg" style="width: 100%;height: 100px;"> -->
      <div class="row" style="padding: 0;position:absolute;top: 33px;" ng-click="gotoPage('tab.settings')">
        <div class="col col-33 col-center" style="text-align: center;padding: 0;">
          <img ng-src="{{currentUser.image}}" style="height: 100px;width: 100px;border-radius: 50% 50%;">
        </div>
        <div class="col col-67 col-center" style="padding: 0;font-size: 16px;color: #333333;">
          <span>{{currentUser.name}}</span>
        </div>
      </div>
    </div>
    <div class="row" style="padding: 0px;margin: 0;">
      <div class="col col-offset-33 col-33 col-center" style="padding: 0px;">
        <a class="button button-clear" style="font-size:16px;padding: 0;border: none;color: #333333;"
           ui-sref="tab.favorites.goods">关注的商品</a>
      </div>
      <div class="col col-33 col-center" style="padding: 0px;">
        <a class="button button-clear " style="font-size:16px;padding: 0;border: none;color: #333333;"
           ui-sref="tab.favorites.sellers">关注的店铺</a>
      </div>
    </div>

    <hr style="margin: 0;height:1px;border:none;border-top:1px solid #a9a9a9;"/>

    <div class="row" style="padding: 0 10px;height: 40px;line-height: 40px;">
      <div class="col col-20" style="padding: 0;text-align: center;height: 40px;font-size: 16px;">
        <a class="" style="color: #333333;text-decoration: none;" ui-sref="tab.orders.nopay">待付款</a>
      </div>
      <div class="col" style="padding: 0;text-align: center;font-size: 16px;">
        |
      </div>
      <div class="col col-20" style="padding: 0px;text-align: center;height: 40px;font-size: 16px;">
        <a class="" style="color: #333333;text-decoration: none;" ui-sref="tab.orders.noship">待发货</a>
      </div>
      <div class="col" style="padding: 0;text-align: center;">
        |
      </div>
      <div class="col col-20" style="padding: 0px;text-align: center;height: 40px;font-size: 16px;">
        <a class="" style="color: #333333;text-decoration: none;" ui-sref="tab.orders.shipped">待收货</a>
      </div>
      <div class="col" style="padding: 0;text-align: center;">
        |
      </div>
      <div class="col col-20" style="padding: 0px;text-align: center;height: 40px;font-size: 16px;">
        <a class="" style="color: #333333;text-decoration: none;" ui-sref="tab.orders.commenting">待评论</a>
      </div>
    </div>

    <hr style="margin: 0;height:1px;border:none;border-top:1px solid #a9a9a9;"/>

    <div class="row" style="padding: 0 20px;height: 40px;line-height: 40px;" ng-click="gotoPage('tab.orders.all')">
      <div class="col col-90 col-center" style="padding: 0px;height: 40px;font-size: 16px;">
        <a style="color: #333333;text-decoration: none;">全部订单</a>
      </div>
      <div class="col col-10 col-center" style="padding: 0px;height: 40px;text-align: right;">
        <i class="icon ion-chevron-right icon-accessory"></i>
      </div>
    </div>

    <hr style="margin: 0;height:10px;border:none;border-top:10px solid #f1f1f1;"/>

    <div class="row" style="padding: 0 20px;height: 40px;line-height: 40px;" ng-click="gotoPage('tab.points')">
      <div class="col col-90 col-center" style="padding: 0px;height: 40px;font-size: 16px;">
        <a style="color: #333333;text-decoration: none;">我的积分</a>
      </div>
      <div class="col col-10 col-center" style="padding: 0px;height: 40px;text-align: right;">
        <i class="icon ion-chevron-right icon-accessory"></i>
      </div>
    </div>

    <hr style="margin: 0;height:1px;border:none;border-top:1px solid #f1f1f1;"/>

    <div class="row" style="padding: 0 20px;height: 40px;line-height: 40px;" ng-click="gotoPage('tab.golds')">
      <div class="col col-90 col-center" style="padding: 0px;height: 40px;font-size: 16px;">
        <a style="color: #333333;text-decoration: none;">我的金币</a>
      </div>
      <div class="col col-10 col-center" style="padding: 0px;height: 40px;text-align: right;">
        <i class="icon ion-chevron-right icon-accessory"></i>
      </div>
    </div>

    <hr style="margin: 0;height:10px;border:none;border-top:10px solid #f1f1f1;"/>

    <div class="row" style="padding: 0 20px;height: 40px;line-height: 40px;" ng-click="gotoPage('tab.receivers')">
      <div class="col col-90 col-center" style="padding: 0px;height: 40px;font-size: 16px;">
        <a style="color: #333333;text-decoration: none;">收货地址管理</a>
      </div>
      <div class="col col-10 col-center" style="padding: 0px;height: 40px;text-align: right;">
        <i class="icon ion-chevron-right icon-accessory"></i>
      </div>
    </div>

    <hr style="margin: 0;height:1px;border:none;border-top:1px solid #f1f1f1;"/>

    <div class="row" style="padding: 0 20px;height: 40px;line-height: 40px;" ng-click="gotoPage('tab.idcards')">
      <div class="col col-90 col-center" style="padding: 0px;height: 40px;font-size: 16px;">
        <a style="color: #333333;text-decoration: none;">身份证管理</a>
      </div>
      <div class="col col-10 col-center" style="padding: 0px;height: 40px;text-align: right;">
        <i class="icon ion-chevron-right icon-accessory"></i>
      </div>
    </div>

    <hr style="margin: 0;height:10px;border:none;border-top:10px solid #f1f1f1;"/>

    <div class="row" style="padding: 0 20px;height: 40px;line-height: 40px;" ng-click="gotoPage('tab.favorites.goods')">
      <div class="col col-90 col-center" style="padding: 0px;height: 40px;font-size: 16px;">
        <a style="color: #333333;text-decoration: none;">我的收藏</a>
      </div>
      <div class="col col-10 col-center" style="padding: 0px;height: 40px;text-align: right;">
        <i class="icon ion-chevron-right icon-accessory"></i>
      </div>
    </div>

    <hr style="margin: 0;height:1px;border:none;border-top:1px solid #f1f1f1;"/>

    <div class="row" style="padding: 0 20px;height: 40px;line-height: 40px;"
         ng-click="gotoPage('tab.feedbacks.returns')">
      <div class="col col-90 col-center" style="padding: 0px;height: 40px;font-size: 16px;">
        <a style="color: #333333;text-decoration: none;">售后与投诉</a>
      </div>
      <div class="col col-10 col-center" style="padding: 0px;height: 40px;text-align: right;">
        <i class="icon ion-chevron-right icon-accessory"></i>
      </div>
    </div>

  </ion-content>
</ion-view>
