<ion-view view-title="{{'member_title'|translate}}">
  <ion-nav-buttons side="left">
    <back-button></back-button>
  </ion-nav-buttons>
  <ion-content class="member-items">
      <p class="emsize"><strong>什么是HOKO+</strong></p>
      <P>加入HOKO+ 共享家体验</P>
      <p>CTFHOKO作为首个全会员制跨境商品购物商场，重新探索智能、海购、休闲三大概念的关系，为创造当代家庭优质生活第三空间而开拓创新。HOKO+应运而生，为认可“+体验”生活方式的精英人群服务，延续港式周到热情的服务模式，为会员及其家庭定制各式服务、惊喜体验、多重奖励计划，为您创造一个贴心舒适又充满惊喜的家庭生活新体验。</p>

      <p class="emsize"><strong>如何加入HOKO+</strong></p>
      <p>普卡会员：下载CTFHOKO app即可免费注册；</p>
      <p>金卡会员：3个月累积消费满RMB5,000；一年累积消费满RMB15,000。</p>
      <p>白金卡会员：3个月累积消费满RMB10,000；一年累积消费满RMB100,000。</p>

      <p class="emsize"><strong>HOKO+ 会员礼遇</strong></p>
      <p>HOKO+诚意奉献精彩礼遇计划。</p>

      <p class="emsize"><strong>“+分”奖赏计划</strong></p>
      <p>HOKO+会员积分奖赏计划，奖励追求高品质家生活的你，每一位HOKO+会员都将与我们分享快乐成长的点滴。</p>
      <ul>
      <li style="padding-left: 10px;color: #4a4a4a;">• 消费获取“+分”，相应分数用于获得HOKO+诚意推出的奖赏与服务</li>
      <li style="padding-left: 10px;color: #4a4a4a;">• 消费 1元，获得1“+分”</li>
      <li style="padding-left: 10px;color: #4a4a4a;">• “+分”有效期为首次获得至次年12月31日</li>
      </ul>
      <p style="margin: 10px;color: #bd252c;">“+分”细则说明：</p>
      <ul>
      <li style="padding-left: 10px;color: #4a4a4a;">1)购买线下完税商品,“+分”在付款时，根据会员手机号或会员卡号累积在会员个人账户中;</li>
      <li style="padding-left: 10px;color: #4a4a4a;">2)购买线上行邮税商品,“+分”在收货后累计在会员个人账户中;</li>
      <li style="padding-left: 10px;color: #4a4a4a;">3)     累计规则适用全品类商品（餐饮、美心、行邮税费、运费除外);</li>
      <li style="padding-left: 10px;color: #4a4a4a;">4)“+分”数值精确到个位，四舍五入;</li>
      <li style="padding-left: 10px;color: #4a4a4a;">5)会员“+分”操作在付款同时完成，逾期无法累计</li>
      <li style="padding-left: 10px;color: #4a4a4a;">6)当涉及退换货服务,“+分”需要相应退减;</li>
      <li style="padding-left: 10px;color: #4a4a4a;">7)“+分”在兑换服务及礼品或消费时，会相应扣减;</li>
      <li style="padding-left: 10px;color: #4a4a4a;">8)规则如有更新，HOKO+会公示于指定信息平台。</li>
      </ul>

      <p class="emsize"><strong>“+礼”尊享计划</strong></p>
      <p>回+得礼,仅在“+礼”尊享计划。不仅对消费“+分”有额外奖励,更为会员生日、纪念日等重要时刻,设立心意惊喜。</p>
      <img src="img/26pic.jpg" style="display: block;width: 100%;">

      <p class="emsize"><strong>“+聚”生活趴</strong></p>
      <p>HOKO+以精英人群与家人需求为依托，搜罗组织全球新鲜、好玩商品及活动，为HOKO+会员定制呈现。让您推开门就能阅览世界的繁华，文化交融的精彩。会员将有机会获邀参加中港文化交流的盛事，包括专属商品预售活动，参与吉尼斯世界记录挑战等。</p>

      <p class="emsize"><strong>HOKO+会员制度细则</strong></p>
      <img src="img/25pic.jpg" style="display: block;width: 100%;">
  </ion-content>
</ion-view>
