<ion-view view-title="{{'me'|translate}}">
  <ion-content>

    <div class="row" style="padding: 0px;">
      <div class="col col-50" style="padding: 0px;">
      </div>
      <div class="col col-25" style="padding: 0px;">
        <a class="button button-clear" style="font-size:12px;" href="#/favorites/goods">
          <p>关注的商品</p>
        </a>
      </div>
      <div class="col col-25" style="padding: 0px;">
        <a class="button button-clear " style="font-size:12px;" href="#/favorites/sellers">
          <p>关注的店铺</p>
        </a>
      </div>
    </div>

    <hr style="margin: 0;height:1px;border:none;border-top:1px solid #a9a9a9;"/>

    <div class="row" style="padding: 0 10px;height: 40px;line-height: 40px;">
      <div class="col col-20" style="padding: 0;text-align: center;height: 40px;font-size: 16px;">
        <a class="" style="color: #333333;text-decoration: none;" href="#/tab/orders/nopay">待付款</a>
      </div>
      <div class="col" style="padding: 0;text-align: center;font-size: 16px;">
        |
      </div>
      <div class="col col-20" style="padding: 0px;text-align: center;height: 40px;font-size: 16px;">
        <a class="" style="color: #333333;text-decoration: none;" href="#/tab/orders/noship"><p>待发货</a>
      </div>
      <div class="col" style="padding: 0;text-align: center;">
        |
      </div>
      <div class="col col-20" style="padding: 0px;text-align: center;height: 40px;font-size: 16px;">
        <a class="" style="color: #333333;text-decoration: none;" href="#/tab/orders/shipped"><p>待收货</a>
      </div>
      <div class="col" style="padding: 0;text-align: center;">
        |
      </div>
      <div class="col col-20" style="padding: 0px;text-align: center;height: 40px;font-size: 16px;">
        <a class="" style="color: #333333;text-decoration: none;" href="#/tab/orders/return"><p>售后</a>
      </div>
    </div>

    <hr style="margin: 0;height:1px;border:none;border-top:1px solid #a9a9a9;"/>

    <div class="row" style="padding: 0 20px;height: 40px;line-height: 40px;" ng-click="gotoPage('tab.orders.all')">
      <div class="col col-90 col-center" style="padding: 0px;height: 40px;font-size: 16px;">
        <a style="color: #333333;text-decoration: none;">全部订单</a>
      </div>
      <div class="col col-10 col-center" style="padding: 0px;height: 40px;text-align: right;">
        <i class="icon ion-chevron-right icon-accessory"></i>
      </div>
    </div>

    <hr style="margin: 0;height:10px;border:none;border-top:10px solid #f1f1f1;"/>

    <div class="row" style="padding: 0 20px;height: 40px;line-height: 40px;" ng-click="gotoPage('points_index')">
      <div class="col col-90 col-center" style="padding: 0px;height: 40px;font-size: 16px;">
        <a style="color: #333333;text-decoration: none;">我的积分</a>
      </div>
      <div class="col col-10 col-center" style="padding: 0px;height: 40px;text-align: right;">
        <i class="icon ion-chevron-right icon-accessory"></i>
      </div>
    </div>

    <hr style="margin: 0;height:1px;border:none;border-top:1px solid #f1f1f1;"/>

    <div class="row" style="padding: 0 20px;height: 40px;line-height: 40px;" ng-click="gotoPage('golds_index')">
      <div class="col col-90 col-center" style="padding: 0px;height: 40px;font-size: 16px;">
        <a style="color: #333333;text-decoration: none;">我的金币</a>
      </div>
      <div class="col col-10 col-center" style="padding: 0px;height: 40px;text-align: right;">
        <i class="icon ion-chevron-right icon-accessory"></i>
      </div>
    </div>

    <hr style="margin: 0;height:10px;border:none;border-top:10px solid #f1f1f1;"/>

    <div class="row" style="padding: 0 20px;height: 40px;line-height: 40px;" ng-click="gotoPage('receivers_index')">
      <div class="col col-90 col-center" style="padding: 0px;height: 40px;font-size: 16px;">
        <a style="color: #333333;text-decoration: none;">收货地址管理</a>
      </div>
      <div class="col col-10 col-center" style="padding: 0px;height: 40px;text-align: right;">
        <i class="icon ion-chevron-right icon-accessory"></i>
      </div>
    </div>

    <hr style="margin: 0;height:1px;border:none;border-top:1px solid #f1f1f1;"/>

    <div class="row" style="padding: 0 20px;height: 40px;line-height: 40px;" ng-click="gotoPage('idcards_list')">
      <div class="col col-90 col-center" style="padding: 0px;height: 40px;font-size: 16px;">
        <a style="color: #333333;text-decoration: none;">身份证管理</a>
      </div>
      <div class="col col-10 col-center" style="padding: 0px;height: 40px;text-align: right;">
        <i class="icon ion-chevron-right icon-accessory"></i>
      </div>
    </div>

    <hr style="margin: 0;height:10px;border:none;border-top:10px solid #f1f1f1;"/>

    <div class="row" style="padding: 0 20px;height: 40px;line-height: 40px;" ng-click="gotoPage('tab.favorites.goods')">
      <div class="col col-90 col-center" style="padding: 0px;height: 40px;font-size: 16px;">
        <a style="color: #333333;text-decoration: none;">我的收藏</a>
      </div>
      <div class="col col-10 col-center" style="padding: 0px;height: 40px;text-align: right;">
        <i class="icon ion-chevron-right icon-accessory"></i>
      </div>
    </div>

    <hr style="margin: 0;height:1px;border:none;border-top:1px solid #f1f1f1;"/>

    <div class="row" style="padding: 0 20px;height: 40px;line-height: 40px;" ng-click="gotoPage('complaint_list')">
      <div class="col col-90 col-center" style="padding: 0px;height: 40px;font-size: 16px;">
        <a style="color: #333333;text-decoration: none;">投诉与建议</a>
      </div>
      <div class="col col-10 col-center" style="padding: 0px;height: 40px;text-align: right;">
        <i class="icon ion-chevron-right icon-accessory"></i>
      </div>
    </div>

  </ion-content>
</ion-view>
