<div class="bar bar-subheader">  
  <div class="row" style="padding: 0 0px;height: 40px;line-height: 40px;">
    <div class="col col-20"
         style="padding: 0px;text-align: center;height: 40px;font-size: 14px;" ng-click="switchOrder('all')" ng-class="{'switch-order':orderState === 1}">
      <a class="">全部</a>
    </div>
    <div class="col" style="padding: 0;text-align: center;opacity: 0.4;">
      |
    </div>
    <div class="col col-20"
         style="padding: 0px;text-align: center;height: 40px;font-size: 14px;"
         ng-click="switchOrder('nopay')" ng-class="{'switch-order':orderState === 2}">
      <a class="">待付款</a>
    </div>
    <div class="col" style="padding: 0;text-align: center;opacity: 0.4;">
      |
    </div>
    <div class="col col-20"
         style="padding: 0px;text-align: center;height: 40px;font-size: 14px;" ng-click="switchOrder('noship')" ng-class="{'switch-order':orderState === 3}">
      <a class="">待发货</a>
    </div>
    <div class="col" style="padding: 0;text-align: center;opacity: 0.4;">
      |
    </div>
    <div class="col col-20"
         style="padding: 0px;text-align: center;height: 40px;font-size: 14px;" ng-click="switchOrder('shipped')" ng-class="{'switch-order':orderState === 4}">
      <a class="">待收货</a>
    </div>
    <div class="col" style="padding: 0;text-align: center;opacity: 0.4;">
      |
    </div>
    <div class="col col-20"
         style="padding: 0px;text-align: center;height: 40px;font-size: 14px;" ng-click="switchOrder('commenting')" ng-class="{'switch-order':orderState === 5}">
      <a class="">待评论</a>
    </div>
  </div>
</div>
<ion-view view-title="订单列表" hide-tabs="true">
  <ion-nav-buttons side="left"><back-button></back-button></ion-nav-buttons>
  <ion-content>
    <div style="height: 44px">
    </div>
    <ion-list>
      <ion-item ng-repeat="item in items" style="margin: -1px 0 0 0;padding: 0;border: none;">
        <div class="row" style="background-color: #f2f2f2;padding: 10px 15px 10px 10px;">
          <div class="col col-75" style="height: 100%; padding: 0px">
            <p style="padding: 0px; height: 100%;">订单号：{{item.order_id}}</p>
          </div>

          <div class="col col-25" style="height: 100%; padding: 0px" align="right">
            <p style="padding: 0px; height: 100%;">{{item.time.substr(0, 10)}}</p>
          </div>
        </div>

        <div class="row" style="padding:10px;">
          <div class="col col-66" style="height: 100%; padding: 0px">
            <p style="padding: 0px; height: 100%;">{{item.seller_name}}</p>
          </div>

          <div class="col col-34" style="height: 100%; padding: 0px" align="right">
            <p style="padding: 0px; height: 100%;">{{item.status}}</p>
          </div>
        </div>

        <div class="row" ng-repeat="product in item.products" style="margin:0;padding: 0 15px 10px 10px;">
          <div class="col col-20">
            <img class="pic" ng-src="{{product.url}}">
          </div>
          <div class="col col-80" style="padding: 0;">
            <p style="padding: 0px;margin-bottom: 10px;">{{product.name}}</p>

            <p>
              <span style="float: left;">{{product.price | currency:'￥'}}</span>
              <span>{{product.spec}}</span>
              <span style="float: right;">x{{product.num}}</span>
            </p>
          </div>
        </div>
        <hr style="margin: 0;height:1px;border:none;border-top:3px solid #f2f2f2;"/>
        <div class="row" style="padding:10px;">
          <div style="width: 100%;">
            <button class="button button-positive"
                    style="font-size:12px;float:right;margin: 0 2px;min-height: 27px;line-height: 30px;padding: 0 18px;"
                    ng-if="item.pay_status_value" ng-click="payOrder(item)">去支付</button>
            <button class="button button-light"
                    style="font-size:12px;float:right;min-height: 27px;line-height: 30px;margin: 0 2px;"
                    ng-if="item.is_rate" ng-click="commentOrder(item)">去评论</button>
            <button class="button button-light"
                    style="font-size:12px;float:right;min-height: 27px;line-height: 30px;margin: 0 2px;"
                    ng-if="item.is_track"
                    ui-sref="order-track({orderId: item.order_id})">查看物流</button>
            <button class="button button-light"
                    style="font-size:12px;float:right;min-height: 27px;line-height: 30px;margin: 0 2px;"
                    ng-if="item.is_confirm" ng-click="confirmOrder(item)">确认收货</button>
            <button class="button button-light"
                    style="font-size:12px;float:right;min-height: 27px;line-height: 30px;margin: 0 2px;"
                    ng-if="item.pay_status_value" ng-click="cancelOrder(item)">取消订单</button>
            <button class="button button-light"
                    style="font-size:12px;float:right;min-height: 27px;line-height: 30px;margin: 0 2px;"
                    ui-sref="order-detail({orderId: item.order_id})">订单详情</button>
          </div>
        </div>
      </ion-item>
    </ion-list>
    <ion-infinite-scroll
      ng-if="hasMore"
      on-infinite="loadMore()"
      distance="5%">
    </ion-infinite-scroll>
  </ion-content>
</ion-view>


