<ion-view view-title="订单详情" hide-tabs="true">
  <ion-content class="padding">
    <div class="row">
      <div class="col">
        {{item.order_title.status}}
      </div>
    </div>

    <div class="row">
      <div class="col">
        收件人：{{item.consignee.name}} 电话：{{item.consignee.mobile}}
      </div>
    </div>

    <div class="row">
      <div class="col">
        地址：{{item.consignee.addr}}
      </div>
    </div>

    <div class="row">
      <div class="col">
        {{item.order_title.seller_name}}
      </div>
    </div>

    <div class="list card">
      <div class="item item-body">
        <ion-list>
          <ion-item class="item-remove-animate item-avatar item-icon-right" ng-repeat="product in item.products"
                    type="item-text-wrap">
            <img ng-src="{{product.url}}">

            <h2>{{product.name}}</h2>

            <h2>{{product.price}} * {{product.num}}</h2>
          </ion-item>
        </ion-list>
      </div>
    </div>

    <div class="row">
      <div class="col">
        配送：{{item.order_info.shipping}}
      </div>
      <div class="col">
        运费：{{item.order_info.express_amount | currency:'￥'}}
      </div>
    </div>
    <div class="row">
      <div class="col">
        留言：{{item.order_tax.order_mark}}
      </div>
    </div>
    <div class="row">
      <div class="col">
        税费：{{item.order_info.taxation_amount | currency:'￥'}}
      </div>
    </div>
    <div class="row">
      <div class="col">
        积分抵扣：{{item.order_info.coupon_amount | currency:'￥'}}
      </div>
    </div>
    <div class="row">
      <div class="col">
        实际支付：{{item.order_info.final_amount | currency:'￥'}}
      </div>
    </div>
  </ion-content>
</ion-view>
