<ion-view view-title="售后服务">
  <ion-content>
    <ion-list>
      <ion-item ng-repeat="item in items">
        <div class="list card">
          <div class="item item-divider" style="padding-left: 5px">
            <h2 style="float: left">订单号：{{item.order_id}}</h2>

            <p style="float:right" align="right">{{item.status}}</p>
          </div>
          <div class="item" style="padding-left: 5px" ng-repeat="product in item.products">
            <div class="row">
              <div class="col col-25">
                <img class="pic" ng-src="{{product.url}}">
              </div>
              <div class="col col-75">
                <div class="row">
                  <p style="float:right">{{product.name}}</p>
                </div>
                <div class="row">
                  <div class="col col-25">
                    <p style="float: left">数量:{{product.num}}</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="item item-divider" style="padding-left: 5px">
            <button style="float:right" align="right" style="font-size:12px;" ng-click="getReturn(item)">
              申请售后
            </button>
          </div>
        </div>
      </ion-item>
    </ion-list>
    <ion-infinite-scroll
      ng-if="hasMore"
      on-infinite="loadMore()"
      distance="1%">
    </ion-infinite-scroll>
  </ion-content>
</ion-view>
