<ion-tabs class="tabs-color-active-positive tabs-top">

  <!-- All Orders Tab -->
  <ion-tab title="{{'ord_alltitle'|translate}}" href="#/tab/orders/all">
    <ion-nav-view name="tab-orders-all"></ion-nav-view>
  </ion-tab>

  <!-- Nopay Orders Tab -->
  <ion-tab title="{{'ord_nopaytitle'|translate}}" href="#/tab/orders/nopay">
    <ion-nav-view name="tab-orders-nopay"></ion-nav-view>
  </ion-tab>

  <!-- Noship Orders Tab -->
  <ion-tab title="{{'ord_noshiptitle'|translate}}" href="#/tab/orders/noship">
    <ion-nav-view name="tab-orders-noship"></ion-nav-view>
  </ion-tab>

  <!-- Shipped Orders Tab -->
  <ion-tab title="{{'ord_shippedtitle'|translate}}" href="#/tab/orders/shipped">
    <ion-nav-view name="tab-orders-shipped"></ion-nav-view>
  </ion-tab>

  <!-- Return Orders Tab -->
  <ion-tab title="{{'ord_returntitle'|translate}}" href="#/tab/orders/return">
    <ion-nav-view name="tab-orders-return"></ion-nav-view>
  </ion-tab>

</ion-tabs>
