<ion-view view-title="订单详情" hide-tabs="true">
  <ion-nav-buttons side="left">
    <back-button></back-button>
  </ion-nav-buttons>
  <ion-content>
    <div class="row" style="padding: 10px 5px 0;">
      <div class="col" style="color: #4a4b4d;">
        订单状态：{{item.order_title.status}}
      </div>
    </div>
    <div class="row" style="padding:0 10px 10px;border-bottom: 1px solid #f2f2f2;">
      <div class="col col-75" style="padding: 0px">
        <p style="margin: 0px;color: #4a4a4a;">订单号：{{item.order_title.order_id}}</p>
      </div>

      <div class="col col-25" style="padding: 0px" align="right">
        <p style="margin: 0px;color: #4a4a4a;">{{item.order_info.time.substr(0, 10)}}</p>
      </div>
    </div>

    <hr style="margin: 0;height:1px;border:none;border-top:10px solid #f2f2f2;"/>

    <div class="row" style="padding: 10px 5px;">
      <div class="col">
        <p style="margin-bottom: 13px;color: #4a4b4d;">收件人：{{item.consignee.name}}
          <span style="float: right;" ng-if="!!item.consignee.mobile">电话：{{item.consignee.mobile}}</span>
        </p>

        <div class="row" style="padding: 0;">
          <div>
            <span style="max-width: 5em;font-size: 14px;color: #4a4b4d;">收件地址：</span>
          </div>
          <div class="col col-center" style="word-break: break-all;white-space: normal;padding: 0;">
            <span style="font-size: 14px;color: #4a4b4d;">{{item.consignee.addr}}</span>
          </div>
        </div>
      </div>
    </div>

    <hr style="margin: 0;height:1px;border:none;border-top:10px solid #f2f2f2;"/>

    <div class="row"
         style="padding:10px;border-bottom-style: solid;border-bottom-width: 1px;border-bottom-color: #f2f2f2;">
      <div class="col col-75 col-center" style="height: 100%; padding: 0px">
        <p style="padding: 0px;color: #4a4b4d;margin: 0;">{{item.order_title.seller_name}}</p>
      </div>
      <!-- <div class="col col-25" style="height: 100%; padding: 0px" align="right">
        <p style="padding: 0px; height: 100%;">{{item.status}}</p>
      </div> -->
    </div>

    <div ng-class="list" style="border: 1px solid #ddd;">
      <ion-item ng-repeat="product in item.products" style="border-top: none;padding: 10px;">
        <div class="row" style="margin:0;padding: 0 15px 10px 0;" ui-sref="product({productId: product.product_id})">
          <div class="col col-20" style="padding: 0;height: 60px;">
            <img class="pic" ng-src="{{product.url}}">
          </div>
          <div class="col col-80" style="padding: 0 0 0 10px;">
            <p
              style="padding: 0px;margin-bottom: 1px;display: -webkit-box !important;overflow: hidden;white-space: normal;text-overflow: ellipsis;word-break: break-all;-webkit-box-orient: vertical;-webkit-line-clamp: 2;">
              {{product.name}}</p>

            <p>{{product.spec}}</p>

            <p style="clear: both;">
              <span style="float: left;">{{product.price | currency:'￥'}}</span>
              <span style="float: right;">x{{product.num}}</span>
            </p>

            <p class="col" style="padding: 0; font-size: .8em">适用税率：{{product.taxRate}}% &nbsp;
              税金：{{product.tax_price|currency:'￥'}}</p>
          </div>
        </div>
      </ion-item>
    </div>

    <div class="row" style="padding:10px;">
      <div class="col col-75 col-center" style="color: #4a4b4d;padding: 0px">
        运费：{{item.order_info.shipping}}
      </div>
      <div class="col col-25" style="color: #4a4b4d; padding: 0px;text-align: right;">
        {{item.order_info.express_amount | currency:'￥'}}
      </div>
    </div>

    <div class="row" style="padding: 10px;">
      <div>
        <span style="max-width: 3em;font-size: 14px;color: #4a4b4d;">留言：</span>
      </div>
      <div class="col col-80 col-center" style="word-break: break-all;max-width: 20em;white-space: normal;padding: 0;">
        <span style="font-size: 14px;color: #4a4b4d;">{{item.order_tax.order_mark}}</span>
      </div>
    </div>

    <hr style="margin: 0;height:1px;border:none;border-top:10px solid #f2f2f2;"/>

    <div class="row">
      <div class="col" style="color: #4a4b4d;">
        货款总计：{{item.order_info.item_amount | currency:'￥'}}
      </div>
    </div>
    <div class="row">
      <div class="col" style="color: #4a4b4d;">
        税费总计：{{item.order_info.taxation_amount | currency:'￥'}}
      </div>
    </div>
    <div class="row">
      <div class="col" style="color: #4a4b4d;">
        运费总计：{{item.order_info.express_amount | currency:'￥'}}
      </div>
    </div>

    <div class="row">
      <div class="col" style="color: #4a4b4d;">
        订单实际支付：{{item.order_info.final_amount | currency:'￥'}}
      </div>
    </div>

    <div class="button-bar">
      <div class="row">
        <div class="col col-50">
          <button class="button button-full button-positive" style="font-size:16px;"
                  ng-if="item.pay_status_value" ng-click="payOrder(item)">
            去支付
          </button>
        </div>
        <div class="col col-50">
          <button class="button button-full button-positive" style="font-size:16px;"
                  ng-if="item.pay_status_value" ng-click="cancelOrder(item)">
            取消订单
          </button>
        </div>
        <div class="col col-50">
          <button class="button button-full button-positive" style="font-size:16px;"
                  ng-if="item.is_confirm" ng-click="confirmOrder(item)">
            确认收货
          </button>
        </div>
        <div class="col col-50">
          <button class="button button-full button-positive" style="font-size:16px;"
                  ng-if="item.is_rate" ng-click="commentOrder(item)">
            去评论
          </button>
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>
