<ion-view view-title="订单详情" hide-tabs="true">
  <ion-content class="padding">
    <div class="row">
      <div class="col">
        {{item.order_title.status}}
      </div>
    </div>

    <div class="row">
      <div class="col">
        收件人：{{item.consignee.name}} 电话：{{item.consignee.mobile}}
      </div>
    </div>

    <div class="row">
      <div class="col">
        地址：{{item.consignee.addr}}
      </div>
    </div>

    <div class="row">
      <div class="col">
        {{item.order_title.seller_name}}
      </div>
    </div>

    <div class="list card">
      <div class="item item-body">
        <ion-list>
          <ion-item class="item-remove-animate item-avatar item-icon-right" ng-repeat="product in item.products"
                    type="item-text-wrap">
            <img ng-src="{{product.url}}">

            <h2>{{product.name}}</h2>

            <h2>{{product.price}} * {{product.num}}</h2>
          </ion-item>
        </ion-list>
      </div>
    </div>

    <div class="row">
      <div class="col">
        运费：{{item.order_info.shipping}} {{item.order_info.express_amount | currency:'￥'}}
      </div>
    </div>
    <div class="row">
      <div class="col">
        留言：{{item.order_tax.order_mark}}
      </div>
    </div>
    <div class="row">
      <div class="col">
        贷款总计：{{item.order_info.item_amount | currency:'￥'}}
      </div>
    </div>
    <div class="row">
      <div class="col">
        行邮税计：{{item.order_info.taxation_amount | currency:'￥'}}
      </div>
    </div>
    <div class="row">
      <div class="col">
        运费总计：{{item.order_info.express_amount | currency:'￥'}}
      </div>
    </div>

    <div class="row">
      <div class="col">
        订单实际支付：{{item.order_info.final_amount | currency:'￥'}}
      </div>
    </div>

    <div class="row" style="padding:10px;">
      <div style="width: 100%;">
        <button class="button button-energized"
                style="font-size:12px;float:right;margin: 0 2px;min-height: 27px;line-height: 30px;padding: 0 18px;"
                ng-if="item.pay_status_value" ng-click="payOrder(item)">去支付
        </button>
        <button class="button button-light"
                style="font-size:12px;float:right;min-height: 27px;line-height: 30px;margin: 0 2px;"
                ng-if="item.return_value === '1'" ng-click="requestOrder(item)">申请售后
        </button>
        <button class="button button-light"
                style="font-size:12px;float:right;min-height: 27px;line-height: 30px;margin: 0 2px;"
                ng-if="item.is_track" ng-click="trackOrder(item)">查看物流
        </button>
        <button class="button button-light"
                style="font-size:12px;float:right;min-height: 27px;line-height: 30px;margin: 0 2px;"
                ng-if="item.pay_status_value" ng-click="cancelOrder(item)">取消订单
        </button>
      </div>
    </div>
  </ion-content>
</ion-view>
