<ion-view view-title="物流信息" hide-tabs="true">
  <ion-content>
    <ion-list>
      <ion-item class="item-remove-animate item-icon-right" type="item-text-wrap"style="border-bottom: none;padding: 20px 10px 15px 20px;">
        <div class="row" style="padding: 0;">
          <div class="col col-90">
            <p style="margin-bottom: 13px;color: #111;">收件人：{{orderInfo.consignee.name}}<span style="float: right;" ng-if="item.mobile">电话：{{orderInfo.consignee.mobile}}</span></p>
            <div class="row" style="padding: 0;">
              <div class="col col-20" style="padding: 0;">
                <span style="font-size: 14px;color: #111;">收件地址：</span>
              </div>
              <div class="col col-80" style="padding: 0 0 0 7px;word-break: break-all;max-width: 16em;white-space: normal;">
                <span style="font-size: 14px;color: #111;">{{orderInfo.consignee.addr}}</span>
              </div>
            </div>
          </div>
        </div>
      </ion-item>
    </ion-list>

    <hr style="margin: 0;height:10px;border:none;border-top:10px solid #f1f1f1;"/>

    <div class="user-order-track">
      <ul class="user-track-ul">
        <li ng-repeat="item in items">
          <span class="track-radius"></span>
          <p class="track-location">{{item.location}} {{item.status}}</p>
          <p class="track-time">{{item.add_time}}</p>
        </li>
      </ul>
    </div>

  </ion-content>
</ion-view>
