<ion-nav-view name="tab-orders">
  <div class="bar bar-subheader">
    <div class="button-bar">
      <button class="button button-light" ui-sref="tab.orders.all">{{'ord_alltitle'|translate}}</button>
      <button class="button button-light" ui-sref="tab.orders.nopay">{{'ord_nopaytitle'|translate}}</button>
      <button class="button button-light" ui-sref="tab.orders.noship">{{'ord_noshiptitle'|translate}}</button>
      <button class="button button-light" ui-sref="tab.orders.shipped">{{'ord_shippedtitle'|translate}}</button>
      <button class="button button-light" ui-sref="tab.orders.return">{{'ord_returntitle'|translate}}</button>
    </div>
  </div>
  <ion-view>
    <div class="bar bar-subheader">
      <!-- All Orders Tab -->
      <a title="{{'ord_alltitle'|translate}}" href="#/tab/orders/all">
      </a>

      <!-- Nopay Orders Tab -->
      <a title="{{'ord_nopaytitle'|translate}}" href="#/tab/orders/nopay">
      </a>

      <!-- Noship Orders Tab -->
      <a title="{{'ord_noshiptitle'|translate}}" href="#/tab/orders/noship">
      </a>

      <!-- Shipped Orders Tab -->
      <a title="{{'ord_shippedtitle'|translate}}" href="#/tab/orders/shipped">
      </a>

      <!-- Return Orders Tab -->
      <a title="{{'ord_returntitle'|translate}}" href="#/tab/orders/return">
      </a>
    </div>
    <ion-content class="has-subheader">
    </ion-content>
  </ion-view>
</ion-nav-view>

