<ion-view view-title="物流信息" hide-tabs="true">
  <ion-nav-buttons side="left"><back-button></back-button></ion-nav-buttons>
  <ion-content>
    <ion-list>
      <ion-item class="item-remove-animate item-icon-right" type="item-text-wrap" style="border-bottom: none;padding: 20px 10px;">
        <div class="row" style="padding: 0;">
          <div class="col col-center">
            <p style="margin-bottom: 10px;color: #4a4a4a;">
              收件人：{{orderInfo.consignee.name}}
              <span style="float: right;">{{orderInfo.consignee.mobile}}</span>
            </p>
            <div class="row" style="padding: 0;">
              <div>
                <span style="max-width: 5em;font-size: 12px;color: #4a4a4a;">收件地址：</span>
              </div>
              <div class="col col-center" style="word-break: break-all;max-width: 18em;white-space: normal;padding: 0;">
                <span style="font-size: 12px;color: #4a4a4a;">{{orderInfo.consignee.addr}}</span>
              </div>
            </div>
          </div>
        </div>
      </ion-item>
    </ion-list>

    <hr style="margin: 0;border:none;border-top:10px solid #f4f4f4;"/>

    <div class="row"
         style="padding:10px;border-bottom-style: solid;border-bottom-width: 1px;border-bottom-color: #f2f2f2;">
      <div class="col col-75" style="padding: 0px">
        <p style="margin: 0px;color: #4a4a4a;">订单号：{{orderInfo.order_title.order_id}}</p>
      </div>

      <div class="col col-25" style=" padding: 0px" align="right">
        <p style="margin: 0px;color: #4a4a4a;">{{orderInfo.order_info.time.substr(0, 10)}}</p>
      </div>
    </div>
    <div class="row"
         style="padding:10px;border-bottom-style: solid;border-bottom-width: 1px;border-bottom-color: #f2f2f2;">
      <div class="col col-50" style="padding: 0px">
        <p style="margin: 0px;color: #4a4a4a;">物流公司：{{orderInfo.order_info.logi_name}}</p>
      </div>
      <div class="col col-50" style=" padding: 0px" align="right">
        <p style="margin: 0px;color: #4a4a4a;">运单号码：<b><a href="http://www.kuaidi100.com/" target="_blank">{{orderInfo.order_info.logi_no}}</a></b></p>
      </div>
    </div>

    <div class="user-order-track">
      <ul class="user-track-ul">
        <li ng-repeat="item in items">
          <span class="track-radius"></span>

          <p class="track-location">{{item.status_desc}} <span style="font-size: 14px;">{{item.description}}</span> </p>

          <p class="track-time">{{item.add_time}}</p>
        </li>
      </ul>
    </div>

  </ion-content>
</ion-view>
