<ion-view view-title="{{'point_title'|translate}}">
  <ion-content>

    <div class="row" style="padding-top: 10px; padding-bottom: 5px; padding-left: 10px">
      <div class="col col-center" style="padding: 0px;">
        <p style="font-size: 12px">可用积分</p>
      </div>
    </div>

    <div class="row" style="padding-top: 5px; padding-bottom: 10px; padding-left: 10px">
      <div class="col col-center" style="padding: 0px;">
        <h1 class="title">{{pointInfo.total}}分</h1>
      </div>
    </div>

    <div class="row" style="padding: 10px;">
      <div class="col col-90 col-center" style="padding: 0px;">
        <a class="button button-clear" style="color: #333333;" href="#/points/list">金币账单</a>
      </div>
      <div class="col col-10 col-center" style="padding: 0px;">
        <i class="icon ion-chevron-right icon-accessory"></i>
      </div>
    </div>

  </ion-content>
</ion-view>
