<ion-view view-title="{{'point_list'|translate}}" hide-tabs="true">
  <ion-content>
    <ion-list>
      <ion-item class="item-remove-animate item-icon-right" ng-repeat="item in pointInfo.items" type="item-text-wrap">
        <div class="row">
          <div class="col col-100">
            <h2>行为：{{item.behavior}}</h2>
          </div>
        </div>
        <div class="row">
          <div class="col col-50">
            <p>积分值：{{item.point}}</p>
          </div>
          <div class="col col-50" align="right">
            <p>时间：{{item.time}}</p>
          </div>
        </div>
        <div class="row">
          <div class="col col-50">
            <p>积分类型：{{item.point_type}}</p>
          </div>
          <div class="col col-50" align="right">
            <p>行为类型：{{item.behavior_type}}</p>
          </div>
        </div>
        <div class="row">
          <div class="col col-100">
            <h2>备注：{{item.remark}}</h2>
          </div>
        </div>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
