<ion-view view-title="{{'point_title'|translate}}" hide-tabs="true">
  <ion-content>

    <div class="row" style="padding:30px 20px 10px;">
      <div class="col col-center" style="padding: 0px;">
        <p style="font-size: 12px">可用积分:</p>
      </div>
    </div>

    <div class="row" style="padding:0 20px 30px;">
      <div class="col col-center" style="padding: 0px;">
        <h1 class="title" style="color: #c11123;">{{pointInfo.total}}</h1>
      </div>
    </div>

    <div class="row" style="padding: 5px 20px;background-color: #c11123;" ng-click="showHistory()">
      <div class="col col-90 col-center" style="padding: 0px;">
        <a class="button button-clear" style="color: #fff;padding: 0;">积分账单</a>
      </div>
      <div class="col col-10 col-center" style="padding: 0px;color: #fff;text-align: right;">
        <i class="icon ion-chevron-right icon-accessory" ng-show="!pointInfo.isShow"></i>
        <i class="icon ion-chevron-down icon-accessory" ng-show="pointInfo.isShow"></i>
      </div>
    </div>

    <ion-list ng-show="pointInfo.isShow">
      <ion-item class="item-remove-animate item-icon-right" ng-repeat="item in pointInfo.items" type="item-text-wrap">
        <div class="row">
          <div class="col col-50">
            {{item.behavior}}
            <p>{{item.time}}</p>
          </div>
          <div class="col col-50" align="right">
            <h1>+{{item.point}}</h1>
          </div>
        </div>
      </ion-item>
    </ion-list>
    <ion-infinite-scroll
      ng-if="hasMore"
      on-infinite="loadMore()"
      distance="1%">
    </ion-infinite-scroll>
  </ion-content>
</ion-view>
