<ion-modal-view class="product-spec">
  <ion-header-bar class="bar bar-header bar-positive">
    <h1 class="title">选择身份证</h1>
  </ion-header-bar>
  <ion-content>
    <div class="list">
      <label class="item item-radio" ng-repeat="idcard in cardList">
        <input type="radio" name="group" ng-model="addrInfo.number" ng-value="idcard.number">

        <div class="item-content">
          <p>{{idcard.number | idtransform}} <span style="font-size: 14px">({{idcard.full_name}})</span></p>
        </div>
        <i class="radio-icon ion-checkmark"></i>
      </label>
    </div>
  </ion-content>
  <ion-footer-bar align-title="center" class="bar-stable" style="padding: 0px;">
    <div class="button-bar">
      <button class="button button-dark" ng-click="hideModal()">返回</button>
      <button class="button button-energized" ng-click="selectIdCard(); hideModal()">确定</button>
    </div>
  </ion-footer-bar>
</ion-modal-view>
