<ion-view view-title="{{title}}" hide-tabs="true">
  <ion-nav-buttons side="left">
    <back-button></back-button>
  </ion-nav-buttons>
  <ion-content>
    <div class="list">
      <label class="item item-input" style="background-color: #fff;">
        <input type="text" ng-model="addrInfo.name" placeholder="请输入姓名">
      </label>

      <div class="item item-input"
           style="background-color: #fff;"
           ng-click="addrInfo.showChoose=false; ">
        <div class="col col-80" style="padding: 0px">
          <input type="text" ng-model="addrInfo.number" placeholder="请输入身份证号">
        </div>
        <div class="col col-20" style="padding: 0px" ng-show="false">
          <button class="button button-clear button-positive" style="font-size: 14px" ng-click="showSpecModal()">选择
          </button>
        </div>
      </div>

      <label class="item item-input" style="background-color: #fff;">
        <input type="number" ng-model="addrInfo.mobile" placeholder="请输入手机号码">
      </label>
      <label class="item item-input" style="background-color: #fff;">
        <input type="text" ng-model="addrInfo.zipcode" placeholder="请输入邮政编码">
      </label>


      <label class="item item-input"
             style="background-color: #fff;">
        <ionic-city-picker placeholder="请选择省市区" tag="/" backdrop=true backdrop-click-to-close=false
                           ok-text="确定" citydata="addrInfo" datasource="provinces"></ionic-city-picker>

      </label>

      <label class="item item-input" style="background-color: #fff;">
        <input type="text" ng-model="addrInfo.addr" placeholder="请输入街道等具体地址">
      </label>
      <label class="item item-toggle" style="font-size: 14px;">
        设置为默认地址
        <label class="toggle">
          <input type="checkbox" ng-model="addrInfo.checked">

          <div class="track">
            <div class="handle"></div>
          </div>
        </label>
      </label>
    </div>

    <div class="button-bar">
      <button class="button button-positive"
              style="font-size: 18px;"
              ng-click="add()">
        确定
      </button>
    </div>
  </ion-content>

  <ion-footer-bar align-title="center" class="bar-stable" style="padding: 0px;">
  </ion-footer-bar>
</ion-view>
