<ion-view view-title="我的售后请求" hide-tabs="true">
  <ion-nav-buttons side="left">
    <back-button></back-button>
  </ion-nav-buttons>
  <ion-content>
    <ion-list>
      <ion-item class="item-remove-animate item-avatar item-icon-right"
                ng-repeat="item in items" type="item-text-wrap"
                style="padding: 10px 40px 15px 20px;" ui-sref="return-detail">
        <h2 style="font-size: 18px;color: #4c4b4d;">{{item.time}}</h2>

        <p style="font-size: 18px;margin-top: 10px;color: #4c4b4d;">{{item.order_id}} - {{item.status}}</p>
        <a>
          <i class="icon ion-chevron-right icon-accessory"></i>
        </a>
      </ion-item>
    </ion-list>

    <div class="button-bar">
      <button class="button button-full button-positive"
              style="font-size:20px;margin-bottom: 0;"
              ui-sref="return-orders">
        {{'return_newbtn'|translate}}
      </button>
    </div>

  </ion-content>
</ion-view>
