<ion-view view-title="{{'return_title'|translate}}" hide-tabs="true">
  <ion-nav-buttons side="left"><back-button></back-button></ion-nav-buttons>
  <ion-content>
    <div style="height: 44px">
    </div>
    <div class="row">
      <div class="col col-33">
        申请类型：
      </div>
      <div class="col col-67">
        <select ng-model="returnInfo.type" ng-change="onTypeChanged()">
          <option value="reship">退货</option>
          <option value="refund">退款</option>
        </select>
      </div>
    </div>
    <div class="row">
      <div class="col col-33">
        申请原因：
      </div>
      <div class="col col-67">
        <input type="text" ng-model="returnInfo.title">
      </div>
    </div>
    <div class="row">
      <div class="col col-33">
        申请说明：
      </div>
      <div class="col col-67">
        <input type="text" ng-model="returnInfo.content">
      </div>
    </div>

    <div class="row" ng-repeat="item in orderInfo.product">
      <div class="col col-10">
        <input type="radio" name="good" ng-model="item.selected">
      </div>
      <div class="col col-20">
        <img class="pic" ng-src="{{item.image}}">
      </div>
      <div class="col col-70" style="padding: 0;">
        <p style="padding: 0px;margin-bottom: 10px;">{{item.name}}</p>

        <p>
          <span style="float: left;">{{product.price | currency:'￥'}}</span>
          <span>{{product.spec}}</span>
          <span style="float: right;">x{{product.num}}</span>
        </p>

        <quantity-input class="col-50" ng-model="item.requestNum" ng-change=""></quantity-input>
      </div>
    </div>
    </div>
    <div class="button-bar">
      <a class="button button-full button-light" style="font-size:20px;" ng-click="submitRequest()">
        {{'return_addbtn'|translate}}
      </a>
    </div>
  </ion-content>
</ion-view>
