<ion-view view-title="售后列表" hide-tabs="true">
  <ion-content>
    <div style="height: 44px">
    </div>
    <ion-list>
      <ion-item class="item-remove-animate item-avatar item-icon-right" ng-repeat="item in items" type="item-text-wrap"
                style="padding: 10px 40px 15px 20px;" ng-click="goDetail(item)">
        <h2 style="font-size: 18px;color: #4c4b4d;">{{item.order_id}}</h2>

        <h2 style="font-size: 18px;margin-top: 10px;color: #4c4b4d;">{{item.status}}</h2>
        <a>
          <i class="icon ion-chevron-right icon-accessory"></i>
        </a>
      </ion-item>
    </ion-list>

    <div class="button-bar" ng-click="request()">
      <a class="button button-full button-light"
         style="font-size:20px;background-color: #568baa;color: #fff;margin-bottom: 0;border: none;">{{'return_newbtn'|translate}}</a>
    </div>
  </ion-content>
  </ion-content>
</ion-view>
