<ion-view class="cart" view-title="{{'return_title'|translate}}" hide-tabs="true">
  <ion-nav-buttons side="left">
    <back-button></back-button>
  </ion-nav-buttons>
  <ion-content>
    <div class="list" style="margin-bottom: 0;">
      <div class="row" style="padding: 10px 20px;border-bottom: 1px solid #c8c8c8;">
        <span style="font-size: 16px;min-width: 5em;display: block;line-height: 34px;color: #4a4a4a;">申请类型：</span>

        <div class="col" style="padding: 0">
          <input type="text" ng-model="returnInfo.typeDesc" readonly="readonly"
                 ng-click="returnInfo.showReturnType=true; returnInfo.showReturnTitle=false"
                 style="width: 100%;padding: 0 5px 0 0;font-size: 16px;color: #4a4a4a;background-color: #fff;">
        </div>
        <i class="icon ion-chevron-down icon-accessory"
           style="min-width: 1em;font-size: 16px;line-height: 34px;color: #4a4a4a;"></i>
      </div>

      <div class="row" style="padding: 10px 20px;margin: 0;border-bottom: 1px solid #c8c8c8;">
        <span style="font-size: 16px;min-width: 5em;display: block;line-height: 34px;color: #4a4a4a;">申请原因：</span>

        <div class="col" style="padding: 0">
          <input type="text" ng-model="returnInfo.title" readonly="readonly"
                 ng-click="returnInfo.showReturnType=false; returnInfo.showReturnTitle=true"
                 style="width: 100%;padding: 0 5px 0 0;font-size: 16px;color: #4a4a4a;background-color: #fff;">
        </div>
        <i class="icon ion-chevron-down icon-accessory"
           style="min-width: 1em;font-size: 16px;line-height: 34px;color: #4a4a4a;"></i>
      </div>

      <div class="row" style="padding: 10px 20px;margin: 0;border-bottom: 1px solid #c8c8c8;">
        <span style="font-size: 16px;min-width: 5em;display: block;line-height: 34px;color: #4a4a4a;">申请说明：</span>

        <div class="col" style="padding: 0">
          <input type="text" ng-model="returnInfo.content"
                 ng-click="returnInfo.showReturnType=false; returnInfo.showReturnTitle=false"
                 style="width: 100%;padding: 0;font-size: 16px;color: #4a4a4a;background-color: #fff;">
        </div>
      </div>
    </div>

    <div class="row" style="padding: 10px;font-size: 16px;color: #4a4a4a;">
      选择相关商品
    </div>
    <ion-item class="good item" style="border-top: none;" ng-repeat="item in orderInfo.product">
      <div class="item-checkbox">
        <label class="checkbox">
          <input type="checkbox" class="selt-prdt" ng-model="item.selected" ng-change="toggleGood(good)">
        </label>

        <div class="row row-no-padding">
          <a class="good-thumbnail-test">
            <img class="vertical-align-middle" ng-src="{{item.image}}">
          </a>

          <div class="good-info col">
            <h2 style="color:#4a4a4a;font-size:14px;">{{item.name}}</h2>

            <span class="sub-title" style="line-height: 14px;height: 14px;">{{item.spec}}</span>

            <p style="clear: both;">
              <span style="float: left;" class="price">{{item.price | currency:'￥'}}</span>
              <span style="float: right;">x{{item.num}}</span>
            </p>
          </div>
        </div>
      </div>
    </ion-item>

    <div class="button-bar" style="margin-top:20px;">
      <button class="button button-full button-positive"
              style="font-size:20px;margin-bottom: 0;"
              ng-click="submitRequest()">
        {{'return_addbtn'|translate}}
      </button>
    </div>

    <div ng-show="returnInfo.showReturnType">
      <div class="button-bar">
        <div class="row">
          <div class="col col-100" align="right">
            <button class="button button-clear button-positive" style="font-size:16px;"
                    ng-click="saveReturnType()">
              完成
            </button>
          </div>
        </div>
      </div>
      <div class="list">
        <label class="item item-input item-select">
          <div class="input-label">
            申请类型：
          </div>
          <select ng-model="returnInfo.typeDesc">
            <option ng-if="orderInfo.return_type==='reship'">退货退款</option>
            <option>仅退款</option>
          </select>
        </label>
      </div>
    </div>

    <div ng-show="returnInfo.showReturnTitle">
      <div class="button-bar">
        <div class="row">
          <div class="col col-100" align="right">
            <button class="button button-clear button-positive" style="font-size:16px;"
                    ng-click="saveReturnTitle()">
              完成
            </button>
          </div>
        </div>
      </div>
      <div class="list">
        <label class="item item-input item-select">
          <div class="input-label">
            申请原因：
          </div>
          <select ng-model="returnInfo.title">
            <option>质量原因</option>
            <option>物实不符</option>
            <option>现在不想购买</option>
          </select>
        </label>
      </div>
    </div>
  </ion-content>
</ion-view>
