<ion-view view-title="我的售后" hide-tabs="true">
  <ion-nav-buttons side="left">
    <back-button></back-button>
  </ion-nav-buttons>
  <ion-content>
    <ion-list>
      <ion-item class="item-remove-animate item-icon-right ret-order"
                ng-repeat="item in items" type="item-text-wrap"
                ui-sref="return-detail({returnId: item.return_id})">
        <p class="ret-order-item">时间：{{item.time}}</p>

        <p class="ret-order-item">订单号：{{item.order_id}}</p>

        <p class="ret-order-item">状态：{{item.status}}</p>
        <a>
          <i class="icon ion-chevron-right icon-accessory"></i>
        </a>
      </ion-item>
    </ion-list>

    <ion-infinite-scroll
      ng-if="hasMore"
      on-infinite="loadMore()"
      distance="1%">
    </ion-infinite-scroll>
  </ion-content>
  <ion-footer-bar align-title="center" class="bar-stable" style="padding: 0px;">
    <div class="button-bar">
      <button class="button button-positive"
              style="font-size: 18px;"
              ui-sref="return-orders">
        {{'return_newbtn'|translate}}
      </button>
    </div>
  </ion-footer-bar>
</ion-view>
