<ion-view view-title="{{'settng_title'|translate}}">
  <ion-nav-buttons side="left"><back-button></back-button></ion-nav-buttons>
  <ion-content>
    <div class="row" style="padding: 0 20px;">
      <div class="col col-90 col-center" style="padding: 0;height: 60px;line-height: 60px;font-size: 16px;">
        <div class="row" style="padding: 0;">
          <span class="col col-50 col-center" style="padding: 0;">用户名</span>
          <span class="col col-50 col-center" style="padding: 0;text-align: right;">{{item.login_name}}</span>
        </div>
      </div>
      <div class="col col-10 col-center" style="padding: 0;height: 60px;line-height: 60px;text-align: right;"
           align="right">
      </div>
    </div>
    <hr style="margin: 0;border:none;border-top:1px solid #ccc;">
    <div class="row" style="padding: 0 20px;" > <!--ng-click="addAttachment()"-->
      <div class="col col-90 col-center" style="padding: 0;font-size: 16px;">
        <div class="row" style="padding: 0;line-height: 60px;height: 60px;">
          <span class="col col-50 col-center" style="padding: 0;">头像</span>
          <span class="col col-50 col-center" style="padding: 0;height: 60px;text-align: right;">
            <img style="width: 50px;height: 50px;margin-top: 5px;border-radius: 50%;" ng-src="{{item.image}}">
          </span>
        </div>
      </div>
      <!--div class="col col-10 col-center" style="padding: 0;line-height: 60px;height: 60px;text-align: right;"
           align="right">
        <a>
          <i class="icon ion-chevron-right icon-accessory"></i>
        </a>
      </div-->
    </div>
    <hr style="margin: 0;border:none;border-top:1px solid #ccc;">
    <div class="row" style="padding: 0 20px;" ng-click="model.showGender = !model.showGender; model.showBirthday=false;">
      <div class="col col-90 col-center" style="padding: 0;height: 60px;line-height: 60px;font-size: 16px;">
        <div class="row" style="padding: 0;">
          <span class="col col-50 col-center" style="padding: 0;">性别</span>
          <span class="col col-50 col-center" style="padding: 0;text-align: right;">{{item.sex | translate}}</span>
        </div>
      </div>
      <div class="col col-10 col-center" style="padding: 0;height: 60px;line-height: 60px;text-align: right;"
           align="right">
        <a>
          <i class="icon ion-chevron-right icon-accessory" ng-show="!model.showGender"></i>
          <i class="icon ion-chevron-down icon-accessory" ng-show="model.showGender"></i>
        </a>
      </div>
    </div>

    <div class="button-bar" ng-show="model.showGender">
      <a class="sex-choose" ng-class="{'set-gender': item.sex === 'gentle'}" ng-click="setGender('gentle')">
        <span>男</span>
      </a>
      <a class="sex-choose" ng-class="{'set-gender': item.sex === 'lady'}" ng-click="setGender('lady')">
        <span>女</span>
      </a>
    </div>

    <hr style="margin: 0;border:none;border-top:1px solid #ccc;">

    <div class="row" style="padding: 0 20px;" ng-click="model.showGender=false; showDatePicker()">
      <div class="col col-90 col-center" style="padding: 0;height: 60px;line-height: 60px;font-size: 16px;">
        <div class="row" style="padding: 0;">
          <span class="col col-50 col-center" style="padding: 0;">生日</span>
          <span class="col col-50 col-center" style="padding: 0;text-align: right;">{{item.birthday}}</span>
        </div>
      </div>
      <div class="col col-10 col-center" style="padding: 0;height: 60px;line-height: 60px;text-align: right;"
           align="right">
        <a>
          <i class="icon ion-chevron-right icon-accessory"></i>
        </a>
      </div>
    </div>

    <hr style="margin: 0;border:none;border-top:1px solid #ccc;">

    <div class="row" style="padding: 0 20px;">
      <div class="col col-90 col-center" style="padding: 0;height: 60px;line-height: 60px;font-size: 16px;">
        <div class="row" style="padding: 0;">
          <span class="col col-50 col-center" style="padding: 0;">用户级别</span>
          <span class="col col-50 col-center" style="padding: 0;text-align: right;">{{item.lv_name}}</span>
        </div>
      </div>
      <div class="col col-10 col-center" style="padding: 0;height: 60px;line-height: 60px;text-align: right;"
           align="right">
      </div>
    </div>
    <hr style="margin: 0;border:none;border-top:1px solid #ccc;">
  </ion-content>
</ion-view>
