<ion-view view-title="{{'settng_title'|translate}}" hide-tabs="true">
  <ion-content>
    <div class="row">
      <div class="col col-center" align="center" style="font-size: 18px;">
        出生日期
      </div>
    </div>
    <div class="list">
      <label class="item item-input item-select">
        <div class="input-label" style="color: #000;">
          年
        </div>
        <select ng-model="birthdayInfo.selectedYear">
          <option ng-repeat="s in birthdayInfo.years">{{s}}</option>
        </select>
      </label>
      <label class="item item-input item-select">
        <div class="input-label" style="color: #000;">
          月
        </div>
        <select ng-model="birthdayInfo.selectedMonth">
          <option ng-repeat="sh in birthdayInfo.months">{{sh}}</option>
        </select>
      </label>
      <label class="item item-input item-select">
        <div class="input-label" style="color: #000;">
          日
        </div>
        <select ng-model="birthdayInfo.selectedDay">
          <option ng-repeat="ar in birthdayInfo.days">{{ar}}</option>
        </select>
      </label>
    </div>

    <button class="button button-full button-stable" style="font-size:20px;background-color: #568baa;color: #fff;margin-top: 100px;" ng-click="changeBirthday()">确定
    </button>
  </ion-content>
</ion-view>
