<ion-view view-title="修改密码" hide-tabs="true">
  <ion-content>
    <div class="list">
      <label class="item item-input">
        <span class="input-label" style="color: #333333;">输入旧密码：</span>
        <input type="password" ng-model="pwdInfo.old">
      </label>
      <label class="item item-input">
        <span class="input-label" style="color: #333333;">输入新密码：</span>
        <input type="password" ng-model="pwdInfo.new">
      </label>
      <label class="item item-input">
        <span class="input-label" style="color: #333333;">再次输入密码：</span>
        <input type="password" ng-model="pwdInfo.confirm">
      </label>
    </div>
    <div class="row" style="padding: 0;margin-top: 40px;">
      <div class="col col-center" style="padding: 0;">
        <button class="button button-full button-positive" ng-click="modify()">确定</button>
      </div>
    </div>
    <div class="row" style="padding: 0;">
      <div class="col col-center" style="text-align: center;padding: 0;color: #333333;">修改后请重新登录</div>
    </div>
  </ion-content>
</ion-view>
