<ion-view view-title="{{'settng_title'|translate}}" hide-tabs="true">
  <ion-content>
    <div class="button-bar">
      <a class="button button-clear" style="border: none;color: #000;">性别:</a>
      <a class="button button-clear" style="border: none;padding: 0; color: #000;" ng-click="setGender('gentle')">
        <span ng-class="{'set-gender': userGender === 'gentle'}">男</span>
      </a>
      <a class="button button-clear" style="border: none;padding: 0;color: #000;" ng-click="setGender('lady')">
        <span ng-class="{'set-gender': userGender === 'lady'}">女</span>
      </a>
    </div>
    <hr style="margin-top: -5px;height:1px;border:none;border-top:1px solid #ccc;">
    <div class="button-bar" style="margin-top: 150px;">
      <button class="button button-full button-light"
              style="font-size:20px;background-color: #568baa;color: #fff;margin-bottom: 0;"
              ng-click="changeGender()">确定
      </button>
    </div>
  </ion-content>
</ion-view>
