<ion-view view-title="{{'settng_title'|translate}}" hide-tabs="true">
  <ion-content class="padding">
    <div class="row">
      <div class="col col-33">
        原密码：
      </div>
      <div class="col col-70">
        <input type="text" placeholder="原密码" ng-model="pwdInfo.old">
      </div>
    </div>
    <div class="row">
      <div class="col col-33">
        新密码：
      </div>
      <div class="col col-70">
        <input type="text" placeholder="新密码" ng-model="pwdInfo.new">
      </div>
    </div>
    <div class="row">
      <div class="col col-33">
        确定密码：
      </div>
      <div class="col col-70">
        <input type="text" placeholder="确定密码" ng-model="pwdInfo.confirm">
      </div>
    </div>
    <div class="button-bar">
      <button class="button button-full button-light"
              style="font-size:20px;background-color: #568baa;color: #fff;margin-bottom: 0;" ng-click="add()">确定
      </button>
    </div>
  </ion-content>
</ion-view>
