<ion-view view-title="{{'settng_title'|translate}}" hide-tabs="true">
  <ion-content>
    <div class="row">
      <div class="col col-20">
        <p>头像</p>
      </div>
      <div class="col col-80" align="right">
        <img ng-src="{{item.logo}}">
        <a>
          <i class="icon ion-chevron-right icon-accessory"></i>
        </a>
      </div>
    </div>
    <div class="row">
      <div class="col col-20">
        <p>性别</p>
      </div>
      <div class="col col-80" align="right" ng-click="goPage('tab.settings.gender')">
        <p>{{item.sex}}</p>
        <a>
          <i class="icon ion-chevron-right icon-accessory"></i>
        </a>
      </div>
    </div>
    <div class="row">
      <div class="col col-20">
        <p>生日</p>
      </div>
      <div class="col col-80" align="right" ng-click="goPage('tab.settings.birthday')">
        <p>{{item.birthday}}</p>
        <a>
          <i class="icon ion-chevron-right icon-accessory"></i>
        </a>
      </div>
    </div>
  </ion-content>
</ion-view>
