<ion-view view-title="{{'settng_title'|translate}}" hide-tabs="true">
  <ion-content class="padding">
    <div class="row">
      <div class="col col-33">
        输入旧密码：
      </div>
      <div class="col col-70">
        <input type="password" ng-model="pwdInfo.old">
      </div>
    </div>
    <div class="row">
      <div class="col col-33">
        输入新密码：
      </div>
      <div class="col col-70">
        <input type="password" ng-model="pwdInfo.new">
      </div>
    </div>
    <div class="row">
      <div class="col col-33">
        再次输入密码：
      </div>
      <div class="col col-70">
        <input type="password" ng-model="pwdInfo.confirm">
      </div>
    </div>
    <div class="button-bar">
      <button class="button button-full button-light"
              style="font-size:20px;background-color: #568baa;color: #fff;margin-bottom: 0;" ng-click="modify()">确定
      </button>
    </div>
    <div class="row">
      <div class="col col-center">
        <p>修改后请重新登录</p>
      </div>
    </div>
  </ion-content>
</ion-view>
