<ion-view view-title="会员中心">
  <ion-content class="padding">
    <div class="list card">
      <div class="item item-divider">我的订单</div>
      <div class="item item-body">
        <div class="row">
          <div class="col">
            <a class="button button-stable" href="#/tab/member/orders">
              订单列表
            </a>
          </div>
        </div>
      </div>
      <div class="item item-divider">收货地址</div>
      <div class="item item-body">
        <div class="row">
          <div class="col">
            <button class="button button-stable">
              收货地址列表
            </button>
          </div>
          <div class="col">
            <button class="button button-stable">
              添加收货地址
            </button>
          </div>
        </div>
      </div>
      <div class="item item-divider">售后服务</div>
      <div class="item item-body">
        <div class="row">
          <div class="col">
            <button class="button button-stable">
              售后列表
            </button>
          </div>
        </div>
      </div>
      <div class="item item-divider">优惠券</div>
      <div class="item item-body">
        <div class="row">
          <div class="col">
            <button class="button button-stable">
              优惠券列表
            </button>
          </div>
        </div>
      </div>
    </div>
    <div class="item item-divider">我的信息</div>
    <div class="item item-body">
      <div class="row">
        <div class="col">
          <button class="button button-stable">
            个人信息
          </button>
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>
