<ion-modal-view class="gallery-filter">
  <ion-header-bar class="bar bar-header bar-positive">
    <h1 class="title">筛选</h1>
  </ion-header-bar>
  <ion-content class="padding">
    <div class="row price">
      <span class="description">价格区间(元)</span>
      <input type="number" ng-model="priceSection.min">
      <span class="separator">－</span>
      <input type="number" ng-model="priceSection.max">      
    </div>
    <div>
      <h4>品牌</h4>
      <div class="row" style="flex-wrap:wrap">
        <div class="col col-33 text-center" ng-repeat="brand in galleryFilter.brand" ng-click="setBrandId(brand.brand_id)">
          <div class="prop" ng-class="{active: brand.brand_id === brandId}">{{brand.brand_name}}</div>
        </div>
      </div>
    </div>
    <div ng-repeat="props in galleryFilter.props">
      <h4>{{props.prop_name}}</h4>
      <div class="row" style="flex-wrap:wrap">
        <div class="col col-33 text-center" ng-repeat="propValue in props.prop_value" ng-click="setPropIndex(propValue.prop_index)" style="white-space: nowrap;">        
          <div class="prop" ng-class="{active: propValue.prop_index === propIndex}">
          {{propValue.prop_value_name}}
          </div>        
        </div>
      </div>
    </div>
  </ion-content>
  <ion-footer-bar align-title="center" class="bar-stable" style="padding: 0px;">
    <div class="button-bar">
      <button class="col col-50 button button-positive" ng-click="galleryFilterSave()">确认</button>
      <button class="col col-50 button button-dark" ng-click="galleryFilterSave(true)">清空</button>
    </div>
  </ion-footer-bar>
</ion-modal-view>
