<ion-view view-title="{{'product_detail'|translate}}" class="product">
  <ion-nav-buttons side="left">
    <back-button></back-button>
  </ion-nav-buttons>
  <ion-nav-buttons side="right">
    <a class="button icon-left icon-btn-2 button-clear" ng-click="userService.checkLogin('tab.cart')"></a>
    </div>
  </ion-nav-buttons>
  <div class="pop-fixed" style="width: 100%; height: 8%; padding-top: 4%" ng-if="product.store === 0">
    <div class="col col-center" style="padding: 0px;text-align:center;">
      <a class="button-clear" style="font-size:16px; color:#fff;">商品暂无库存，请看看其他商品吧~</a>
    </div>
  </div>
  <ion-content>
    <div class="row" style="padding: 0px;margin: 0;width: 100%;">
      <div class="col col-center" style="padding: 0px; width: 100%;" on-double-tap="showPictures()">
        <ion-slide-box on-slide-changed="slideHasChanged($index)" class="slidebox" ng-if="slideimgs.length"
                       auto-play="true" slide-interval="4000" delegate-handle="slideimgs" does-continue="true">
          <ion-slide ng-repeat="item in slideimgs" style="width: 100%;">
            <a>
              <img ng-src="{{item}}"/>
            </a>
          </ion-slide>
        </ion-slide-box>
      </div>
    </div>
    <hr style="margin: 0;border:none;border-top:1px solid #c8c8c8;"/>
    <section class="prdt-detail">
      <h5 class="prdt-name">{{product.name}} </h5>
      <p class="prdt-brief">{{product.brief}}</p>

      <div class="post-type">{{product.nature === 'bond' ? '保税仓（深圳前海）' : '香港直邮'}}</div>
      <label class="now-price">{{product.price|currency:'￥'}}</label>
      <label class="ori-price">
        <span>{{'mkt_price'|translate}}:{{product.mktprice|currency:'￥'}}</span>
      </label>

      <div class="amount">
        <label style="padding-right: 2em">月销&nbsp;{{product.count}}</label>
        <label style="color: #bd252c;">库存&nbsp;{{product.store}}</label>
      </div>
    </section>

    <hr style="margin: 0;border:none;border-top:1px solid #c8c8c8;"/>
    <div class="prdt-tax">税率: <label class="tax-pri">{{product.tax_rate * 100}}%</label></div>
    <div class="prdt-tax">税金: <label class="tax-pri">{{product.tax_price|currency:'￥'}}</label></div>
    <div class="prdt-tax">
      <div class="declare">
        <p>税费说明:</p>

        <p>①中华人民共和国进境物品完税价格表，本商品适用税率为{{product.tax_rate * 100}}%</p>

        <p>②根据 海关总署公告2010年第43号 公告规定，个人物品申报，应征进口税税额在人民币50元（含50元）以下的，海关予以免征。</p>
      </div>
    </div>
    <hr style="margin: 0;border:none;border-top:1px solid #c8c8c8;"/>
    <!-- <div class="button button-clear button-full button-small icon ion-chevron-right icon-right prdt-std" >
      <a style="color: #4c4c4c;">选择规格</a>
    </div> -->

    <div class="row" style="padding: 0 10px;height: 40px;line-height: 40px;" ng-click="showSpecModal()">
      <div class="col col-80 col-center" style="padding: 0px;height: 40px;font-size: 14px;">
        <a style="color: #333333;text-decoration: none;">选择规格</a>
      </div>
      <div class="col col-20 col-center" style="padding: 0px;height: 40px;text-align: right;">
        <i class="icon ion-chevron-right icon-accessory"></i>
      </div>
    </div>

    <hr style="margin: 0;border:none;border-top:1px solid #c8c8c8;"/>

    <div class="row" style="color: #4c4c4c;">
      <div class="col col-33 col-center">
        {{'comment'|translate}}
      </div>
      <div class="col col-67 col-center" style="text-align: right;font-size: 9pt;">
        好评{{product.high_point}}% 已有{{product.count}}人购买
      </div>
    </div>
    <div class="row" ui-sref="comments({id:product.goods_id})">
      <div class="col col-90 col-center">
        <p style="margin-bottom: 1px;color: #9b9b9b;font-size: 10px;">{{comment.name || '暂无评论'}}</p>

        <p
          style="margin: 0;color: #9b9b9b;font-size: 10px;overflow: hidden;white-space: nowrap;text-overflow: ellipsis;"
          ng-show="comment.name">{{comment.content}}</p>
      </div>
      <div class="col col-10 col-center" style="text-align: right;">
        <i class="icon ion-chevron-right icon-right"></i>
      </div>
    </div>

    <hr style="margin: 0;border:none;border-top:10px solid #f6f6f6;"/>
    <div class="row" style="padding: 10px;">
      <div class="col col-center"
           style="width: 80px;height: 80px;padding: 0;background-color: #fff;overflow: hidden;max-width: 80px;background-image: url({{point.url}});background-size: 100% auto;background-repeat: no-repeat;background-position: 0 50%;">
      </div>
      <div class="col col-center" style="padding: 0 0 0 10px;">
        <div style="font-size: 14px; padding: 0 0 7px;color: #4a4a4a;">{{point.name}}</div>
        <div style="font-size: 10px; color: #4a4a4a;" ng-repeat="value in point.value">{{value.type_name}} &nbsp;{{value.point}}
        </div>
      </div>
    </div>

    <hr style="margin: 0;border:none;border-top:10px solid #f6f6f6;">

    <div style="text-align: center; color: #4a4a4a;margin: 10px;font-size: 14px;">向上拖动，查看图文详情</div>

    <div ng-bind-html="html" class="product-intro"></div>

    <ion-infinite-scroll
      ng-if="hasMore"
      on-infinite="loadMore()"
      distance="1%">
    </ion-infinite-scroll>
  </ion-content>
  <ion-footer-bar align-title="center" class="bar-stable" style="padding: 0px;">
    <div add-to-cart="product" show-spec-modal="showSpecModal"></div>
  </ion-footer-bar>
</ion-view>
