<ion-view view-title="评论" class="product">
  <ion-nav-buttons side="left"><back-button></back-button></ion-nav-buttons>
  <ion-content>
    <ion-list>
      <ion-item class="comment" ng-if="!comments.length">
        <h2 style="text-align: center;color: #4a4a4a;">对不起, 本商品暂无评论 !</h2>
      </ion-item>
      <ion-item class="comment" ng-repeat="comment in comments" type="item-text-wrap">
        <h2 style="color: #4a4a4a;">{{comment.name}}</h2>
        <p style="color: #4a4a4a;">{{comment.content}}</p>
        <div ng-repeat="reply in comment.reply" class="padding" style="background-color: #c8c8c8;">
          <p style="color: #4a4a4a;">{{reply.op_name}}: {{reply.content}}</p>
        </div>
      </ion-item>
    </ion-list>
    <ion-infinite-scroll
      ng-if="hasMore"
      on-infinite="loadMore()"
      distance="5%">
    </ion-infinite-scroll>
  </ion-content>
</ion-view>
