<ion-modal-view class="product-spec">
    <ion-header-bar class="bar bar-header bar-positive" style="height: 44px;">
        <h1 class="title" style="margin-top: 0;">选择数量</h1>
    </ion-header-bar>
    <ion-content style="top:44px;">
        <div class="row padding">
            <div class="col-40 col-center" style="font-size: 14px; color: #000; font-weight: 500;">数量</div>
            <div class="col-60">
                <quantity-input ng-model="good.quantity" style="float: right"></quantity-input>
            </div>
        </div>
    </ion-content>
    <ion-footer-bar align-title="center" class="bar-stable" style="padding: 0px;">
        <div class="button-bar">
            <button class="button button-dark" style="border-bottom: 0;" ng-click="hideModal()">返回</button>
            <button class="button" style="font-size: 16px;border-bottom: 0;"
                    ng-class="{'bar-stable handle': product.store === 0,'button-energized': product.store !== 0}"
                    ng-disabled="product.store === 0" ng-click="goToCart()">
                {{'pay_now' | translate}}
            </button>
        </div>
    </ion-footer-bar>
</ion-modal-view>
