<ion-view view-title="{{'shop'|translate}}">
  <ion-content>
    <ion-list>
      <ion-item class="item-remove-animate item-avatar item-icon-right" ng-repeat="product in products" type="item-text-wrap" href="#/tab/products/{{product.product_id}}">
        <img ng-src="{{product.image}}">
        <h2>{{product.name}}</h2>
        <p>{{product.price}}</p>
        <i class="icon ion-chevron-right icon-accessory"></i>        
      </ion-item>
    </ion-list>
    <ion-infinite-scroll
      ng-if="hasMore"
      on-infinite="loadMore()"
      distance="5%">
    </ion-infinite-scroll>
  </ion-content>
</ion-view>
