@font-face {
	font-family: 'icomoon';
	src:url('fonts/icomoon.eot?mn1xi6');
	src:url('fonts/icomoon.eot?mn1xi6#iefix') format('embedded-opentype'),
		url('fonts/icomoon.ttf?mn1xi6') format('truetype'),
		url('fonts/icomoon.woff?mn1xi6') format('woff'),
		url('fonts/icomoon.svg?mn1xi6#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-btn-1:before {
	font-size: 24px;
	content: "\e900";
}
.icon-btn-2:before {
	font-size: 24px;
	content: "\e901";
}
.icon-btn-3:before {
	font-size: 24px;
	content: "\e902";
}
.icon-btn-4:before {
	font-size: 24px;
	content: "\e903";
}


.tab-item .icon {
	line-height: 75%;
}

