/* Empty. Add your own CSS if you like */

hr {
  border-width: 0 0 1px 0;
}

.stroke {
  text-decoration: line-through;
  -webkit-text-decoration-color: #ef473a;
}

.product .slider {
  height: 200px;
}

.product .slider-slide {
  text-align: center;
}

.product .slider-slide img {
  height: 100%;
}

.pic {
  max-width: 40px;
  max-height: 40px;
  width: 100%;
  height: 100%;
}

.col-style {
  text-align: center;
  margin-top: 1em;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.click-assertive {
  border-color: #BD252C;
  color: #BD252C;
}

.clear-search {
  position: absolute;
  top: 0;
  right: 10px;
  z-index: 999;
}

.product-spec.modal {
  bottom: 0;
  top: 20%;
  min-height: auto;
}

.modal-backdrop.active {
  background-color: rgba(0, 0, 0, 0.5) !important;
}

.product-intro * {
  max-width: 100%;
}

.user-order-track {
  margin: 20px 20px 20px 30px;
}

.user-order-track ul li {
  position: relative;
  width: 100%;
  border-left: 1px solid #e3e3e3;
  padding: 0 0 0 30px;
}

.user-order-track .track-radius {
  position: absolute;
  display: block;
  width: 20px;
  height: 20px;
  vertical-align: middle;
  background-color: #cfcfcf;
  border-radius: 50%;
  top: 0;
  left: -10px;
}

.user-order-track ul li:first-child .track-radius {
  background-color: #578dad;
}

.user-order-track ul li:first-child .track-location {
  color: #578dad;
}

.user-order-track ul li:first-child .track-time {
  color: #578dad;
}

.user-order-track ul li:last-child {
  border-left: none;
}

.user-order-track .track-location {
  margin: 0;
  font-size: 16px;
  color: #4a4b4d;
}

.user-order-track .track-time {
  margin: 3px 0 0;
  padding-bottom: 20px;
  font-size: 16px;
  color: #4a4b4d;
}

.products-list {
  float: left;
  padding: 10px 2px 10px 10px;
  border: none;
  width: 50%;
}

.products-list .detail {
  border: 1px solid #ccc;
}

.products-list img {
  height: 200px;
}

.products-list .name {
  font-size: 14px;
  height: 2.7em;
  overflow: hidden;
}

.products-list .price {
  position: relative;
}

.products-list .nature {
  color: white;
  border-radius: 5px;
  position: absolute;
  bottom: 3px;
  right: 3px;
  font-size: 10px;
  padding: 0 3px;
}

.products-list .nature.energized {
  background-color: #FD8B24;
}

.products-list .nature.calm {
  background-color: #689FBC;
}

.sub-categories {
  color: #689FBC;
  padding: 15px 0 0 15px;
}

.gallery-filter .prop {
  line-height: 1em;
  padding: 10px 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.gallery-filter .active {
  background-color: #BD252C;
  color: white;
  border-color: #BD252C;
}

.gallery-filter .text-center {
  text-align: center;
}

.gallery-filter .price .description {
  float: left;
  min-width: 6em;
  width: 15%;
  line-height: 2em;
}

.gallery-filter .price input {
  border: 1px solid #ccc;
  float: left;
  width: 40%;
  height: 2em;
  border-radius: 5px;
  padding-left: 5px;
}

.gallery-filter .price .separator {
  float: left;
  width: 5%;
  line-height: 2em;
  text-align: center;
}

.col-30 {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 30%;
  -moz-box-flex: 0;
  -moz-flex: 0 0 30%;
  -ms-flex: 0 0 30%;
  flex: 0 0 30%;
  max-width: 30%;
}

.col-40 {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 40%;
  -moz-box-flex: 0;
  -moz-flex: 0 0 40%;
  -ms-flex: 0 0 40%;
  flex: 0 0 40%;
  max-width: 40%;
}

.col-60 {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 60%;
  -moz-box-flex: 0;
  -moz-flex: 0 0 60%;
  -ms-flex: 0 0 60%;
  flex: 0 0 60%;
  max-width: 60%;
}

.col-70 {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 70%;
  -moz-box-flex: 0;
  -moz-flex: 0 0 70%;
  -ms-flex: 0 0 70%;
  flex: 0 0 70%;
  max-width: 70%;
}

.set-gender {
  background-color: #568baa;
  color: #fff;
  display: block;
}
