<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
    xmlns:android="http://schemas.android.com/apk/res/android"
    id="com.cloudnapps.project.related"
    version="1.0.0">
    <name>Settings</name>

    <js-module src="www/hoko.js" name="hoko">
        <clobbers target="hoko" />
    </js-module>
    
    <!-- android -->
    <platform name="android">
      <config-file target="res/xml/config.xml" parent="/*">
        <feature name="HoKo">
          <param name="android-package" value="com.cloudnapps.plugins.hoko.Project" />
        </feature>
      </config-file> 

      <config-file target="res/values-zh-rCN/strings.xml" parent="/resources">
        <string name="app_name">好酷</string>
      </config-file>        
      <config-file target="res/values-zh-rTW/strings.xml" parent="/resources">
        <string name="app_name">好酷</string>
      </config-file>        
      
      <source-file src="libs/android/android-support-v4.jar" target-dir="libs"></source-file>
        
       <source-file src="src/MapResource.bundle/0021" target-dir="assets/MapResource"></source-file>
       <source-file src="src/MapResource.bundle/0452" target-dir="assets/MapResource"></source-file>
       <source-file src="src/MapResource.bundle/0755" target-dir="assets/MapResource"></source-file>       
       <source-file src="src/MapResource.bundle/Licenses.json" target-dir="assets/MapResource"></source-file>
       <source-file src="src/MapResource.bundle/RenderingScheme.json" target-dir="assets/MapResource"></source-file>
       <source-file src="src/MapResource.bundle/TYMap.db" target-dir="assets/MapResource"></source-file>
       
       <source-file src="src/android/Project.java" target-dir="src/com/cloudnapps/plugins/hoko/"></source-file>
    </platform>
    
    <!-- ios -->
    <platform name="ios">
        <config-file target="*-Info.plist" parent="CFBundleDisplayName">
            好酷
        </config-file>
        <config-file target="*-Info.plist" parent="CFBundleDevelopmentRegion">
            zh_CN
        </config-file>
        <config-file target="config.xml" parent="/*">
            <feature name="HoKo">
                <param name="ios-package" value="CDVHoKo" />
                <param name="onload" value="true" />
            </feature>
        </config-file>

        <header-file src="src/ios/CDVHoKo.h" />
        <source-file src="src/ios/CDVHoKo.m" />
        
        <resource-file src="src/MapResource.bundle" />

        <config-file target="*-Info.plist" parent="UISupportedInterfaceOrientations">
           <array>
              <string>UIInterfaceOrientationPortrait</string>
           </array>
        </config-file>

        <config-file target="*-Info.plist" parent="CFBundleURLTypes">
          <array>
            <dict>
              <key>CFBundleTypeRole</key>
              <string>Editor</string>
              <key>CFBundleURLName</key>
              <string>wechat</string>
              <key>CFBundleURLSchemes</key>
              <array>
                <string>wx169f5e5b9d07599c</string>
              </array>
            </dict>
          </array>
        </config-file>

        <config-file target="*-Info.plist" parent="CFBundleURLTypes">
          <array>
            <dict>
              <key>CFBundleTypeRole</key>
              <string>Editor</string>
              <key>CFBundleURLIconFile</key>
              <string>icon-50@2x</string>
              <key>CFBundleURLName</key>
              <string>alipay</string>
              <key>CFBundleURLSchemes</key>
              <array>
                <string>ctfalipay</string>
              </array>
            </dict>
          </array>
        </config-file>
    </platform>
</plugin>
