// 圆角
@mixin border-radius ($radius) {
  -webkit-border-radius: $radius;
      -ms-border-radius: $radius;
     -moz-border-radius: $radius;
       -o-border-radius: $radius;
          border-radius: $radius;
}

// hr 分割线
@mixin hr-divide-line ($width, $color) {
  margin: 0;
  border: none;
  border-top: $width solid $color;
}

// 透明度兼容性
@mixin opacity($opacity) {
  opacity: $opacity;
  filter: alpha(opacity=$opacity * 100);
}

// 多行文本溢出
@mixin inmoreline($line) {
  display: -webkit-box !important;
  overflow: hidden;
  white-space: normal;
  text-overflow: ellipsis;
  word-break: break-all;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: $line;
}
