/* 发现 start */
.find-nav-bar {
  position: absolute;
  z-index: 999;
  margin: 0;
  left: 0;
  padding: 10px 0;
  background-color: #fff;

  .find-item {
    padding: 0;

    a {
      padding: 2px;
      display: block;
      text-align: center;

      img {
        display: block;
        margin: 0 auto;
        width: 35px;
        height: 35px;
      }

      span {
        display: inline-block;
        margin-top: 4px;
        margin-bottom: 0;
        color: #666;
        font-size: 12px;
      }
    }
  }
}
/* 发现 end */
/* 热门分类 start */
.prdt-hot-sort {
  padding: 0;
  background-color: #fff;
  // border-top: 1px solid #000;

  .prdt-item {
    padding: 0;

    a {
      margin: 15px 0;
      display: block;
      text-align: center;

      img {
        display: block;
        margin: 0 auto;
        width: 40px;
        height: 40px;
        border-radius: 50%;
      }

      span {
        display: inline-block;
        margin-top: 5px;
        margin-bottom: 0;
        color: #666;
        font-size: 12px;
      }
    }
  }
}
/* 热门分类 end */
/* 新品特惠 start*/
.new-prdt-title {
  padding: 0;
  margin: 0;

  .camp-title-left {
   padding: 0;
   margin: 0;
   max-width:50%;
   height: 30px;

   .bar-name {
    height: 30px;
    padding: 7px;
    line-height: 30px;
    color: #fff;
    font-size: 14px;
   }
  }
  .camp-title-right {
    padding: 0;
    margin: 0;

    span {
      font-size: 12px;
    }

    .end-time {
      color: #FF0000;
      font-size: 16px;
      font-weight: 300;
    }
  }
}

/* 限时抢购 */
.limittime-prdt-cont {
  padding-top: 5px;
  .pad-5 {
    padding: 3px 1px 10px;
  }
  .new-prdt {
    padding: 0px;
    margin: 2px;

    a {
      display: block;
      text-align: center;
      border: 1px solid #eee;
      text-decoration: none;

      img {
        display: block;
        margin: 0 auto;
        width: 100%;
        max-width: 98px;
        max-height: 98px;
        min-height: 98px;
      }
      .bg-color {
        background-color: #f8f8f8;
        padding: 5px 3px 0;
      }
      .prdt-descb {
        display: -webkit-box !important;
        overflow: hidden;
        white-space: normal;
        text-overflow: ellipsis;
        word-break: break-all;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 3;
        text-align: left;
        font-size: 12px;
        color: #333;
        line-height: 14px;
        height: 28px;
      }
      .pri-pri {
        margin-top: 0px;
        margin-left: -2px;
        display: block;
        color: #bd252c;
        font-size: 10px;
      }

      .pri-ori {
        display: block;
        color: #9b9b9b;
        font-size: 10px;
        text-decoration: line-through;
      }
    }
  }
}


/* 楼层循环 */
.index-prdt-cont {
  .pad-5 {
    padding: 3px 1px 10px;
  }
  .new-prdt {
    padding: 0px;
    margin: 2px;

    a {
      display: block;
      text-align: center;
      border: 1px solid #eee;
      text-decoration: none;

      img {
        display: block;
        margin: 0 auto;
        width: 100%;
        max-width: 150px;
        max-height: 150px;
        min-height: 150px;
      }

      .bg-color {
        background-color: #f8f8f8;
        padding: 5px 3px 0;
      }

      .prdt-descb {
        display: -webkit-box !important;
        overflow: hidden;
        white-space: normal;
        text-overflow: ellipsis;
        word-break: break-all;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 2;
        text-align: left;
        font-size: 12px;
        color: #333;
        line-height: 14px;
        height: 28px;
      }
      .pri-pri {
        margin-top: 5px;
        text-align: left;
        display: block;
        color: #bd252c;
        font-size: 12px;
      }
    }
  }
}
/* 新品特惠 end*/
/* 热门标签 start*/
.nav-bar-title {
  padding: 0 0 5px;
  margin: 0;

  .nav-title-left{
   padding: 0;
   margin: 0;
   max-width:50%;
   height: 30px;

   .bar-name-mid {
    height: 30px;
    padding: 7px;
    line-height: 30px;
    color: #fff;
    font-size: 14px;
   }
  }
  .nav-title-right{
    padding: 0;
    margin: 0;
    text-align: right;

    a {
      cursor: pointer;
      margin-right: 20px;
      text-decoration: none;
      color: #666c70;

      span {
        margin-left: 5px;
      }
    }
  }
}
/* 热门标签 start */
/* 商标显示 start */
.prdt-logo-one-row {
  padding: 0;
  border-top: 1px solid #eee;
  border-right: 1px solid #eee;
  border-bottom: 1px solid #eee;
  .logo-item {
    padding-bottom: 50%;
    height: 0;
    display: block;
    overflow: hidden;
    width: 100%;

    .bg-img {
      width: 100%;
      display: block;
      margin: 0 auto;
    }
  }
}

/* 商标显示 end */
.platform-ios .popover-arrow {
  position: absolute;
  display: block;
  top: -17px;
  width: 30px;
  height: 19px;
  overflow: hidden;
}
.platform-ios .popover-arrow:after {
  position: absolute;
  top: 12px;
  left: 5px;
  width: 20px;
  height: 20px;
  background-color: #ad1222;
  border-radius: 3px;
  content: '';
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.ion-record:before {
  content: "\f21b";
  font-size: 6pt;
  color: #802a2c;
}

.bar .button.button-clear.icon-left:before {
  font-size: 22px;
  min-width: 26px;
  line-height: 32px;
}
.tabs {
  padding: 0;
}

ion-tabs.tabs-color-active-positive .tab-item {
  color: #000;
  font-weight: 700;
}
ion-tabs.tabs-color-active-positive .tab-item.tab-item-active {
  color: #bd252c;
  font-weight: 700;
}
