/* 发现 start */ 
.find-nav-bar {
  position: absolute;
  z-index: 999;
  margin: 0;
  top: 44px;
  left: 0;
  padding: 10px 0;
  background-color: #fff;
  border-bottom: 1px solid #000;

  .find-item {
    padding: 0;

    a {
      padding: 2px;
      display: block;
      text-align: center;

      img {
        display: block;
        margin: 0 auto;
        width: 35px;
        height: 35px; 
      }

      span {
        display: inline-block;
        margin-top: 4px; 
        margin-bottom: 0;
        color: #666;
        font-size: 12px;
      }
    }
  }
}
/* 发现 end */
/* 热门分类 start */
.prdt-hot-sort {
  padding: 0;
  background-color: #fff;
  border-top: 1px solid #000;

  .prdt-item {
    padding: 0;

    a {
      margin: 15px 0;
      display: block;
      text-align: center;

      img {
        display: block;
        margin: 0 auto;
        width: 40px;
        height: 40px;
        border-radius: 50%; 
      }

      span {
        display: inline-block;
        margin-top: 10px; 
        margin-bottom: 0;
        color: #666;
        font-size: 12px;
      }
    }
  }
}
/* 热门分类 end */
/* 新品特惠 start*/
.new-prdt-title {
  .camp-title-left {
   padding: 0;
   margin: 0;
   max-width:50%;
   height: 30px;

   .bar-name {
    height: 30px;
    padding: 7px;
    line-height: 30px;
    color: #fff;
    font-size: 14px;
   }
  }
  .camp-title-right {
    padding: 0;
    margin: 0;

    span {
      font-size: 12px;
    }

    .end-time {
      color: #FF0000;
      font-size: 16px;
      font-weight: 300;
    }
  }
}
.index-prdt-cont {
  padding-top: 5px;
  .pad-5 {
    padding: 3px 1px 10px;
  }
  .new-prdt {
    padding: 0px;
    margin: 2px;

    a {
      display: block;
      text-align: center;
      border: 1px solid #eee;

      img {
        display: block;
        margin: 0;
        width: 100%;
        height: 160px; 
      }

      .prdt-descb {
        font-size: 12px;
        margin: 3px;
        line-height: 16px;
        font-weight: 300;
        text-align: left;
        height: 4.3em;
        overflow: hidden;
      } 
      .pri-pri {
        text-align: left;
        color: #c9000b;
        font-size: 14px;
        padding: 0;
      }

      .pri-ori {
        text-align: right;
        color: #666c70;
        font-size: 12px;
        text-decoration: line-through;
        padding: 0;
      }
    }
  }
}
/* 新品特惠 end*/
/* 热门标签 start*/
.nav-bar-title {
  .nav-title-left{
   padding: 0;
   margin: 0;
   max-width:50%;
   height: 30px;

   .bar-name-mid {
    height: 30px;
    padding: 7px;
    line-height: 30px;
    color: #fff;
    font-size: 14px;
   }
  }
  .nav-title-right{
    padding: 0;
    margin: 0;
    text-align: right;

    a {
      cursor: pointer;
      margin-right: 20px;
      text-decoration: none;
      color: #666c70;

      span {
        margin-left: 5px;
      }
    }
  }
}
/* 热门标签 start */
/* 商标显示 start */
.prdt-logo-one-row {
  height: 64px;
  .logo-item {
    padding: 0;
    display: block;
    width: 100%;
    height: 100%;
    border-top: 1px solid #eee;
    border-right: 1px solid #eee;
    border-bottom: 1px solid #eee;

    img {
      width: 100%;
      height: 100%;
    }
  }
  .logo-item:last-child {
    border-right:none;
  }
}
.prdt-logo-two-row {
  height: 64px;
  .logo-item {
    padding: 0;
    display: block;
    width: 100%;
    height: 100%;
    border-right: 1px solid #eee;
    border-bottom: 1px solid #eee;

    img {
      width: 100%;
      height: 100%;
    }
  }
}
/* 商标显示 end */
.platform-ios .popover-arrow {
  position: absolute;
  display: block;
  top: -17px;
  width: 30px;
  height: 19px;
  overflow: hidden; 
}
.platform-ios .popover-arrow:after {
  position: absolute;
  top: 12px;
  left: 5px;
  width: 20px;
  height: 20px;
  background-color: #ad1222;
  border-radius: 3px;
  content: '';
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg); 
}