$text-color: #4a4a4a;
$red-color: #bd252c;
$white-color: #fff;
.hr-line-0 {
  @include hr-divide-line(0, $white-color);
}

.hr-line-1 {
  @include hr-divide-line(1px, #c8c8c8);
}

.hr-line-2 {
  @include hr-divide-line(1px, #f1f1f1);
}

.hr-line-10 {
  @include hr-divide-line(10px, #f6f6f6);
}

.member-bar {
  height: 40px;
  line-height: 40px;
  padding:0;

  .member-bar-line {
    padding: 0;
    text-align: center;
    color: $text-color;
  }

  .member-bar-item {
    padding: 0;
    text-align: center;
    height: 40px;
    font-size: 14px;

    .bar-item-content {
      color: $text-color;
      text-decoration: none;
      position:relative;

      .content-num {
        position: absolute;
        right: -13px;
        top: -7px;
        width: 15px;
        height: 15px;
        background: $red-color;
        overflow: hidden;
        @include border-radius(50%);
        color: $white-color;
        text-align: center;
        line-height: 16px;
        font-size: 10px;
      }
    }
  }
}

.main-fun {
  padding: 0 10px;
  height: 40px;
  line-height: 40px;

  .fun-item {
    padding: 0;
    height: 40px;
    font-size: 14px;

    .fun-item-text {
      color: $text-color;
      text-decoration: none;
    }
  }

  .fun-item-arrow {
    padding: 0;
    height: 40px;
    text-align: right;

    .fun-item-arrow-num {
      color: $red-color;
      font-size: 12px;
      margin-right: 5px;
    }
  }
}

.member-collect {
  padding: 0;
  margin-top: 141px;
  @include opacity(0.7);

  .colt-item {
    padding: 0px;
    background-color: $red-color;
    text-align: center;

    &:first-child {
      border-right: 1px solid $white-color;
    }

    .colt-text {
      line-height: 49px;
      display: block;
      font-size:16px;
      padding: 0;
      text-decoration: none;
      color: $white-color;
      font-weight: 500;
    }
  }
}

.member-header-bgm {
  padding: 0;
  background-color: $white-color;
  background-image: url('../img/me.jpg');
  background-position: 5% 50%;
  background-repeat: no-repeat;
  background-size: cover;
  background-origin:content-box;
  width: 100%;
  height:190px;
  position: relative;

  .mem-user-info {
    padding: 0;
    position:absolute;
    top: 33px;
    padding-left: 16px;
    margin-top: 2px;

    .user-info-logo {
      text-align: center;
      padding: 0;

      img {
        height: 100px;
        width: 100px;
        @include border-radius(50%);
      }
    }

    .user-info-msg {
      padding: 0;
      font-size: 14px;
      color: $text-color;
      margin: 46px 0 0 14px;
    }
  }
}
